.wrapper.skepia .menu .navigation.invert>li.openable, .wrapper.skepia .menu .navigation.invert>li.openable:hover
	{
	background: #746450
		url("../img/styles/skepia/menu_arrow_down_brown.png") scroll no-repeat
		198px 10px
}

.wrapper.skepia .menu .navigation.invert>li.openable.active {
	background: #746450 url("../img/styles/skepia/menu_arrow_up.png") scroll
		no-repeat 198px 10px
}