.ms-container:after {
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	min-height: 0;
	visibility: hidden;
}

.ms-container {
	margin-bottom: 5px;
	background: url('../img/switch.png') center center no-repeat;
}

.ms-container .ms-selectable, .ms-container .ms-selection {
	width: 48%;
	background: #fff;
	color: #555555;
	float: left;
}

.ms-container .ms-selection {
	float: right;
}

.ms-container .ms-list {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ms-selected {
	display: none;
}

.ms-container .ms-selectable {
	
}

.ms-container .ms-list.ms-focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted \9;
}

.ms-container ul {
	margin: 0;
	list-style-type: none;
}

.ms-container ul.ms-list {
	height: 200px;
	padding: 0px 0px;
	overflow-y: auto;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selected
	{
	border-bottom: 1px #eee solid;
	padding: 2px 10px;
	color: #555;
	font-size: 11px;
}

.ms-container .ms-selectable li.disabled, .ms-container .ms-selection li.disabled
	{
	background-color: #eee;
	color: #aaa;
}

.ms-container .ms-optgroup-label {
	padding: 5px 0px 0px 5px;
	cursor: pointer;
	color: #999;
}

.ms-container li.ms-elem-selectable:not(.disabled).ms-hover,
	.ms-container .ms-selection li:not(.disabled).ms-hover {
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
}

.multipleselect-header {
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background: url("../img/backgrounds/nav.jpg") left top repeat-x;
	border: 1px solid #CCC;
	color: #333;
	text-shadow: 1px 1px 0px #FFF;
	padding: 1px 5px 0px;
	border-bottom: 0px;
	font-size: 11px;
}