.button-back {
	float: left;
}

.button-next, .finish {
	float: right;
}

.step {
	width: 100%;
}

.step label {
	color: #444;
	display: block;
	font: bold 10px verdana;
	margin: 10px 0 3px 7px;
}

.step legend {
	display: none;
}

* html .stepy-titles {
	height: 1%;
	overflow: visible;
} /* ie 6 */
*+html .stepy-titles {
	min-height: 1%;
} /* ie 7 */
.stepy-titles:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.stepy-titles {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	border: 1px solid #DDD;
	background: #EEE;
}

.stepy-titles li {
	color: #DDD;
	cursor: pointer;
	font: bold 18px verdana;
	float: left;
	padding: 10px;
}

.stepy-titles li span {
	font: 11px verdana;
	display: block;
}

.stepy-titles .current-step {
	color: #40516b;
	cursor: auto;
	text-shadow: 0 1px white;
}