.clear {
	clear: left;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.dr {
	height: 5px;
	margin: 0px 0px 20px;
	width: 100%;
	clear: left;
	background: url("../img/backgrounds/divider.png") left center repeat-x;
}

.dr span {
	background: url("../img/backgrounds/divider_span.png") center center
		no-repeat;
	width: 100%;
	height: 5px;
	display: block;
}

.menu .dr {
	float: left;
	margin: 10px 0px;
}

.wrapper {
	margin: 0px auto;
}

.header {
	display: block;
	height: 40px;
	width: 100%;
	position: absolute;
	z-index: 1999;
	background: url("../img/styles/default/backgrounds/header.jpg") left top
		repeat-x;
}

.header .logo {
	display: block;
	float: left;
	padding: 8px 3px;
}

.header .header_menu {
	display: block;
	float: right;
	padding: 3px 20px;
	margin: 0px;
	list-style: none;
}

.header .header_menu li {
	display: block;
	float: left;
	padding: 0px;
	margin: 4px 5px 4px 0px;
}

.header .header_menu li a {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	text-decoration: none;
}

.header .header_menu li:last-child {
	margin-right: 0px;
}

.header .header_menu li.list_icon {
	background: url("../img/styles/default/header_menu_list.png") left top
		no-repeat;
	display: none;
}

.header .header_menu li.settings_icon {
	background: url("../img/styles/default/header_menu_settings.png") left
		top no-repeat;
}

.header .header_menu li .popup {
	right: 14px;
	top: 40px;
}

.header .header_menu li .popup .head .arrow {
	width: 17px;
	height: 12px;
	left: auto;
	right: 10px !important;
	top: -11px;
	background: url("../img/styles/default/arrow-top.png") left top
		no-repeat transparent;
}

.header .header_menu li .popup .checker {
	padding-left: 0px;
	cursor: pointer;
}

.header .header_menu li .popup .checker input[type='checkbox'] {
	margin: 0px;
	margin-top: -10px;
}

.header .header_menu li .popup .row-fluid {
	margin-bottom: 0px;
}

.header .header_menu li .popup .row-fluid div[class^='span'] {
	font-size: 11px;
	line-height: 30px;
}

.menu {
	display: block;
	width: 219px;
	position: absolute;
	margin-top: 40px;
	z-index: 999;
	background: url("../img/backgrounds/menu.jpg") left top repeat;
	border-bottom: 1px solid #CCCCCC;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right /*\**/: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	padding-bottom: 1px;
}

.menu .breadLine {
	border-right: 0px;
	border-left: 0px;
}

.menu .breadLine .arrow {
	position: absolute;
	left: 110px;
	top: -12px;
	background: url("../img/menu-arrow-top.png") left top repeat;
	width: 17px;
	height: 12px;
	display: none;
}
/* ~ADMIN~ */
.adminControl {
	padding: 1px 10px 0px 16px;
	float: left;
	font-size: 11px;
	color: #333;
	background: url("../img/arrow_left.png") left center no-repeat;
	width: 194px;
	cursor: pointer;
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.adminControl.active {
	background: url("../img/arrow_right.png") 200px 4px no-repeat;
}

.admin {
	display: none;
	float: left;
	position: relative;
	padding: 5px;
	width: 209px;
	-moz-box-shadow: inset 0 0 5px #CCC;
	-webkit-box-shadow: inset 0 0 5px #CCC;
	box-shadow: inset 0 0 5px #CCC;
}

.admin .image {
	float: left;
	width: 62px;
	margin-right: 5px;
}

.admin ul.control, .headInfo ul.control {
	display: block;
	float: left;
	width: 142px;
	list-style: none;
	margin: 0px;
}

.admin ul.control li a, .headInfo ul.control li a {
	font-size: 11px;
	color: #333;
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.admin ul.control li .caption {
	display: block;
	float: right;
	font-size: 10px;
	background-color: #333;
	color: #fff;
	padding: 2px 4px 2px 3px;
	line-height: 13px;
	margin: 3px 0px 3px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	text-shadow: none;
}

.admin ul.control li .caption.red {
	background-color: #a5302c;
}

.admin ul.control li .caption.green {
	background-color: #225B15;
}

.admin ul.control li .caption.yellow {
	background-color: #FBB450;
}

.admin .info {
	float: left;
	padding: 5px;
	font-size: 10px;
	color: #666;
	line-height: 14px;
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

/* ~NAVIGATION~ */
.navigation {
	list-style: none;
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
}

.navigation li {
	border-top: 1px solid #5a87b5;
	border-bottom: 1px solid #335A85;
	border-right: 1px solid #335A85;
	background: url("../img/styles/default/backgrounds/menu-item.jpg") left
		top repeat-x;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	width: 218px;
	position: relative;
}

/*.menu .navigation li:hover,.menu .navigation li.active{border-color: #143D6B; border-top-color: #5a87b5; background: url("../img/styles/default/backgrounds/menu-item-active.jpg") left top repeat-x;}*/
.navigation li.openable {
	background: url("../img/styles/default/menu_arrow_down.png") 198px 12px
		no-repeat, url("../img/styles/default/backgrounds/menu-item.jpg") left
		top repeat-x;
}

.navigation li.openable.active {
	background: url("../img/styles/default/menu_arrow_down.png") 198px 12px
		no-repeat,
		url("../img/styles/default/backgrounds/menu-item-active.jpg") left top
		repeat-x;
}

.navigation li.openable:hover {
	background: url("../img/styles/default/menu_arrow_down.png") 198px 12px
		no-repeat,
		url("../img/styles/default/backgrounds/menu-item-active.jpg") left top
		repeat-x;
}

.navigation li.openable.active {
	background: url("../img/styles/default/menu_arrow_up.png") 198px 12px
		no-repeat,
		url("../img/styles/default/backgrounds/menu-item-active.jpg") left top
		repeat-x;
}

.navigation li>a {
	color: #fff;
	text-decoration: none;
	padding: 0px;
	display: block;
	float: left;
	width: 218px;
	position: relative;
	-moz-text-shadow: 0 1px 1px #333;
	-webkit-text-shadow: 0 1px 1px #333;
	text-shadow: 0 1px 1px #333;
}

.navigation li>a span.text {
	width: 182px;
	padding: 9px 0px;
	display: block;
	margin-left: 10px;
	float: left;
	overflow: hidden;
}

.navigation li.openable>ul {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 219px;
	display: none;
}

.navigation li.active>ul {
	display: block !important;
}

.navigation li>ul>li {
	display: block;
	float: left;
	width: 219px;
	background: #F2F2F2;
	border-top: 1px solid #92826c !important;
	border-bottom: 0 none !important;
	border-right: 0 none;
}
/*.navigation li > ul > li:hover, */
/*.navigation li > ul > li.active{background: #EDEDED !important;}*/
.navigation li>ul>li>a {
	display: block;
	float: left;
	padding-left: 0px;
	width: 175px;
}

.navigation li>ul>li>a span.text {
	color: #fff;
	font-size: 11px;
	padding: 6px 0px;
	width: 140px;
	-moz-text-shadow: 0 1px 1px #333;
	-webkit-text-shadow: 0 1px 1px #333;
	text-shadow: 0 1px 1px #333;
}

.navigation li>ul>li>a [class*="icon-"] {
	margin: 9px 0px 7px 10px;
	display: block;
	float: left;
}

.navigation li>ul>li>a.caption {
	float: right;
	width: auto;
	background-color: #fff;
	color: #335A85;
	text-align: center;
	font-size: 11px;
	height: 18px;
	line-height: 18px;
	padding: 0px 5px;
	margin: 6px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	margin-right: 5px;
	border: 1px solid #143D6B;
	background: #143D6B;
	background: -moz-linear-gradient(top, #335A85 0%, #143D6B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #335A85),
		color-stop(100%, #143D6B));
	background: -webkit-linear-gradient(top, #335A85 0%, #143D6B 100%);
	background: -o-linear-gradient(top, #335A85 0%, #143D6B 100%);
	background: -ms-linear-gradient(top, #335A85 0%, #143D6B 100%);
	background: linear-gradient(top, #335A85 0%, #143D6B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335A85',
		endColorstr='#143D6B', GradientType=0);
}

.navigation li>ul>li>a.red {
	border: 1px solid #772E2C;
	background: #a5302c;
	background: -moz-linear-gradient(top, #c93934 0%, #a5302c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c93934),
		color-stop(100%, #a5302c));
	background: -webkit-linear-gradient(top, #c93934 0%, #a5302c 100%);
	background: -o-linear-gradient(top, #c93934 0%, #a5302c 100%);
	background: -ms-linear-gradient(top, #c93934 0%, #a5302c 100%);
	background: linear-gradient(top, #c93934 0%, #a5302c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93934',
		endColorstr='#a5302c', GradientType=0);
}

.navigation li>ul>li>a.green {
	border: 1px solid #225B15;
	background: #2E801E;
	background: -moz-linear-gradient(top, #55AB2D 0%, #2E801E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #55AB2D),
		color-stop(100%, #2E801E));
	background: -webkit-linear-gradient(top, #55AB2D 0%, #2E801E 100%);
	background: -o-linear-gradient(top, #55AB2D 0%, #2E801E 100%);
	background: -ms-linear-gradient(top, #55AB2D 0%, #2E801E 100%);
	background: linear-gradient(top, #55AB2D 0%, #2E801E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55AB2D',
		endColorstr='#2E801E', GradientType=0);
}

.navigation li>ul>li>a.yellow {
	border: 1px solid #AD6704;
	background: #FBB450;
	background: -moz-linear-gradient(top, #FBB450 0%, #F89406 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBB450),
		color-stop(100%, #F89406));
	background: -webkit-linear-gradient(top, #FBB450 0%, #F89406 100%);
	background: -o-linear-gradient(top, #FBB450 0%, #F89406 100%);
	background: -ms-linear-gradient(top, #FBB450 0%, #F89406 100%);
	background: linear-gradient(top, #FBB450 0%, #F89406 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBB450',
		endColorstr='#F89406', GradientType=0);
}

/* ~NAVIGATION~ */
.menu .widget, .menu .widget-fluid {
	display: block;
	float: left;
	width: 200px;
	padding: 0px 10px;
}

.menu .widget-fluid {
	padding: 0px;
	width: 219px;
}

.menu .widget .input-append, .menu .widget-fluid .input-append {
	margin-bottom: 0px;
}

.menu .popup {
	right: -415px;
}

.popup {
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 400px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
	display: none;
}

.popup .head {
	background: url("../img/styles/default/backgrounds/box-head.jpg") left
		top repeat-x;
	background-clip: padding-box;
	position: relative;
}

.popup .head .arrow {
	position: absolute;
	left: -12px;
	top: 10px;
	width: 12px;
	height: 17px;
	background: url("../img/styles/default/arrow.png") left top no-repeat
		transparent;
}

.popup .head .name {
	font-size: 12px;
	color: #fff;
	float: left;
	display: block;
	padding: 10px;
	line-height: 18px;
	font-weight: bold;
}

.popup .body {
	padding: 10px;
	position: relative;
	border-right /*|**/: 1px solid #D5D5D5;
	border-left /*|**/: 1px solid #D5D5D5;
}

.popup .body-fluid {
	position: relative;
	padding: 0px;
	border-right /*|**/: 1px solid #D5D5D5;
	border-left /*|**/: 1px solid #D5D5D5;
}

.popup .messages .item, .block.messages .item {
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
	position: relative;
}

.popup .messages .item .image, .block.messages .item .image {
	display: inline-block;
	width: 60px;
	padding: 5px 0px 5px 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.popup .messages .item .info, .block.messages .item .info {
	padding: 5px 5px 5px 70px;
	font-size: 11px;
}

.popup .messages .item .info .name, .block.messages .item .info .name {
	font-size: 11px;
	color: #005580;
	font-weight: bold;
}

.popup .messages .item .info p, .block.messages .item .info p {
	margin: 0px;
	font-size: 11px;
	color: #333;
	line-height: 17px;
}

.popup .messages .item .info>span, .block.messages .item .info>span {
	color: #999;
	font-size: 11px;
}

.popup .messages .item:last-child, .block.messages .item:last-child {
	border-bottom: 0px;
}

.block.messages .item:first-child {
	border-top: 0px;
}

.popup .messages .item:first-child .image, .block.messages .item:first-child .image,
	.popup .messages .item:first-child .info, .block.messages .item:first-child .info
	{
	padding-top: 0px;
}

.popup .footer, .block .footer {
	background-color: #F2F2F2;
	border-top: 1px solid #DAE1E8;
	padding: 8px 5px 7px;
	text-align: right;
}

.popup .footer {
	border-right /*|**/: 1px solid #D5D5D5;
	border-left /*|**/: 1px solid #D5D5D5;
	border-bottom /*|**/: 1px solid #D5D5D5;
}

.popup .search {
	position: relative;
}

.popup .search input[type="text"], .popup .search input[type="password"],
	.popup .search input textarea {
	width: 100%;
	font-size: 11px;
	color: #454545;
	padding: 7px 7px 5px;
	border: 1px solid #D7D7D7;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
	background: #FDFDFD;
	height: 26px;
	margin: 0px;
}

/* BLOCK NEWS */
.block.news .item {
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
	position: relative;
	padding-bottom: 5px;
}

.block.news .item:first-child {
	border-top: 0px;
}

.block.news .item:last-child {
	border-bottom: 0px;
}

.block.news .item>a {
	font-size: 12px;
	font-weight: bold;
}

.block.news .item>p {
	font-size: 11px;
	color: #333;
	margin: 0px 10px;
}

.block.news .item>span.date {
	font-size: 11px;
	color: #999;
}

.block.news .item .controls {
	position: absolute;
	right: 5px;
	bottom: 5px;
	opacity: 0.5;
}

.block.news .item .controls:hover {
	opacity: 0.8;
}
/* BLOCK NEWS */
.breadLine {
	height: 23px;
	background: url("../img/backgrounds/nav.jpg") left top repeat-x;
	border: 1px solid #CCC;
	border-top: 0px;
}

.breadLine .breadcrumb {
	float: left;
}

.breadLine .breadcrumb, .breadLine .breadcrumb li, .breadLine .breadcrumb a
	{
	font-size: 11px;
}

.breadLine .buttons {
	display: block;
	float: right;
	padding: 0px;
	margin: 0px 20px 0px 0px;
	list-style: none;
	border-right: 1px solid #D5D5D5;
}

.breadLine .buttons li {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
	border-left: 1px solid #D5D5D5;
	position: relative;
}

.breadLine .buttons li>a {
	display: block;
	float: left;
	padding: 1px 5px 2px 10px;
	margin: 0px;
	font-size: 11px;
	color: #333;
}

.breadLine .buttons li>a span {
	margin-right: 5px;
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.breadLine .buttons li>a:hover {
	text-decoration: none;
	background: #E6E6E6;
}

.breadLine .buttons li .popup {
	right: 0px;
	top: 35px;
}

.breadLine .buttons li .popup .head .arrow {
	width: 17px;
	height: 12px;
	left: auto;
	right: 10px !important;
	top: -11px;
	background: url("../img/styles/default/arrow-top.png") left top
		no-repeat transparent;
}

.content {
	position: relative;
	margin-left: 220px;
	padding-top: 40px;
}

.content .workplace {
	position: relative;
	padding: 20px;
}

/* ~BOXES~ */
.content .workplace .head {
	background: url("../img/styles/default/backgrounds/box-head.jpg") left
		top repeat-x;
	background-clip: padding-box;
	border: 1px solid #335A85;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-o-border-top-left-radius: 3px;
	-o-border-top-right-radius: 3px;
	-ms-border-top-left-radius: 3px;
	-ms-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.content .workplace .head h1, .content .workplace .head h2, .content .workplace .head h3,
	.content .workplace .head h4, .content .workplace .head h5, .content .workplace .head h6
	{
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	padding: 8px 0px;
	margin: 0px;
	font-weight: bold;
	margin-left: 10px;
	display: block;
	float: left;
	-moz-text-shadow: 0 1px 0 #333;
	-webkit-text-shadow: 0 1px 0 #333;
	text-shadow: 0 1px 0 #333;
}

.content .workplace .head .buttons {
	float: right;
	background: none;
	position: relative;
	list-style: none;
	margin: 0px;
}

.content .workplace .head .buttons>li {
	display: block;
	float: left;
}

.content .workplace .head .buttons li:active, .content .workplace .head .buttons li.active
	{
	background: url('../img/styles/default/backgrounds/box-head-active.jpg')
		left center repeat-x;
}

.content .workplace .head .buttons li>a {
	outline: none;
}

.content .workplace .head .buttons [class*="isw-"], .content .workplace .head .button [class*="isb-"]
	{
	margin: 0px;
	padding: 11px 10px;
	border-left: 1px solid #335A85;
}

.content .workplace .head .buttons li .dd-list {
	display: none;
	position: absolute;
	z-index: 2;
	right: -1px;
	min-width: 150px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	top: 100%;
	background-color: #395E88;
	border: 1px solid #143D6B;
}

.content .workplace .head .buttons li .dd-list li {
	display: block;
	clear: left;
	border-top: 1px solid #507298;
	border-bottom: 1px solid #143D6B;
}

.content .workplace .head .buttons li .dd-list li:last-child {
	border-bottom: 0px;
}

.content .workplace .head .buttons li .dd-list li a {
	line-height: 38px;
	color: #fff;
	font-size: 11px;
	display: block;
	text-decoration: none;
}

.content .workplace .head .buttons li .dd-list li a:hover {
	background-color: #2C517A;
}

.content .workplace .head .buttons li .dd-list li [class*="isw-"],
	.content .workplace .head .button .dd-list li [class*="isb-"] {
	border: 0px;
}

.content .workplace .head .buttons>li.s_loader, .content .workplace .head .buttons>li.w_loader,
	.content .workplace .head .buttons>li.c_loader, .content .workplace .head .buttons>li.loader
	{
	border: 0px;
}

.content .workplace .head .buttons>li.s_loader {
	padding: 9px 13px;
}

.content .workplace .head .buttons>li.c_loader {
	padding: 3px 4px 4px 5px;
}

.content .workplace .head .buttons>li.w_loader, .content .workplace .head .buttons>li.loader
	{
	padding: 3px 5px;
}

.content .workplace .head .buttons>li.toggle a {
	background: url("../img/styles/default/menu_arrow_up.png") center center
		no-repeat;
	display: block;
	float: left;
	width: 30px;
	height: 38px;
	border-left: 1px solid #315680;
}

.content .workplace .head .buttons>li.toggle {
	background: none;
}

.content .workplace .head .buttons>li.toggle.active a {
	background: url("../img/styles/default/menu_arrow_down.png") center
		center no-repeat;
}

.content .workplace .headInfo {
	background-color: #F1F1F1;
	border: 1px solid #D5D5D5;
	padding: 5px;
	position: relative;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.content .workplace .headInfo .arrow_down {
	width: 17px;
	height: 12px;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	bottom: -12px;
	background: url('../img/menu-arrow-down.png') left top no-repeat;
	z-index: 1;
}

.content .workplace .headInfo .image {
	margin: 0px 10px 5px 5px;
	float: left;
}

.content .workplace .headInfo .image a {
	display: block;
	font-weight: bold;
	text-align: center;
}

.content .workplace .headInfo .info {
	float: left;
	font-size: 11px;
	color: #333;
}

.content .workplace .headInfo .info address {
	margin-bottom: 0px;
}

.content .workplace .headInfo .input-append {
	text-align: right;
}

.content .workplace .headInfo .input-append, .content .workplace .headInfo .input-append button
	{
	margin-bottom: 0px;
}

.content .workplace .headInfo .actions {
	text-align: right;
	margin: 5px 0px 0px;
}

.content .workplace .headInfo .actions .btn-group .btn {
	margin: 0px;
}

.block, .block-fluid {
	border: 1px solid #ccc;
	border-top: 0px;
	background-color: #F9F9F9;
	margin-bottom: 20px;
	-moz-border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-o-border-bottom-left-radius: 3px;
	-o-border-bottom-right-radius: 3px;
	-ms-border-bottom-left-radius: 3px;
	-ms-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.block-fluid.without-head, .block.without-head {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-top: 1px solid #ccc;
}

.block {
	padding: 10px;
}

/* bootstrap navbar */
.navbar-inner {
	background: url("../img/styles/default/backgrounds/box-head.jpg") left
		top repeat-x;
	background-clip: padding-box;
	border: 1px solid #335A85;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-height: 38px;
}

.navbar .brand {
	color: #FFF !important;
	text-shadow: 0px 1px 0px #333;
	padding: 8px 20px 8px;
}

.navbar .divider-vertical {
	height: 38px;
	border-right: 1px solid #335A85;
	border-left: 1px solid #5B7FA3;
}

.navbar .nav>li>a {
	padding: 10px 20px 8px;
	color: #FFF;
	text-shadow: 0px 1px 0px #333;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus,
	.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle,
	.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	background: url('../img/styles/default/backgrounds/box-head-active.jpg')
		left center repeat-x;
	color: #FFF;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	color: #F5F5F5;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret, .navbar .nav li.dropdown.open>.dropdown-toggle .caret,
	.navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret
	{
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

/* eof bootstrap navbar */

/* ~Simple table~ */
[class*="block"] .table {
	margin: 0px;
}

[class*="block"] .table tr th {
	padding: 4px 8px;
	font-size: 11px;
	background-color: #F1F1F1;
	color: #666;
}

[class*="block"] .table tr th, [class*="block"] .table tr td {
	border-right: 1px solid #ddd;
}

[class*="block"] .table tr th:last-child, [class*="block"] .table tr td:last-child
	{
	border-right: 0px;
}

[class*="block"] .table tr td {
	background-color: #F9F9F9;
}

[class*="block"] .table tr:nth-child(2n+1) td {
	background-color: #FFF;
}

.table.images td.info>* {
	display: block;
	width: auto;
	clear: both;
}

.table.images td.info>span {
	font-size: 11px;
	color: #999;
}

/* ~Simple table~ */

/* Messaging */
.messaging {
	padding-top: 5px;
}

.messaging .itemIn, .messaging .itemOut {
	margin: 5px 0px 10px 0px;
	clear: left;
	position: relative;
}

.messaging .itemIn .text, .messaging .itemOut .text {
	padding: 7px 8px;
	border: 1px solid #d5d5d5;
	background-color: #FFF;
	margin-right: 70px;
	font-size: 11px;
	color: #333;
	line-height: 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.messaging .itemOut .text {
	margin: 0px 0px 0px 70px;
}

.messaging .itemOut .text .info, .messaging .itemIn .text .info {
	margin-bottom: 5px;
}

.messaging .itemOut .text .info .name, .messaging .itemIn .text .info .name
	{
	float: left;
	font-size: 11px;
	color: #005580;
	font-weight: bold;
}

.messaging .itemOut .text .info .name {
	color: #333;
}

.messaging .itemOut .text .info .date, .messaging .itemIn .text .info .date
	{
	float: right;
	font-size: 11px;
	color: #999;
}

.messaging .itemIn .image, .messaging .itemOut .image {
	position: absolute;
	display: block;
	right: 0px;
	top: 0px;
}

.messaging .itemOut .image {
	right: auto;
	left: 0px;
}

.messaging .controls {
	margin-top: 20px;
	text-align: right;
}

.messaging .controls .control {
	padding: 0;
	marign: 0;
	display: block;
	padding-right: 10px;
}

.messaging .controls .control textarea {
	width: 100%;
	padding: 4px;
	font-size: 11px;
}

/* Messaging */
.row-form {
	border-bottom: 1px solid #DDD;
	border-top: 1px solid white;
	padding: 19px 16px;
	vertical-align: baseline;
}

div[class^="span"] .row-form:first-child {
	border-top: 0px;
}

div[class^="span"] .row-form:last-child {
	border-bottom: 0px;
}

.row-form [class^="span"] {
	line-height: 30px;
}

.row-form input[type="text"], .row-form input[type="password"],
	.row-form textarea {
	width: 100%;
	font-size: 11px;
	color: #454545;
	padding: 0px 7px 0px;
	border: 1px solid #D7D7D7;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
	background: #FDFDFD;
	height: 26px;
	margin: 0px;
	line-height: 24px;
}

.row-form input[type="text"].input-mini, .row-form input[type="password"].input-mini
	{
	width: 50px;
}

.row-form input[type="text"].input-small, .row-form input[type="password"].input-small
	{
	width: 90px;
}

.row-form input[type="text"].input-medium, .row-form input[type="password"].input-medium
	{
	width: 150px;
}

.row-form input[type="text"].input-large, .row-form input[type="password"].input-large
	{
	width: 210px;
}

.row-form input[type="text"].input-xlarge, .row-form input[type="password"].input-xlarge
	{
	width: 270px;
}

.row-form input[type="text"].input-xxlarge, .row-form input[type="password"].input-xxlarge
	{
	width: 530px;
}

.row-form textarea {
	min-height: 100px;
}

.row-form select {
	margin: 0px;
	font-size: 11px;
	color: #666;
	padding: 7px 5px 6px 5px;
	display: inline-block;
	line-height: 11px;
	border: 1px solid #AAAAAA;
	width: auto;
	max-width: 100%;
	width: 100%;
	background: #FFF;
	background: -moz-linear-gradient(center bottom, #EEE 0%, white 50%);
	background: -webkit-gradient(linear, center bottom, center bottom, color-stop(0%,
		#EEE), color-stop(50%, #FFF));
	background: -webkit-linear-gradient(center bottom, #EEE 0%, #FFF 50%);
	background: -o-linear-gradient(center bottom, #EEE 0%, #FFF 50%);
	background: -ms-linear-gradient(center bottom, #EEE 0%, #FFF 50%);
	background: linear-gradient(center bottom, #EEE 0%, #FFF 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE',
		endColorstr='#FFFFFF', GradientType=0);
}

.row-form select optgroup {
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.row-form select option {
	padding: 3px;
}

.row-form select[multiple] {
	min-height: 100px;
	padding: 0px 0px 0px 5px;
	background: none;
	background-color: #FFF;
}

.row-form .select2-container, .select2-results {
	font-size: 11px;
}

.row-form label.inline {
	font-size: 11px;
}

.radio.inline, .checkbox.inline {
	padding-top: 0px;
}

.row-form span {
	font-size: 11px;
	color: #666;
}

.row-form input[type="checkbox"], .row-form input[type="radio"] {
	margin-left: 0px;
}

.formErrorContent {
	line-height: 19px !important;
}

.scrollBox {
	padding-right: 0px;
}

.scroll {
	overflow: hidden;
}

/* ~BOXES~ */

/* ~USERS LIST~ */
.users {
	position: relative;
	padding-left: 0px !important;
}

.users .item {
	clear: both;
	border-bottom: 1px solid #E4E8ED;
	padding: 8px 10px;
	position: relative;
	cursor: pointer;
}

.users .item:hover {
	background-color: #EDF1F5;
}

.users .item:last-child {
	border-bottom: 0px;
}

.users .item .image {
	position: absolute;
	left: 10px;
	top: 8px;
}

.users .item .info {
	padding-left: 42px;
	line-height: 32px;
}

.users .item .info a {
	font-size: 11px;
	color: #005580;
	font-weight: bold;
}

.users .item .info span {
	font-size: 11px;
	color: #738392;
	position: absolute;
	top: 8px;
	left: 50%;
}

.users .item .info span.text {
	left: auto;
	right: 10px;
	color: #333;
	font-weight: bold;
}

.users .item .info .controls {
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.5;
}

.users .item .info .controls:hover {
	opacity: 0.8;
}
/* ~USERS LIST~ */

/* ACCORDION */
.ui-accordion .ui-accordion-header {
	background-color: #F2F2F2;
	padding: 8px 10px 8px 30px;
	font-size: 12px;
	color: #005580;
	font-weight: bold;
	border: 0px;
	border-bottom: 1px solid #E4E8ED;
}

.ui-accordion .ui-state-hover {
	background-color: #ededed;
}

.ui-accordion .ui-widget-content:last-child {
	box-shadow: none;
}

.ui-accordion .ui-accordion-header:last-child {
	border-bottom: 0px;
	box-shadow: none;
}

/* DIALOG */
.dialog {
	padding: 10px 0px 10px 10px !important;
}

.dialog .block {
	border: 0px;
	padding: 0px;
	padding-right: 10px;
	background: transparent;
}

.dialog .block input[type="text"], .dialog .block input[type="password"],
	.dialog .block textarea {
	width: 100%;
	font-size: 11px;
	color: #454545;
	padding: 7px 7px 5px;
	border: 1px solid #D7D7D7;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	display: inline-block;
	background: #FDFDFD;
	height: 26px;
	margin: 0px;
}

.dialog .block textarea {
	min-height: 100px;
}

/* SLIDER */
.amount {
	line-height: 17px;
	font-size: 11px;
	color: #5A799C;
}

/* SIMPLE LIST */
.sList {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sList li {
	display: block;
	padding: 8px 10px 6px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
	cursor: pointer;
}

.sList li:hover {
	background-color: #F9F9F9;
}

.sList .placeholder {
	background-color: #fff8c4;
	height: 20px
}

/* LIST */
.withList {
	padding-top: 5px;
}

ul.list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: relative;
	float: none;
}

ul.list li {
	padding: 8px 5px 8px 45px;
	color: #333;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #D9D9D9;
	position: relative;
}

ul.list.nol li {
	padding: 8px 10px;
}

ul.list li:first-child {
	border-top: 0px;
}

ul.list li:last-child {
	border-bottom: 0px;
}

ul.list li span.date {
	font-size: 11px;
	color: #666;
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 30px;
	line-height: 12px;
	text-align: center;
}

ul.list li span.date b {
	color: #2E801E;
	display: block;
}
/* LIST */
.block .footer, .block-fluid .footer {
	background-color: #F2F2F2;
	border-top: 1px solid #DAE1E8;
	padding: 5px 5px 4px;
	text-align: right;
	margin-top: 5px;
}

/* SORTABLE TABLES*/
.dataTable {
	float: left;
}

.table-sorting {
	padding: 0px;
	position: relative;
	font-size: 12px;
	background-color: #FFF;
}

.table-sorting .dataTables_wrapper {
	float: left;
	width: 100%;
}

.table-sorting .dataTables_length {
	font-size: 11px;
	color: #333;
	line-height: 16px;
	width: 150px;
	float: left;
	padding: 5px;
}

.table-sorting .dataTables_length label, .table-sorting .dataTables_filter label
	{
	font-size: 11px;
	color: #333;
	padding: 0px;
	line-height: 16px;
	height: auto;
	margin: 0px;
}

.table-sorting .dataTables_length label select {
	padding: 3px 2px 3px 5px;
	font-size: 11px;
	color: #333;
	width: auto;
	line-height: 16px;
	margin: 0px;
}

.table-sorting .dataTables_filter {
	font-size: 11px;
	color: #333;
	line-height: 16px;
	width: 150px;
	float: right;
	padding: 5px;
}

.table-sorting .dataTables_filter label input[type="text"] {
	font-size: 11px;
	padding: 3px 2px 3px 5px;
	color: #333;
	line-height: 14px;
	margin: 0px;
	width: 100px;
	height: 15px;
}

.table-sorting .table {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.table-sorting .table td.dataTables_empty {
	font-size: 11px;
	text-align: center;
	color: #333;
}

.table-sorting .dataTables_info {
	float: left;
	font-size: 11px;
	color: #333;
	padding: 8px 10px;
	line-height: 16px;
}

.table-sorting .dataTables_paginate {
	padding: 5px 5px;
	text-align: right;
	float: right;
}

.table-sorting .dataTables_paginate a.paginate_disabled_previous,
	.table-sorting .dataTables_paginate a.paginate_disabled_next,
	.table-sorting .dataTables_paginate a.paginate_button, .table-sorting .paginate_enabled_next,
	.table-sorting .paginate_active, .table-sorting .paginate_enabled_previous
	{
	padding: 3px 5px;
	margin-left: 3px;
	font-size: 11px;
	color: #333;
	border: 1px solid #DDD;
	background: #F1F1F1;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9),
		color-stop(100%, #F1F1F1));
	background: -webkit-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
	background: linear-gradient(top, #F9F9F9 0%, #F1F1F1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9',
		endColorstr='#F1F1F1', GradientType=0);
	text-decoration: none;
	cursor: pointer;
}

.table-sorting .paginate_active {
	color: #FFF !important;
	border: 1px solid #777;
	background: #858585;
	background: -moz-linear-gradient(top, #999999 0%, #888888 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999),
		color-stop(100%, #888888));
	background: -webkit-linear-gradient(top, #999999 0%, #888888 100%);
	background: -o-linear-gradient(top, #999999 0%, #888888 100%);
	background: -ms-linear-gradient(top, #999999 0%, #888888 100%);
	background: linear-gradient(top, #999999 0%, #888888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff999999',
		endColorstr='#ff888888', GradientType=0);
}

.table-sorting .dataTables_paginate .paginate_enabled_next:hover,
	.table-sorting .dataTables_paginate a.paginate_button:hover,
	.table-sorting .dataTables_paginate .paginate_enabled_previous:hover {
	box-shadow: inset 0 1px 3px #ccc, 0 1px 0 white;
	color: #666;
}

.table-sorting .dataTables_paginate a.paginate_disabled_previous,
	.table-sorting .dataTables_paginate a.paginate_button_disabled,
	.table-sorting .dataTables_paginate a.paginate_disabled_next {
	cursor: default;
	color: #ccc;
}

.table-sorting .dataTables_paginate a.paginate_button_disabled:hover {
	box-shadow: none;
	color: #ccc;
}

.table-sorting .sorting_asc {
	background: url('../img/datatable/sort_asc.png') no-repeat center right;
	cursor: pointer;
}

.table-sorting .sorting_desc {
	background: url('../img/datatable/sort_desc.png') no-repeat center right;
	cursor: pointer;
}

.table-sorting .sorting {
	background: url('../img/datatable/sort_both.png') no-repeat center right;
	cursor: pointer;
}

.table-sorting .sorting_asc_disabled {
	background: url('../img/datatable/sort_asc_disabled.png') no-repeat
		center right;
}

.table-sorting .sorting_desc_disabled {
	background: url('../img/datatable/sort_desc_disabled.png') no-repeat
		center right;
}

/* ~GALLERY~ */
.block.gallery a, .block-fluid.gallery a {
	display: inline-block;
}

.block.thumbs .thumbnail, .block-fluid.thumbs .thumbnail {
	width: 210px;
	display: block;
	float: left;
}

.block.thumbs .thumbnail h3, .block-fluid.thumbs .thumbnail h3 {
	line-height: 30px;
}

.block.thumbs .thumbnail>a, .block-fluid.thumbs .thumbnail>a {
	width: 210px;
	display: block;
	text-align: center;
}

/* ~GALLERY~ */

/* ~WIDGETS~ */
.sOrders {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	position: relative;
	background-color: #F9F9F9;
}

.sOrders tr {
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
}

.sOrders tbody tr:nth-child(2n+1) {
	background-color: #FFF;
}

.sOrders tbody tr:last-child {
	border-bottom: 0px;
}

.sOrders tfoot tr {
	border-top: 1px solid #E4E8ED;
}

.sOrders th {
	padding: 5px;
	font-size: 11px;
	color: #666;
	border-right: 1px solid #E4E8ED;
	text-align: left;
	background-color: #F1F1F1;
}

.sOrders td {
	padding: 5px;
	border-right: 1px solid #E4E8ED;
}

.sOrders td a {
	color: #005580;
}

.sOrders td span {
	display: block;
}

.sOrders td span.date {
	color: #2E801E;
	font-weight: bold;
	text-align: center;
}

.sOrders td span.time {
	color: #999;
	text-align: center;
	font-size: 11px;
}

.sOrders td span.price {
	color: #772E2C;
	font-weight: bold;
}

.sOrders th:last-child, .sOrders td:last-child {
	border-right: 0px;
}

/* ~WIDGETS~ */

/* ~WIDGET BUTTONS ~*/
.widgetButtons {
	border: 0px;
	text-align: center;
	padding: 5px 0px;
}

.widgetButtons .bb {
	border: 1px solid #D5D5D5;
	padding: 5px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 5px;
	position: relative;
	-moz-box-shadow: inset 0 0 5px #D5D5D5;
	-webkit-box-shadow: inset 0 0 5px #D5D5D5;
	box-shadow: inset 0 0 5px #D5D5D5;
	background-color: #FFF;
	display: inline-block;
}

.widgetButtons .bb:first-child {
	margin: 0px;
}

.widgetButtons .bb a span[class^=ibb] {
	opacity: 0.8;
}

.widgetButtons .bb>a {
	display: block;
	float: left;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widgetButtons .bb a {
	color: #FFF;
	border: 1px solid #416C9B;
	background: #416C9B;
	background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5B7EA4),
		color-stop(100%, #416C9B));
	background: -webkit-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -o-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -ms-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4',
		endColorstr='#416C9B', GradientType=0);
	-moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
	-webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
	box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
}

.widgetButtons .gray a, .wBlock.gray {
	color: #333 !important;
	border: 1px solid #D9D9D9 !important;
	background: #E5E5E5 !important;
	background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9),
		color-stop(100%, #E5E5E5)) !important;
	background: -webkit-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%)
		!important;
	background: -o-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%) !important;
	background: -ms-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%)
		!important;
	background: linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9',
		endColorstr='#E5E5E5', GradientType=0) !important;
	-moz-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
	-webkit-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
	box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
}

.widgetButtons .yellow a, .wBlock.yellow {
	border: 1px solid #D6AB00 !important;
	background: #ECB200 !important;
	background: -moz-linear-gradient(top, #F7CE00 0%, #ECB200 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7CE00),
		color-stop(100%, #ECB200)) !important;
	background: -webkit-linear-gradient(top, #F7CE00 0%, #ECB200 100%)
		!important;
	background: -o-linear-gradient(top, #F7CE00 0%, #ECB200 100%) !important;
	background: -ms-linear-gradient(top, #F7CE00 0%, #ECB200 100%)
		!important;
	background: linear-gradient(top, #F7CE00 0%, #E5E5E5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7CE00',
		endColorstr='#ECB200', GradientType=0) !important;
	-moz-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset !important;
	-webkit-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset
		!important;
	box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset !important;
}

.widgetButtons .red a, .wBlock.red {
	border: 1px solid #AF2D1C !important;
	background: #CB2C1A !important;
	background: -moz-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D96D3A),
		color-stop(100%, #CB2C1A)) !important;
	background: -webkit-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%)
		!important;
	background: -o-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
	background: -ms-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%)
		!important;
	background: linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D96D3A',
		endColorstr='#CB2C1A', GradientType=0) !important;
	-moz-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
	-webkit-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset
		!important;
	box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
}

.widgetButtons .green a, .wBlock.green {
	border: 1px solid #677C13 !important;
	background: #829E18 !important;
	background: -moz-linear-gradient(top, #ADC800 0%, #829E18 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADC800),
		color-stop(100%, #829E18)) !important;
	background: -webkit-linear-gradient(top, #ADC800 0%, #829E18 100%)
		!important;
	background: -o-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
	background: -ms-linear-gradient(top, #ADC800 0%, #829E18 100%)
		!important;
	background: linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADC800',
		endColorstr='#829E18', GradientType=0) !important;
	-moz-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
	-webkit-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset
		!important;
	box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
}

.widgetButtons .blue a, .wBlock.blue {
	border: 1px solid #7E8FC4 !important;
	background: #73A4D9 !important;
	background: -moz-linear-gradient(top, #90C2EE 0%, #73A4D9 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90C2EE),
		color-stop(100%, #73A4D9)) !important;
	background: -webkit-linear-gradient(top, #90C2EE 0%, #73A4D9 100%)
		!important;
	background: -o-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
	background: -ms-linear-gradient(top, #90C2EE 0%, #73A4D9 100%)
		!important;
	background: linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90C2EE',
		endColorstr='#73A4D9', GradientType=0) !important;
	-moz-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
	-webkit-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset
		!important;
	box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
}

.widgetButtons .bb a:active {
	-moz-box-shadow: 0px 0px 1px #444 inset !important;
	-webkit-box-shadow: 0px 0px 1px #444 inset !important;
	box-shadow: 0px 0px 1px #444 inset !important;
}

.widgetButtons .bb .caption {
	position: absolute;
	right: -5px;
	top: -5px;
	font-size: 11px;
	display: block;
	padding: 2px 2px;
	line-height: 13px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #416C9B;
	color: #FFF;
	border: 1px solid #416C9B;
}

.widgetButtons .bb .caption.gray {
	color: #333;
	border: 1px solid #D9D9D9;
	background: #E5E5E5;
}

.widgetButtons .bb .caption.yellow {
	border: 1px solid #D6AB00;
	background: #ECB200;
}

.widgetButtons .bb .caption.red {
	border: 1px solid #AF2D1C;
	background: #CB2C1A;
}

.widgetButtons .bb .caption.green {
	border: 1px solid #677C13;
	background: #829E18;
}

.widgetButtons .bb .caption.blue {
	border: 1px solid #7E8FC4;
	background: #73A4D9;
}

/* ~WIDGET BUTTONS ~*/

/* ~Table users list~ */
.listUsers {
	position: relative;
}

.listUsers .actions {
	margin: 5px 0px 0px 0px;
	text-align: center;
}

.listUsers .user {
	font-weight: bold;
}

.listUsers .about {
	margin: 0px;
}

.listUsers .info {
	margin: 0px;
	font-weight: bold;
}

.listUsers .info .green {
	color: #2E801E;
}

.listUsers .info .grey {
	color: #666;
}

.listUsers .info .red {
	color: #772E2C;
}

/* ~Table users list~ */

/* block widget */
.wBlock {
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0px 5px 5px;
	color: #FFF;
	background: #416C9B;
	background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5B7EA4),
		color-stop(100%, #416C9B));
	background: -webkit-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -o-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: -ms-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	background: linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4',
		endColorstr='#416C9B', GradientType=0);
	-moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
	-webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
	box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
}

.wBlock .wSpace {
	background-color: #FFF;
	padding: 0px 5px;
	margin: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999 inset;
	-webkit-box-shadow: 0px 0px 2px #999 inset;
	box-shadow: 0px 0px 2px #999 inset;
}

.wBlock .dSpace {
	margin: 5px 0px 0px;
	background-color: #365B85;
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	-moz-box-shadow: 0px 0px 2px #222 inset;
	-webkit-box-shadow: 0px 0px 2px #222 inset;
	box-shadow: 0px 0px 2px #222 inset;
	width: 45%;
	min-width: 82px;
	min-height: 72px;
}

.wBlock .rSpace {
	width: 45%;
	float: right;
	margin: 5px 0px 0px;
}

.menu .wBlock {
	margin-bottom: 0px;
}

.wBlock.auto {
	width: auto;
	margin-right: 20px;
	float: left;
}

.wBlock.auto .dSpace, .wBlock.auto .rSpace {
	width: auto;
}

.wBlock .dSpace h3, .wBlock .rSpace h3 {
	margin: 2px 0px;
	padding: 0px;
	font-size: 12px;
	text-align: center;
	color: #c7e3fc;
	font-weight: normal;
	line-height: 14px;
	-moz-text-shadow: 0 1px 0 #333;
	-webkit-text-shadow: 0 1px 0 #333;
	text-shadow: 0 1px 0 #333;
}

.wBlock .dSpace span, .wBlock .rSpace span {
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	line-height: 16px;
	-moz-text-shadow: 0 1px 1px #333;
	-webkit-text-shadow: 0 1px 1px #333;
	text-shadow: 0 1px 1px #333;
}

.wBlock .dSpace span.number {
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	line-height: 32px;
}

.wBlock .dSpace span b, .wBlock .rSpace span b {
	font-weight: normal;
	color: #c7e3fc;
}

.wBlock .rSpace h3 {
	text-align: left;
}

.wBlock .rSpace span {
	text-align: left;
	margin-top: 2px;
}

.wBlock.gray .dSpace {
	background-color: #555;
}

.wBlock.gray .dSpace h3 {
	color: #F5F5F5;
}

.wBlock.gray .rSpace span, .wBlock.gray .rSpace span b {
	color: #000;
	-moz-text-shadow: 0 1px 1px #FFF;
	-webkit-text-shadow: 0 1px 1px #FFF;
	text-shadow: 0 1px 1px #FFF;
}

.wBlock.gray .rSpace span b {
	color: #555;
}

.wBlock.green .dSpace {
	background-color: #677C12;
}

.wBlock.yellow .dSpace {
	background-color: #9B7503;
}

.wBlock.red .dSpace {
	background-color: #7F1C0F;
}

.wBlock.blue .dSpace {
	background-color: #4A82BA;
}

.wBlock.green .dSpace h3, .wBlock.green .rSpace span b {
	color: #FFF;
}

.wBlock.yellow .dSpace h3, .wBlock.yellow .rSpace span b {
	color: #FFFCD6;
}

.wBlock.red .dSpace h3, .wBlock.red .rSpace span b {
	color: #FFE3E2;
}

.wBlock.blue .dSpace h3, .wBlock.blue .rSpace span b {
	color: #FFF;
}

.wBlock.yellow .rSpace span, .wBlock.green .rSpace span, .wBlock.red .rSpace span,
	.wBlock.blue .rSpace span {
	color: #FFF;
}

/* block widget */

/* ~icons box~ */
.the-icons {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.the-icons li {
	width: 25%;
	float: left;
	padding: 5px 0px;
}
/* ~icons box~ */

/* ~Uploader~ */
.plupload_header {
	display: none;
}

.plupload_container {
	padding: 0px;
}

.plupload_scroll .plupload_filelist {
	background-color: #F9F9F9;
}

.plupload_filelist_header, .plupload_filelist_footer {
	background-color: #F1F1F1;
}

/* ~Uploader~ */

/* ~User profile~ */
.ucard {
	border-top: 1px solid #CCC;
	position: relative;
	background: transparent;
	border: 0px;
}

.ucard .right {
	float: right;
	text-align: right;
}

.ucard .right h4 {
	margin-top: 0px;
	font-size: 14px;
	color: #365B85;
	-moz-text-shadow: 0 1px 0 #FFFFFF;
	-webkit-text-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}

.ucard .right .image {
	margin-bottom: 10px;
}

.ucard .right .control {
	text-align: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.ucard .right .control li a {
	color: #333;
	font-size: 11px;
}

ul.rows {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.rows li {
	padding: 8px 0px;
	position: relative;
	border: 1px solid #D9D9D9;
	border-top-color: #FFF;
	background-color: #F9F9F9;
}

ul.rows li:first-child {
	border-top: 0px;
}

ul.rows li:nth-child(2n) {
	background-color: #F2F2F2;
}

ul.rows li.heading {
	background: url("../img/styles/default/backgrounds/menu-item.jpg")
		repeat-x scroll left top transparent;
	color: #FFF;
	padding-left: 10px;
	-moz-text-shadow: 0 1px 0 #333;
	-webkit-text-shadow: 0 1px 0 #333;
	text-shadow: 0 1px 0 #333;
}

ul.rows li .title {
	width: 120px;
	position: absolute;
	left: 10px;
	top: 8px;
	color: #999;
}

ul.rows li .text {
	margin-left: 120px;
}

ul.rows li span[class^='icon'] {
	margin-top: -1px;
}
/* ~User profile~ */

/* ~Stream~ */
.stream {
	position: relative;
}

.stream .item {
	border-bottom: 1px solid #E4E8ED;
	border-top: 1px solid #FFF;
	position: relative;
}

.stream .item .image {
	position: absolute;
	width: 60px;
	padding: 5px 0px 5px 0px;
	left: 0px;
	top: 0px;
}

.stream .item .info {
	margin: 5px 5px 5px 70px;
	font-size: 11px;
}

.stream .item .info .name {
	font-size: 12px;
	font-weight: bold;
}

.stream .item .info .title {
	color: #555;
	margin-bottom: 5px;
}

.stream .item .info .title span {
	margin: 0px !important;
}

.stream .item .info .actions {
	text-align: right;
	margin: 5px 0px 0px;
}

.stream .item .info .actions a {
	color: #333;
	margin-left: 5px;
	opacity: 0.8;
}

.stream .item .info .actions a:hover {
	opacity: 1;
}

.stream .item .info .actions a span {
	margin: 0px !important;
}

.text.gallery a {
	margin: 3px 3px 3px 0px;
}

.text.friends a {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 5px 3px 0px;
}

.stream .answer {
	position: relative;
	padding-bottom: 5px;
}

.stream .answer .arrow {
	background: url('../img/textarea_top_arrow.png') left top no-repeat
		transparent;
	position: absolute;
	left: 50%;
	top: -9px;
	width: 17px;
	height: 12px;
}

.stream .answer .textarea {
	padding-right: 16px;
}

.stream .answer .textarea textarea {
	font-size: 11px;
	width: 100%;
}

.stream .answer .actions {
	text-align: right;
}

.stream .item:first-child {
	border-top: 0px;
}

.stream .item:last-child {
	border-bottom: 0px;
}

.stream .item .messages {
	padding-left: 20px;
	border-top: 1px solid #EEE;
	padding-bottom: 10px;
}

.stream .item .messages .item .info {
	margin-left: 55px;
	line-height: 16px;
	margin-top: 0px;
}

.stream .item .messages .item .info p {
	margin-bottom: 3px;
}
/* ~Stream~ */

/* ~Bootstrap modal~ */
.modal {
	background-color: #F9F9F9;
}

.modal div[class^='block'] {
	background: transparent;
	border: 0px;
}

.modal div[class^='row'] {
	margin: 0px;
}

.modal .dr {
	margin: 5px 0px;
}

.modal .row-form {
	padding: 10px 15px;
}
/* ~Bootstrap modal~ */

/* simple navigation */
.sNavigation {
	position: relative;
	border: 1px solid #D5D5D5;
	margin-bottom: 20px;
}

.sNavigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.sNavigation ul li {
	background: #F2F2F2;
	border-top: 1px solid #FCFCFC;
	border-bottom: 1px solid #E4E8ED;
	position: relative;
}

.sNavigation ul li a {
	display: block;
	padding: 8px 10px;
	font-size: 11px;
	color: #333;
	outline: none;
}

.sNavigation ul li span.arrow {
	display: none;
	width: 12px;
	height: 17px;
	background: url('../img/menu-arrow-right.png') left top no-repeat;
	position: absolute;
	right: -12px;
	top: 10px;
}

.sNavigation ul li a span {
	margin: -1px 0px 0px;
}

.sNavigation ul li:hover a, .sNavigation ul li.active a {
	background: #EDEDED;
	text-decoration: none;
}

.sNavigation ul li.active span.arrow {
	display: block;
}

.sNavigation ul li:first-child {
	border-top: 0px;
}

.sNavigation ul li:last-child {
	border-bottom: 0px;
}

/* simple navigation */

/* Toolbar */
.toolbar {
	padding: 3px 5px 0px;
	position: relative;
	border-bottom: 1px solid #D5D5D5;
}

.toolbar .left {
	float: left;
	display: block;
}

.toolbar .right {
	float: right;
	display: block;
}

.toolbar .pagination {
	margin: 2px 0px 0px;
	line-height: 16px;
}

.nm {
	margin: 0px !important;
}

.toolbar .note {
	margin-top: 3px;
	font-style: italic;
}

.bottom-toolbar {
	border-top: 1px solid #D5D5D5;
	border-bottom: 0px;
}

.nopadding-toolbar {
	padding: 0px;
}

.toolbar h4 {
	background-color: #F1F1F1;
	font-size: 12px;
	margin: 0px;
	padding: 8px 10px;
}

.toolbar.clear {
	border: 0px;
}
/* Toolbar */

/* ~Mails~ */
.table .heading {
	background-color: #EDEDED !important;
	text-align: center;
	font-weight: bold;
	color: #333;
}

.table span[class^='icon'] {
	margin-top: -1px;
}

.table .mails_container {
	display: none;
}

.table a {
	outline: none;
}
/* ~Mails~ */

/* ~user short info~ */
.ushort {
	text-align: right;
	position: relative;
}

.ushort>* {
	display: block;
	float: right;
	width: 100%;
	margin-bottom: 5px;
}

.ushort a {
	font-size: 14px;
	font-weight: bold;
}
/* ~user short info~ */

/* ~uploads~ */
.block.uploads, .block-fluid.uploads {
	position: relative;
}

.uploads .item {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #D5D5D5;
	border-top: 1px solid #FFF;
}

.uploads .item:first-child {
	border-top: 0px;
}

.uploads .item:last-child {
	border-bottom: 0px;
	padding-bottom: 0px;
}

.uploads .item span[class^='icon'] {
	margin-top: -1px;
}

.uploads .item p {
	margin-bottom: 0px;
}

.uploads .item .controls {
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0.8;
}

.uploads .item .controls:hover {
	opacity: 1;
}

/* ~uploads~ */

/* ~Error pages~ */
.errorPage {
	width: 600px;
	margin: 40px auto;
	text-align: center;
}

.errorPage .name {
	font-size: 36px;
	color: #999;
	line-height: 48px;
}

.errorPage .description {
	font-size: 16px;
	color: #666;
	line-height: 30px;
	font-weight: bold;
}
/* ~Error pages~ */

/* Box settings */
.settings a.bgExample, .settings a.styleExample {
	display: inline-block;
	background: url("../img/backgrounds/body.jpg") left top repeat;
	border: 1px solid #D5D5D5;
	margin-right: 5px;
	cursor: pointer;
}

.settings a.bgExample.bgCube {
	background-image: url("../img/backgrounds/body_cube.jpg");
}

.settings a.bgExample.bghLine {
	background-image: url("../img/backgrounds/body_hLine.jpg");
}

.settings a.bgExample.bgvLine {
	background-image: url("../img/backgrounds/body_vLine.jpg");
}

.settings a.bgExample.bgDots {
	background-image: url("../img/backgrounds/body_dots.jpg");
}

.settings a.bgExample.bgCrosshatch {
	background-image: url("../img/backgrounds/body_crosshatch.jpg");
}

.settings a.bgExample.bgbCrosshatch {
	background-image: url("../img/backgrounds/body_bcrosshatch.jpg");
}

.settings a.bgExample.bgGrid {
	background-image: url("../img/backgrounds/body_grid.jpg");
}

.settings a.bgExample:hover, .settings a.bgExample.active, .settings a.styleExample:hover,
	.settings a.styleExample.active {
	text-decoration: none;
	border-color: #999;
}

.settings a.styleExample {
	background-image: url("../img/styles/default/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.dark {
	background-image: url("../img/styles/dark/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.lime {
	background-image: url("../img/styles/lime/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.green {
	background-image: url("../img/styles/green/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.purple {
	background-image: url("../img/styles/purple/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.red {
	background-image: url("../img/styles/red/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.silver {
	background-image: url("../img/styles/silver/backgrounds/box-head.jpg");
	background-position: center center;
}

.settings a.styleExample.marble {
	background-image: url("../img/styles/marble/backgrounds/box-head.jpg");
	background-position: center center;
}

/* Box settings */

/* Faq */
.faq {
	position: relative;
	padding: 10px;
}

.faq .item {
	border-bottom: 1px dashed #D5D5D5;
	border-top: 1px dashed #FFF;
	padding: 5px 0px;
}

.faq .item:first-child {
	border-top: 0px;
}

.faq .item:last-child {
	border-bottom: 0px;
}

.faq .item .title {
	font-size: 14px;
	font-weight: bold;
	color: #86a018;
	display: block;
	cursor: pointer;
	text-shadow: 1px 1px 0px #FFF;
}

.faq .item .text {
	font-size: 12px;
	color: #333;
	padding-left: 10px;
	display: none;
}

.faq .item .text p {
	margin: 5px 0px
}
/* Faq */

/* Page header */
.page-header {
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: 20px;
}

.page-header h1 {
	color: #30557f;
	font-family: Cambria, Georgia, serif;
	text-shadow: 1px 1px 0px #FFF;
	font-style: italic;
	margin: 0px;
	line-height: 40px;
	border-bottom: 1px solid #D5D5D5;
	padding-bottom: 10px;
}

.hero-unit h1 {
	color: #30557f;
	font-size: 50px;
}
/* Page header */

/* user profile */
.profile {
	width: 100%;
	position: relative;
	background: #FFF;
	border: 1px solid #D5D5D5;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.profile .image {
	display: block;
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	border: 5px solid #FFF;
}

.profile .user {
	position: relative;
	padding: 0px 5px 5px;
}

.profile .user .avatar {
	position: absolute;
	left: 20px;
	top: -85px;
	z-index: 2;
}

.profile .user h2 {
	font-size: 16px;
	line-height: 20px;
	display: block;
	float: left;
	margin: 4px 0px 0px 135px;
}

.profile .user .actions {
	float: right;
}

.profile .user .actions .btn {
	margin-bottom: 0px;
}

.profile .info {
	float: left;
	margin-left: 20px;
}

.profile .info p {
	margin: 3px 0px 0px;
	font-size: 11px;
	line-height: 16px;
}

.profile .info p span {
	margin-top: 0px;
}

.profile .info p span.title {
	color: #999;
}

/* user profile */

/* Tagsinput */
div.tagsinput {
	padding: 0px;
}

div.tagsinput span.tag {
	margin: 3px;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 14px;
	border: 1px solid #577AA0;
	background: #577AA0;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

div.tagsinput span {
	color: #FFF;
}

div.tagsinput span.tag a {
	color: #FFF;
}

div.tagsinput span.tag a:hover {
	color: #333;
}

div.tagsinput div {
	line-height: 28px;
}

div.tagsinput div input {
	line-height: 20px;
	font-size: 11px;
	margin: -2px 0px 0px;
	padding: 0px;
}
/* eof Tagsinput */