.username {
	background: #fff url(../images/icon1.png) no-repeat;
	background-position: 1px 7px;
	padding: 8px 10px 8px 31px;
	width: 170px;
	position: relative;
	margin: 0 0 10px;
}

.password {
	background: #fff url(../images/icon1.png) no-repeat;
	background-position: 1px -55px;
	padding: 8px 10px 8px 31px;
	width: 170px;
	position: relative;
	margin: 0 0 10px;
}

#loginBox2:after, #loginBox2:before {
	margin: 160px auto;
	background-color: #f9f9f9;
	width: 350px;
	min-height: 250px;
	overflow: hidden;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 20px 2px rgba(10, 10, 10, 0.5);
	content: "";
	display: block;
	position: absolute;
}

#loginBox2:after {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
	top: 0;
	z-index: -1;
}

#loginBox2:before {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
	top: 0;
	z-index: -2;
}

body {
	background: #DCDDDF url(../images/wood1.png);
}

.title1 {
	font-family: "century gothic";
	font-size: 22px;
	color: yellow;
	text-shadow: -2px 2px 2px rgba(25, 25, 25, 0.5);
	font-weight: bold;
	margin-top: 7px;
}

.table {
	border-collapse: collapse;
	margin-top: 50px;
	margin-left: 12px;
}

td.rightAlign {
	text-align: right;
	color: white;
}

td.leftAlign {
	text-align: left;
	padding: 0 9px 0;
}

.username1 {
	background: #fff url(../images/icon1.png) no-repeat;
	background-position: 1px 7px;
	padding: 8px 10px 8px 31px;
	width: 240px;
	position: relative;
	margin: 0 0 10px;
}

.password1 {
	background: #fff url(../images/icon1.png) no-repeat;
	background-position: 1px -55px;
	padding: 8px 10px 8px 31px;
	width: 240px;
	position: relative;
	margin: 0 0 10px;
}

#loginBox1 {
	margin: 160px auto;
	background-color: rgba(10, 10, 120, 0.9);
	width: 450px;
	min-height: 350px;
	overflow: hidden;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 20px 2px rgba(10, 10, 10, 0.5);
}

#loginBox1:after, #loginBox1:before {
	margin: 160px auto;
	background-color: #f9f9f9;
	width: 450px;
	min-height: 350px;
	overflow: hidden;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 20px 2px rgba(10, 10, 10, 0.5);
	content: "";
	display: block;
	position: absolute;
}

#loginBox1:after {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
	top: 0;
	z-index: -1;
}

#loginBox1:before {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);
	top: 0;
	z-index: -2;
}