@CHARSET "ISO-8859-1";

* {
	padding: 0px;
	margin: 0px;
}

.headerButton .ui-widget-header {
	height: 40px;
}

.ui-panelmenu-panel {
	font-size: 85%;
}

ui-datatable-tablewrapper {
	white-space: normal;
}

.singleLine {
	text-wrap: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.titleMain {
	font-size: 26px;
	color: white;
}

.ui-datatable td, .ui-datatable th {
	white-space: normal;
}

div.tes div.ui-layout-unit-content {
	background-color: rgba(10, 10, 120, 0.9);
}

.input2 {
	width: 150px;
}

table.login {
	margin: 10px auto;
	position: relative;
	padding: 5px;
}

.titleMain {
	text-align: right;
	margin-right: 100px;
	float: right;
}

td.title {
	font-family: "century gothic";
	font-size: 22px;
	color: yellow;
	text-shadow: -2px 2px 2px rgba(25, 25, 25, 0.5);
	font-weight: bold;
}

td.title span {
	font-family: "century gothic";
	font-size: 32px;
	color: white;
	text-shadow: -2px 2px 2px rgba(25, 25, 25, 0.5);
	font-weight: bold;
}

td.rightAlign {
	text-align: right;
}

table.login tr {
	line-height: 30px;
}

label.labelForm {
	text-align: right;
}

table.login tr td label {
	line-height: 30px;
	font-family: century gothic;
	font-size: 14px;
	margin-right: 10px;
}

#loginBox2 {
	margin: 160px auto;
	background-color: rgba(10, 10, 120, 0.9);
	width: 350px;
	min-height: 250px;
	overflow: hidden;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 20px 2px rgba(10, 10, 10, 0.5);
}

.panelGridStyle {
	width: auto;
	margin: 5px 20px 5px 20px;
}

.panelGridStyle tbody tr td {
	padding: 5px;
}

.panelGridStyle tbody tr td.label {
	text-align: right;
}

.panelGridStyle tbody tr td input {
	width: 150px;
}

input[type="text"][disabled] {
	color: red;
}

.editButton {
	margin-right: 5px;
}

div.ui-confirm-dialog div.ui-dialog-content p {
	font-size: 14px;
}

div.ui-confirm-dialog {
	width: auto;
}

@font-face {
	font-family: "testWhat";
	src: url(MyriadPro-Light.eot);
	src: local("MyrialdPro_light"), url(MyriadPro-Light.otf)
		format("opentype");
}

@font-face {
	font-family: 'IMFELLEnglishItalic';
	src: url('type/MyriadPro-Light.eot');
	src: local('IM FELL English Italic'), local('MyriadPro-Light'),
		url('type/MyriadPro-Light.woff') format('woff'),
		url('type/MyriadPro-Light.otf') format('opentype'),
		url('type/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
}

h2 {
	font-family: "IMFELLEnglishItalic", Georgia, serif;
}

h2 em {
	font-family: "IMFELLEnglishItalic", Georgia, serif;
}

em {
	font-style: italic;
}

.orajelas {
	font-family: IMFELLEnglishItalic;
	font-size: 40px;
}

.ui-widget {
	font-family: century gothic;
	font-size: 12px;
}

.ui-widget .ui-widget {
	font-size: 12px;
}

.ui-widget-content {
	color: #222;
	margin: 0;
	padding: 0;
}

.ui-selectonemenu-item {
	font-size: 80%;
}

.ui-dialog-content {
	padding: 0;
}

.ui-layout-bd {
	margin: 0;
	padding: 0;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: century gothic;
	font-size: 12px;
}

.ui-widget .ui-messages {
	padding: 0;
	margin: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: none;
	opacity: .03;
	filter: Alpha(Opacity = 2);
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.fileupload-content {
	margin-top: -10px;
}

.content_right h3 {
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px
}

/* MENU BAR PENTING BANGET */
.ui-menubar {
	padding: 0;
	margin-top: 0;
	border: none;
	background: #fff url("../images/bg_welcome.gif");
}

.ui-menu-child {
	border: 1px solid #999;
}

.ui-menu-link {
	margin-left: 0.12em;
}

.ui-menu-text {
	padding-left: 6px;
	padding-right: 6px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	color: #666;
}

.ui-menu-ngentu {
	font-family: IMFELLEnglishItalic;
	font-size: 40px;
	color: #fff;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-widget-content {
	overflow: visible !important;
}

.ui-layout-west .ui-widget-content {
	border: none;
}

.ui-layout-west .ui-tree-node-label {
	left: -20px;
}

/* TREE TABLE */
.ui-tree {
	padding: 0.1em;
}

.ui-tree .ui-tree-parent span, .ui-tree .ui-tree-item span {
	float: left !important;
}

.ui-tree .ui-tree-child {
	margin-left: 20px;
}

.ui-tree-node-content {
	border: 0px solid #888;
	padding: 3px;
	vertical-align: top;
}

.ui-tree .ui-tree-nodes .ui-tree-node .ui-tree-node-content .ui-tree-node-label
	{
	margin: 0.1em 0 0 0.1em;
	float: left !important;
}

.ui-tree .ui-tree-nodes li.ui-tree-node {
	margin-left: 119px;
}

.ui-tree .ui-tree-nodes .ui-tree-item {
	padding: 0;
	width: 100%;
	float: left !important;
	clear: both !important;
	margin: 0 0 0 5px;
	display: inline;
	width: 100%;
}

.ui-tree .ui-tree-nodes .ui-tree-parent {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left !important;
	clear: both !important;
}

.ui-tree-insertion {
	height: 1px;
	font-size: 0px;
}

.ui-tree .ui-tree-icon {
	cursor: pointer;
}

.ui-tree .ui-tree-selectable-node {
	cursor: pointer;
}