<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Account" />
						</p:column>
						<p:column style="white-space:nowrap;" width="100%">
							<p:commandButton icon="ui-icon-bullet" value="GAJI"
								disabled="true" style="width:45%"
								rendered="#{accountHistoryHandler.doShowGAJI}" />
							<p:commandButton icon="ui-icon-radio-on" value="GAJI"
								style="width:45%"
								rendered="#{!accountHistoryHandler.doShowGAJI}"
								actionListener="#{accountHistoryHandler.doClickGaji}"
								update=":searchForm :summaryForm" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="RR GAJI"
								disabled="true" style="width:45%"
								rendered="#{accountHistoryHandler.doShowGAJIR}" />
							<p:commandButton icon="ui-icon-radio-on" value="RR GAJI"
								style="width:45%"
								rendered="#{!accountHistoryHandler.doShowGAJIR}"
								actionListener="#{accountHistoryHandler.doClickGajiR}"
								update=":searchForm :summaryForm" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Date : " />
						</p:column>
						<p:column>
							<p:calendar value="#{accountHistoryHandler.docDate}"
								pattern="yyyy-MM-dd" navigator="true" id="docDate"
								showOn="button" style="width:100%">
							</p:calendar>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputText value="Inquiry Type : "></h:outputText>
						</p:column>
						<p:column>
							<p:selectOneMenu style="width:100%"
								value="#{accountHistoryHandler.inquiryType}">
								<f:selectItem itemLabel="----Select One Item----" itemValue=""
									noSelectionOption="true" />
								<f:selectItem itemLabel="Mutasi" itemValue="0" />
								<f:selectItem itemLabel="Penihilan" itemValue="1" />
								<f:selectItem itemLabel="Dropping" itemValue="2" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton styleClass="btn" value="Submit"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide();"
								actionListener="#{accountHistoryHandler.doInquiry()}"
								update=":summaryForm" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="history"
				value="#{accountHistoryHandler.accountHistoryList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Account History" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Date and Time">
					<h:outputText value="#{history.trxDate}"></h:outputText>
				</p:column>
				<p:column headerText="Description">
					<h:outputText value="#{history.trxDesc01}"></h:outputText>
				</p:column>
				<p:column headerText="Reference No.">
					<h:outputText value="#{history.trxTicketNo}"></h:outputText>
				</p:column>
				<p:column headerText="Debit">
					<h:outputText value="#{history.trxDebitAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Credit">
					<h:outputText value="#{history.trxCreditAmount}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>