<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View User #{approvalWebHandler.user.userID}"
			id="viewUser" widgetVar="viewUser" modal="true" resizable="true">
			<h:form id="viewFormUser" disabled="true">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">User's Detail</f:facet>
					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.userID}"></h:outputText>

					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.userName}"></h:outputText>

					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.fullName}"></h:outputText>

					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.lastLogin}"></h:outputText>

					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.email}"></h:outputText>

					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.division}"></h:outputText>

					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.department}"></h:outputText>

					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.phone}"></h:outputText>

					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.mobileNumber}"></h:outputText>

					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{approvalWebHandler.user.contactNumber}"></h:outputText>

					<h:outputText value="Branch" rendered="false"></h:outputText>
					<h:outputText
						value="#{approvalWebHandler.user.branchName} - #{approvalWebHandler.user.branch}"
						rendered="false"></h:outputText>

					<h:outputText rendered="#{approvalWebHandler.teller}"
						value="Teller Id"></h:outputText>
					<h:outputText rendered="#{approvalWebHandler.teller}"
						value="#{approvalWebHandler.user.tellerId}"></h:outputText>

					<h:outputText rendered="#{approvalWebHandler.teller}"
						value="Debit Transaction Limit"></h:outputText>
					<h:outputText rendered="#{approvalWebHandler.teller}"
						value="#{approvalWebHandler.user.debitLimitTransaction}">
						<f:convertNumber pattern="#,##0.00" />
					</h:outputText>
				</p:panelGrid>
				<p:dataList value="#{approvalWebHandler.rolesName}" var="role">
					<f:facet name="header"> User's Role </f:facet>
					<h:outputText value="#{role}"></h:outputText>
				</p:dataList>
			</h:form>
		</p:dialog>
		<p:dialog header="View User #{approvalWebHandler.user.userID}"
			id="viewEditUser" widgetVar="viewEditUser" modal="true"
			resizable="true">
			<h:form id="viewFormEditUser" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">Previous User's Detail</f:facet>
						<h:outputText value="User Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.userID}"></h:outputText>

						<h:outputText value="User Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.userName}"></h:outputText>

						<h:outputText value="Full Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.fullName}"></h:outputText>

						<h:outputText value="Last Login"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.lastLogin}"></h:outputText>

						<h:outputText value="Email"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.email}"></h:outputText>

						<h:outputText value="Division"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.division}"></h:outputText>

						<h:outputText value="Departement"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.department}"></h:outputText>

						<h:outputText value="Phone"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.phone}"></h:outputText>

						<h:outputText value="Mobile Number"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.mobileNumber}"></h:outputText>

						<h:outputText value="Contact Number"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevUser.contactNumber}"></h:outputText>

						<h:outputText value="Branch" rendered="false"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevUser.branchName} - #{approvalWebHandler.prevUser.branch}"
							rendered="false"></h:outputText>

						<h:outputText rendered="#{approvalWebHandler.tellerTemp}"
							value="Teller Id"></h:outputText>
						<h:outputText rendered="#{approvalWebHandler.tellerTemp}"
							value="#{approvalWebHandler.prevUser.tellerId}"></h:outputText>

						<h:outputText rendered="#{approvalWebHandler.tellerTemp}"
							value="Debit Transaction Limit"></h:outputText>
						<h:outputText rendered="#{approvalWebHandler.tellerTemp}"
							value="#{approvalWebHandler.prevUser.debitLimitTransaction}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">New User's Detail</f:facet>
						<h:outputText value="User Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.userID}"></h:outputText>

						<h:outputText value="User Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.userName}"></h:outputText>

						<h:outputText value="Full Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.fullName}"></h:outputText>

						<h:outputText value="Last Login"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.lastLogin}"></h:outputText>

						<h:outputText value="Email"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.email}"></h:outputText>

						<h:outputText value="Division"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.division}"></h:outputText>

						<h:outputText value="Departement"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.department}"></h:outputText>

						<h:outputText value="Phone"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.phone}"></h:outputText>

						<h:outputText value="Mobile Number"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.mobileNumber}"></h:outputText>

						<h:outputText value="Contact Number"></h:outputText>
						<h:outputText value="#{approvalWebHandler.user.contactNumber}"></h:outputText>

						<h:outputText value="Branch" rendered="false"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.user.branchName} - #{approvalWebHandler.user.branch}"
							rendered="false"></h:outputText>

						<h:outputText rendered="#{approvalWebHandler.teller}"
							value="Teller Id"></h:outputText>
						<h:outputText rendered="#{approvalWebHandler.teller}"
							value="#{approvalWebHandler.user.tellerId}"></h:outputText>

						<h:outputText rendered="#{approvalWebHandler.teller}"
							value="Debit Transaction Limit"></h:outputText>
						<h:outputText rendered="#{approvalWebHandler.teller}"
							value="#{approvalWebHandler.user.debitLimitTransaction}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>

					</p:panelGrid>
					<p:dataList value="#{approvalWebHandler.prevRolesName}" var="role">
						<f:facet name="header"> Previous User's Role </f:facet>
						<h:outputText value="#{role}"></h:outputText>
					</p:dataList>
					<p:dataList value="#{approvalWebHandler.rolesName}" var="role">
						<f:facet name="header"> New User's Role </f:facet>
						<h:outputText value="#{role}"></h:outputText>
					</p:dataList>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="View Role" id="viewRole" widgetVar="viewRole"
			modal="true" resizable="true">
			<h:form id="viewFormRole">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Role Detail</f:facet>
					<h:outputText value="Role Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.role.roleId}"></h:outputText>

					<h:outputText value="Role Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.role.roleName}"></h:outputText>

					<h:outputText value="UIM Role ID"></h:outputText>
					<h:outputText value="#{approvalWebHandler.role.uimRoleId}"></h:outputText>
				</p:panelGrid>
				<p:panel header="Menu" style=" margin-top:10px;">
					<div style="height: 400px; overflow-y: scroll;">
						<o:tree value="#{approvalWebHandler.tree}" var="menu">

							<o:treeNode level="0">
								<o:treeNodeItem>
									<h3 style="margin-top: 0px; margin-left: 5px;">
										<h:selectBooleanCheckbox value="#{menu.selected}"
											disabled="true" />
										#{menu.menuName}
									</h3>
									<o:treeInsertChildren />
								</o:treeNodeItem>
							</o:treeNode>
							<o:treeNode>
								<ul style="list-style-type: none;">
									<o:treeNodeItem>
										<li style="margin: 0px;"><h:selectBooleanCheckbox
												value="#{menu.selected}" disabled="true" />
											#{menu.menuName} <o:treeInsertChildren /></li>
									</o:treeNodeItem>
								</ul>
							</o:treeNode>

						</o:tree>
					</div>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="View Role" id="viewEditRole"
			widgetVar="viewEditRole" modal="true" resizable="true">
			<h:form id="viewFormEditRole">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Previous Role Detail</f:facet>
						<h:outputText value="Role Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevRole.roleId}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevRole.roleName}"></h:outputText>

						<h:outputText value="UIM Role ID"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevRole.uimRoleId}"></h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">New Role Detail</f:facet>
						<h:outputText value="Role Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.role.roleId}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.role.roleName}"></h:outputText>

						<h:outputText value="UIM Role ID"></h:outputText>
						<h:outputText value="#{approvalWebHandler.role.uimRoleId}"></h:outputText>
					</p:panelGrid>

					<p:panel header="Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{approvalWebHandler.prevTree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" />
												#{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
					<p:panel header="Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{approvalWebHandler.tree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" />
												#{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Scheduler #{approvalWebHandler.task.schedulerId}"
			id="view" widgetVar="viewScheduler" modal="true" resizable="true">
			<h:form id="viewFormScheduler">
				<h:panelGrid id="insertOrEditGrid" columns="2"
					style="vertical-align:top;" columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-scheduler">
						<f:facet name="header">Task's Detail</f:facet>

						<h:outputText value="Scheduler Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.schedulerId}"></h:outputText>

						<h:outputText value="Job Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.jobName}"></h:outputText>

						<h:outputText value="Execution Service"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.executionService}"></h:outputText>

						<h:outputText value="Schedule Type"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.schedulerType}"></h:outputText>

						<h:outputLabel value="Date"
							rendered="#{approvalWebHandler.runOnce}" />
						<p:column rendered="#{approvalWebHandler.runOnce}">
							<h:outputText value="#{approvalWebHandler.task.date}"></h:outputText>
						</p:column>

						<h:outputLabel value="Time"
							rendered="#{approvalWebHandler.runOnce}" />
						<p:column rendered="#{approvalWebHandler.runOnce}">
							<h:outputText value="#{approvalWebHandler.task.time}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Date"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.startDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Time"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.startTime}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Date"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.endDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Time"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.endTime}"></h:outputText>
						</p:column>


						<h:outputLabel value="Interval"
							rendered="#{approvalWebHandler.repeating}" />
						<p:column rendered="#{approvalWebHandler.repeating}">
							<h:outputText value="#{approvalWebHandler.task.interval}"></h:outputText> seconds
					</p:column>
						<h:outputLabel value="Run Mask"
							rendered="#{approvalWebHandler.complexRepeating}" />
						<p:column rendered="#{approvalWebHandler.complexRepeating}">
							<h:outputText
								value="Month : #{approvalWebHandler.task.maskMonth} , "></h:outputText>
							<h:outputText value="Day : #{approvalWebHandler.task.maskDay} , "></h:outputText>
							<h:outputText
								value="Weekly Day : #{approvalWebHandler.task.maskWeeklyDay} , "></h:outputText>
							<h:outputText
								value="Start Hour : #{approvalWebHandler.task.maskHour} , "></h:outputText>
							<h:outputText
								value="End Hour : #{approvalWebHandler.task.maskHourEnd} , "></h:outputText>
							<h:outputText
								value="Minute : #{approvalWebHandler.task.maskMinute}"></h:outputText>
						</p:column>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog
			header="View Scheduler Edit #{approvalWebHandler.task.schedulerId}"
			id="viewEdit" widgetVar="viewSchedulerEdit" modal="true"
			resizable="true">
			<h:form id="viewFormSchedulerEdit">
				<h:panelGrid id="insertOrEditGridEdit" columns="2"
					style="vertical-align:top;" columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-scheduler">
						<f:facet name="header">Previous Task's Detail</f:facet>

						<h:outputText value="Scheduler Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevTask.schedulerId}"></h:outputText>

						<h:outputText value="Job Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevTask.jobName}"></h:outputText>

						<h:outputText value="Execution Service"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevTask.executionService}"></h:outputText>

						<h:outputText value="Schedule Type"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevTask.schedulerType}"></h:outputText>

						<h:outputLabel value="Date"
							rendered="#{approvalWebHandler.prevRunOnce}" />
						<p:column rendered="#{approvalWebHandler.prevRunOnce}">
							<h:outputText value="#{approvalWebHandler.prevTask.date}"></h:outputText>
						</p:column>

						<h:outputLabel value="Time"
							rendered="#{approvalWebHandler.prevRunOnce}" />
						<p:column rendered="#{approvalWebHandler.prevRunOnce}">
							<h:outputText value="#{approvalWebHandler.prevTask.time}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Date"
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.prevTask.startDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Time"
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.prevTask.startTime}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Date"
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.prevTask.endDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Time"
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.prevRepeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.prevTask.endTime}"></h:outputText>
						</p:column>


						<h:outputLabel value="Interval"
							rendered="#{approvalWebHandler.prevRepeating}" />
						<p:column rendered="#{approvalWebHandler.prevRepeating}">
							<h:outputText value="#{approvalWebHandler.prevTask.interval}"></h:outputText> seconds
					</p:column>
						<h:outputLabel value="Run Mask"
							rendered="#{approvalWebHandler.complexRepeating}" />
						<p:column rendered="#{approvalWebHandler.complexRepeating}">
							<h:outputText
								value="Month : #{approvalWebHandler.prevTask.maskMonth} , "></h:outputText>
							<h:outputText
								value="Day : #{approvalWebHandler.prevTask.maskDay} , "></h:outputText>
							<h:outputText
								value="Weekly Day : #{approvalWebHandler.prevTask.maskWeeklyDay} , "></h:outputText>
							<h:outputText
								value="Start Hour : #{approvalWebHandler.prevTask.maskHour} , "></h:outputText>
							<h:outputText
								value="End Hour : #{approvalWebHandler.prevTask.maskHourEnd} , "></h:outputText>
							<h:outputText
								value="Minute : #{approvalWebHandler.prevTask.maskMinute}"></h:outputText>
						</p:column>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-scheduler">
						<f:facet name="header">New Task's Detail</f:facet>

						<h:outputText value="Scheduler Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.schedulerId}"></h:outputText>

						<h:outputText value="Job Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.jobName}"></h:outputText>

						<h:outputText value="Execution Service"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.executionService}"></h:outputText>

						<h:outputText value="Schedule Type"></h:outputText>
						<h:outputText value="#{approvalWebHandler.task.schedulerType}"></h:outputText>

						<h:outputLabel value="Date"
							rendered="#{approvalWebHandler.runOnce}" />
						<p:column rendered="#{approvalWebHandler.runOnce}">
							<h:outputText value="#{approvalWebHandler.task.date}"></h:outputText>
						</p:column>

						<h:outputLabel value="Time"
							rendered="#{approvalWebHandler.runOnce}" />
						<p:column rendered="#{approvalWebHandler.runOnce}">
							<h:outputText value="#{approvalWebHandler.task.time}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Date"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.startDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="Start Time"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.startTime}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Date"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.endDate}"></h:outputText>
						</p:column>

						<h:outputLabel value="End Time"
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}" />
						<p:column
							rendered="#{approvalWebHandler.repeatingOrComplexRepeating}">
							<h:outputText value="#{approvalWebHandler.task.endTime}"></h:outputText>
						</p:column>


						<h:outputLabel value="Interval"
							rendered="#{approvalWebHandler.repeating}" />
						<p:column rendered="#{approvalWebHandler.repeating}">
							<h:outputText value="#{approvalWebHandler.task.interval}"></h:outputText> seconds
					</p:column>
						<h:outputLabel value="Run Mask"
							rendered="#{approvalWebHandler.complexRepeating}" />
						<p:column rendered="#{approvalWebHandler.complexRepeating}">
							<h:outputText
								value="Month : #{approvalWebHandler.task.maskMonth} , "></h:outputText>
							<h:outputText value="Day : #{approvalWebHandler.task.maskDay} , "></h:outputText>
							<h:outputText
								value="Weekly Day : #{approvalWebHandler.task.maskWeeklyDay} , "></h:outputText>
							<h:outputText
								value="Start Hour : #{approvalWebHandler.task.maskHour} , "></h:outputText>
							<h:outputText
								value="End Hour : #{approvalWebHandler.task.maskHourEnd} , "></h:outputText>
							<h:outputText
								value="Minute : #{approvalWebHandler.task.maskMinute}"></h:outputText>
						</p:column>

					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog
			header="View Parameter #{approvalWebHandler.systemParameter.paramName}"
			id="viewParameter" widgetVar="viewParameter" modal="true"
			resizable="true">
			<h:form id="viewFormParameter">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
					<f:facet name="header">Parameter's Detail</f:facet>

					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.systemParameter.paramId}"></h:outputText>

					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText
						value="#{approvalWebHandler.systemParameter.paramName}"></h:outputText>

					<h:outputText value="Value"></h:outputText>
					<h:outputText
						value="#{approvalWebHandler.systemParameter.paramValue}"></h:outputText>

					<h:outputText value="Description"></h:outputText>
					<h:outputText
						value="#{approvalWebHandler.systemParameter.description}"></h:outputText>

				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Parameter Edit #{approvalWebHandler.systemParameter.paramName}"
			id="viewParameterEdit" widgetVar="viewParameterEdit" modal="true"
			resizable="true">
			<h:form id="viewFormParameterEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="parameter-current,parameter-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Current Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevSystemParameter.paramId}"></h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevSystemParameter.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevSystemParameter.paramValue}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevSystemParameter.description}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Pending Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.systemParameter.paramId}"></h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.systemParameter.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.systemParameter.paramValue}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.systemParameter.description}"></h:outputText>

					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog header="View Branch #{approvalWebHandler.branch.branchName}"
			id="viewBranch" widgetVar="viewBranch" modal="true" resizable="true">
			<h:form id="viewFormBranch">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-branch, panelGrid-value-branch">
					<f:facet name="header">Branch's Detail</f:facet>
					<h:outputText value="Branch Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.branchId}"></h:outputText>

					<h:outputText value="Branch Code"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.branchCode}"></h:outputText>

					<h:outputText value="Branch Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.branchName}"></h:outputText>

					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{approvalWebHandler.branch.description}"></h:outputText>

				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Branch Edit #{approvalWebHandler.branch.branchName}"
			id="viewBranchEdit" widgetVar="viewBranchEdit" modal="true"
			resizable="true">
			<h:form id="viewFormBranchEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="parameter-current,parameter-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Current Branch's Detail</f:facet>
						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.branchId}"></h:outputText>

						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.branchCode}"></h:outputText>

						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.branchName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevBranch.description}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Pending Branch's Detail</f:facet>
						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.branchId}"></h:outputText>

						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.branchCode}"></h:outputText>

						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.branchName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.branch.description}"></h:outputText>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Holiday #{approvalWebHandler.holiday.holidayName}"
			id="viewHoliday" widgetVar="viewHoliday" modal="true"
			resizable="true">
			<h:form id="viewFormHoliday">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-role, panelGrid-value-role">
					<f:facet name="header">Holiday's Detail</f:facet>
					<h:outputText value="Holiday Id"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.holidayId}"></h:outputText>

					<h:outputText value="Holiday Name"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.holidayName}"></h:outputText>

					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday.description}"></h:outputText>

					<h:outputText value="Holiday Date"></h:outputText>
					<h:outputText value="#{approvalWebHandler.holiday._holidayDate}"></h:outputText>

				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Holiday Edit #{approvalWebHandler.holiday.holidayName}"
			id="viewHolidayEdit" widgetVar="viewHolidayEdit" modal="true"
			resizable="true">
			<h:form id="viewFormHolidayEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="parameter-current,parameter-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Current Holiday's Detail</f:facet>
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.prevHoliday.holidayId}"></h:outputText>

						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevHoliday.holidayName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevHoliday.description}"></h:outputText>

						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText
							value="#{approvalWebHandler.prevHoliday._holidayDate}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-role, panelGrid-value-role">
						<f:facet name="header">Pending Holiday's Detail</f:facet>
						<h:outputText value="Holiday Id"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.holidayId}"></h:outputText>

						<h:outputText value="Holiday Name"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.holidayName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday.description}"></h:outputText>

						<h:outputText value="Holiday Date"></h:outputText>
						<h:outputText value="#{approvalWebHandler.holiday._holidayDate}"></h:outputText>
					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog widgetVar="dlgConfirmApproveAll" id="confirmDlgApproveAll"
			header="Approve All" modal="true" resizable="false">
			<h:form id="approveAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to approve all ?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{approvalWebHandler.approveAll()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmApproveAll.hide()"
							update=":approvalForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmRejectAll" id="confirmDlgRejectAll"
			header="Reject All" modal="true" resizable="false">
			<h:form id="rejectAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to reject all ?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{approvalWebHandler.rejectAll()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmRejectAll.hide()"
							update=":approvalForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">

		<h:form id="searchForm">

			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{approvalWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{approvalWebHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!approvalWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{approvalWebHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>

			<p:panelGrid rendered="#{approvalWebHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{approvalWebHandler.doSearch}"
								update=":approvalForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter Id" />
					</p:column>
					<p:column>
						<p:inputText id="parameterId" autocomplete="off"
							label="parameterId" value="#{approvalWebHandler.parameterId}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter Name" />
					</p:column>
					<p:column>
						<p:inputText id="parameterName" autocomplete="off"
							label="parameterName" value="#{approvalWebHandler.parameterName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterUser}" label="User"
							itemLabel="User" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterRole}" label="Role"
							itemLabel="Role" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterSystemParameter}"
							label="System Parameter" itemLabel="System Parameter" />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterBranch}"
							label="Branch" itemLabel="Branch" rendered="false" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterHoliday}"
							label="Holiday" itemLabel="Holiday" rendered="false" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchParameterScheduler}"
							label="Scheduler" itemLabel="Scheduler" rendered="false" />
						<br />
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:125px; border:none;">
						<h:outputLabel value="Action" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchActionCreate}" label="Create"
							itemLabel="Create" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchActionEdit}" label="Edit"
							itemLabel="Edit" />
						<br />
						<p:selectBooleanCheckbox
							value="#{approvalWebHandler.searchActionDelete}" label="Delete"
							itemLabel="Delete" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="approvalForm">
			<p:dataTable var="approval"
				value="#{approvalWebHandler.approvalList}" lazy="true"
				style="width: 1035px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="approvalTable">

				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: center;">
								<p:outputLabel value="Approval Data" />
							</td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="Parameter Id" style="width: 190px;">
					<h:outputText value="#{approval.parameterId}"></h:outputText>
				</p:column>
				<p:column headerText="Parameter Name">
					<h:outputText value="#{approval.parameterName}"></h:outputText>
				</p:column>
				<p:column headerText="Parameter">
					<h:outputText value="#{approval.parameter}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 100px;">
					<h:outputText value="#{approval.action}"></h:outputText>
				</p:column>
				<p:column headerText="Checked"
					style="text-align:center;width: 20px;">
					<h:inputHidden value="#{approval.selected}" />
					<p:selectBooleanCheckbox value="#{approval.selected}">
						<f:ajax event="valueChange"
							listener="#{approvalWebHandler.processChecked(approval)}" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Details"
					style="text-align:center;width: 30px;">
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="view" icon="ui-icon-person"
						actionListener="#{approvalWebHandler.viewDetail(approval)}"
						update=":viewFormUser :viewFormEditUser :viewFormRole :viewFormEditRole 
					:viewFormScheduler :viewFormSchedulerEdit :viewFormParameter :viewFormParameterEdit 
					:viewBranch :viewBranchEdit :viewHoliday :viewHolidayEdit" />
				</p:column>
			</p:dataTable>
		</h:form>
		<br />
		<h:form id="form1">
			<p:commandButton value="Approve Checked"
				actionListener="#{approvalWebHandler.approveChecked()}"
				update=":formGrowl :approvalForm" />
			<p:commandButton value="Approve All"
				oncomplete="dlgConfirmApproveAll.show();"
				update=":formGrowl :approvalForm" />
			<p:commandButton value="Reject Checked"
				actionListener="#{approvalWebHandler.rejectChecked()}"
				update=":formGrowl :approvalForm" />
			<p:commandButton value="Reject All"
				oncomplete="dlgConfirmRejectAll.show();"
				update=":formGrowl :approvalForm" />
		</h:form>

	</ui:define>
</ui:composition>