<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View Branch #{branchWebHandler.branch.branchName}"
			id="view" widgetVar="viewBranch" modal="true" resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Branch's Detail</f:facet>
					<h:outputText value="Branch Id"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.branchId}"></h:outputText>

					<h:outputText value="Branch Code"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.branchCode}"></h:outputText>

					<h:outputText value="Branch Name"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.branchName}"></h:outputText>

					<h:outputText value="Description"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>

					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide"
						icon="ui-icon-search" rendered="#{branchWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{branchWebHandler.hideHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show"
						icon="ui-icon-search"
						rendered="#{!branchWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{branchWebHandler.showHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>

				</p:panelGrid>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role"
					rendered="#{branchWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.createDate}"></h:outputText>

					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.createWho}"></h:outputText>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.updateDate}"></h:outputText>

					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.changeWho}"></h:outputText>

					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.approvalDate}"></h:outputText>

					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.approvalBy}"></h:outputText>

					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{branchWebHandler.branch.status}"></h:outputText>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Branch Edit #{branchWebHandler.branch.branchName}"
			id="viewBranchEdit" widgetVar="viewBranchEdit" modal="true"
			resizable="true">
			<h:form id="viewFormBranchEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="parameter-current,parameter-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Current Branch's Detail</f:facet>

						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.branchId}"></h:outputText>

						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.branchCode}"></h:outputText>

						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.branchName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-branch, panelGrid-value-branch">
						<f:facet name="header">Pending Branch's Detail</f:facet>

						<h:outputText value="Branch Id"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.branchId}"></h:outputText>

						<h:outputText value="Branch Code"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.branchCode}"></h:outputText>

						<h:outputText value="Branch Name"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.branchName}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText value="#{branchWebHandler.branchTemp.description}"></h:outputText>

					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Branch" id="edit"
			widgetVar="insertOrEditBranch" modal="true" resizable="true">
			<h:form id="insertOrEditForm">
				<p:panelGrid columns="2"
					columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
					<f:facet name="header">Branch's Detail</f:facet>

					<h:outputText value="Branch Id"></h:outputText>
					<p:column>
						<h:outputText id="branchId"
							value="#{branchWebHandler.branch.branchId}" required="true">
						</h:outputText>
						<h:outputText value=" " />
						<h:message for="branchId" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Branch Code *"></h:outputText>
					<p:column>
						<p:inputText id="branchCode"
							value="#{branchWebHandler.branch.branchCode}" required="true">
							<f:validateRegex pattern="[a-zA-Z0-9]+" />
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="branchCode" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Branch Name *"></h:outputText>
					<p:column>
						<p:inputText id="branchName"
							value="#{branchWebHandler.branch.branchName}" required="true">
							<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="branchName" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Description"></h:outputText>
					<p:column>
						<p:inputText id="description"
							value="#{branchWebHandler.branch.description}">
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="description" styleClass="validation-message" />
					</p:column>

				</p:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{branchWebHandler.doSave}"
						onclick="loadingDlg.show()" update=":insertOrEditForm :branchForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditBranch.hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Branch Pending" id="editPending"
			widgetVar="insertOrEditBranchPending" modal="true" resizable="true"
			height="100%">
			<h:form id="insertOrEditFormPending">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
						<f:facet name="header">Current Branch's Detail</f:facet>

						<h:outputText value="Branch Id"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.branchId}"></h:outputText>
						</p:column>

						<h:outputText value="Branch Code"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.branchCode}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
								<f:validateRegex pattern="[a-zA-Z0-9]+" />
							</p:inputText>
						</p:column>

						<h:outputText value="Branch Name"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.branchName}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
								<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
							</p:inputText>
						</p:column>

						<h:outputText value="Description"></h:outputText>
						<p:column>
							<h:outputText value="#{branchWebHandler.branch.description}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-branch, .panelGrid-value-branch">
						<f:facet name="header">Pending Branch's Detail</f:facet>
						<h:outputText value="Branch Id"></h:outputText>
						<p:column>
							<h:outputText id="branchId"
								value="#{branchWebHandler.branchTemp.branchId}" required="true">
							</h:outputText>
							<h:outputText value=" " />
							<h:message for="branchId" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Branch Code"></h:outputText>
						<p:column>
							<p:inputText id="branchCode"
								value="#{branchWebHandler.branchTemp.branchCode}"
								required="true">
								<f:validateRegex pattern="[a-zA-Z0-9]+" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="branchCode" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Branch Name"></h:outputText>
						<p:column>
							<p:inputText id="branchName"
								value="#{branchWebHandler.branchTemp.branchName}"
								required="true">
								<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="branchName" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Description"></h:outputText>
						<p:column>
							<p:inputText id="description"
								value="#{branchWebHandler.branchTemp.description}"
								required="true">
								<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="description" styleClass="validation-message" />
						</p:column>

					</p:panelGrid>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{branchWebHandler.doSave}" disabled=""
						id="btnSave" onclick="loadingDlg.show()"
						update=":insertOrEditFormPending :branchForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditBranchPending.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Branch" modal="true" resizable="false">
			<h:form id="deleteBranchForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete branch #{branchWebHandler.branch.branchName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{branchWebHandler.deleteBranch}"
							oncomplete="dlgConfirm.hide()" update=":branchForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{branchWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{branchWebHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!branchWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{branchWebHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{branchWebHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()"
								actionListener="#{branchWebHandler.doSearch}"
								update=":searchForm :branchForm" />
						</p:column>
						<p:column style="width:180px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Branch Id" />
					</p:column>
					<p:column>
						<p:inputText value="#{branchWebHandler.branchId}"
							autocomplete="off">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Branch Code" />
					</p:column>
					<p:column>
						<p:inputText value="#{branchWebHandler.branchCode}"
							autocomplete="off">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Branch Name" />
					</p:column>
					<p:column>
						<p:inputText value="#{branchWebHandler.branchName}"
							autocomplete="off">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:125px; border:none;">
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox value="#{branchWebHandler.pending}"
							label="Pending" itemLabel="Pending" />
						<br />
						<p:selectBooleanCheckbox value="#{branchWebHandler.approved}"
							label="Approved" itemLabel="Approved" />
						<br />
						<p:selectBooleanCheckbox value="#{branchWebHandler.rejected}"
							label="Rejected" itemLabel="Rejected" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="branchForm">
			<p:dataTable var="branch" value="#{branchWebHandler.branchList}"
				lazy="true" style="width: 1035px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="branchTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
								<p:commandButton icon="ui-icon-plusthick" value="Create Branch"
									oncomplete="insertOrEditBranch.show()"
									action="#{branchWebHandler.newBranch}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Branch Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Branch Id" style="width: 190px;">
					<h:outputText value="#{branch.branchId}"></h:outputText>
				</p:column>
				<p:column headerText="Branch Code" style="width: 100px;">
					<h:outputText value="#{branch.branchCode}"></h:outputText>
				</p:column>
				<p:column headerText="Branch Name">
					<h:outputText value="#{branch.branchName}"></h:outputText>
				</p:column>
				<p:column headerText="Description">
					<h:outputText value="#{branch.description}"></h:outputText>
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{branch.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 125px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-person"
						actionListener="#{branchWebHandler.viewDetailedBranch(branch)}"
						update=":viewForm :viewFormBranchEdit" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{branchWebHandler.viewDetailedBranchEdit(branch)}"
						update=":insertOrEditForm :viewForm :insertOrEditFormPending" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Delete" icon="ui-icon-close"
						actionListener="#{branchWebHandler.viewDetailedDelete(branch)}"
						update=":deleteBranchForm" />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>