<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="changePasswordForm">
			<h:panelGrid>
				<h:outputText styleClass="ui-confirm-dialog"
					value="Changing password only work for non UIM User." />
				<h:outputText styleClass="ui-confirm-dialog"
					value="If you are UIM User, please contact UIM Administrator." />
				<h:panelGroup>
					<p:commandButton value="I'm not UIM User, Proceed.."
						action="#{changePasswordConfirmationHandler.doChangePassword()}" />
					<p:commandButton ajax="false"
						action="#{changePasswordConfirmationHandler.doCancel()}"
						style="background:#CB2C1A;" title="Abort" value="Abort"
						id="abortButton" />
				</h:panelGroup>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>