<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete User"
			modal="true" resizable="false">
			<h:form id="killForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to kill #{killHandler.userkill.userName}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							actionListener="#{killHandler.killAnotherSession}"
							oncomplete="dlgConfirm.hide()" update=":sessionForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="sessionForm">
			<p:dataTable value="#{sessionBean.getAllConnectedUser()}" var="user"
				id="connectedUser">

				<p:column headerText="User name">
					<h:outputText value="#{user.userName}" />
				</p:column>

				<p:column headerText="Full Name">
					<h:outputText value="#{user.fullName}" />
				</p:column>

				<p:column headerText="IP Address">
					<h:outputText value="#{user.currentTerminal}" />
				</p:column>

				<p:column headerText="User Agent">
					<h:outputText value="#{user.userAgent}" />
				</p:column>

				<p:column headerText="Action">
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						update=":killForm" value="kill" oncomplete="dlgConfirm.show()">
						<f:setPropertyActionListener target="#{killHandler.userkill}"
							value="#{user}"></f:setPropertyActionListener>
					</p:commandLink>
				</p:column>

			</p:dataTable>
			<h:outputText value="#{connectedUserWebHandler.test}" />
		</h:form>
	</ui:define>
</ui:composition>