<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Account" />
						</p:column>
						<p:column style="white-space:nowrap;" width="100%">
							<p:commandButton icon="ui-icon-bullet" value="GAJI"
								disabled="true" style="width:45%"
								rendered="#{dailyReconciliationHandler.doShowGAJI}" />
							<p:commandButton icon="ui-icon-radio-on" value="GAJI"
								style="width:45%"
								rendered="#{!dailyReconciliationHandler.doShowGAJI}"
								actionListener="#{dailyReconciliationHandler.doClickGaji}"
								update=":searchForm :summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="RR GAJI"
								disabled="true" style="width:45%"
								rendered="#{dailyReconciliationHandler.doShowGAJIR}" />
							<p:commandButton icon="ui-icon-radio-on" value="RR GAJI"
								style="width:45%"
								rendered="#{!dailyReconciliationHandler.doShowGAJIR}"
								actionListener="#{dailyReconciliationHandler.doClickGajiR}"
								update=":searchForm :summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Date : " />
						</p:column>
						<p:column>
							<p:calendar value="#{dailyReconciliationHandler.docDate}"
								pattern="yyyy-MM-dd" navigator="true" id="docDate"
								showOn="button">
							</p:calendar>
							<span />
							<p:commandButton value="Submit"
								actionListener="#{dailyReconciliationHandler.doReconciliation}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="reconcile"
				value="#{dailyReconciliationHandler.reconcileList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Result To Be Process" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Date">
					<h:outputText value="#{reconcile.date}"></h:outputText>
				</p:column>
				<p:column headerText="Data">
					<h:outputText value="#{reconcile.data}"></h:outputText>
				</p:column>
				<p:column headerText="Value">
					<h:outputText value="#{reconcile.value}"></h:outputText>
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>