<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="headerForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputText value="Search Mode : " />
						</p:column>
						<p:column>
							<p:selectOneMenu
								value="#{dataValidationDepkeuHandler.checkValue}">
								<p:ajax
									listener="#{dataValidationDepkeuHandler.doCheckChange()}"
									update=":searchForm" />
								<f:selectItem itemLabel="----Select One Item----" itemValue=""
									noSelectionOption="true" />
								<f:selectItem itemLabel="Single" itemValue="0" />
								<f:selectItem itemLabel="Bulk" itemValue="1" />
							</p:selectOneMenu>
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="searchForm" enctype="multipart/form-data">
			<p:panelGrid>
				<f:facet name="header">
					<p:row rendered="#{dataValidationDepkeuHandler.doShowSingle}">
						<p:column style="white-space:nowrap;">
							<h:outputText value="Account Number : " />
						</p:column>
						<p:column style="white-space:nowrap;">
							<p:inputText id="inputAccountNumber" autocomplete="off"
								value="#{dataValidationDepkeuHandler.accountNumber}"></p:inputText>
						</p:column>
					</p:row>
					<p:row rendered="#{dataValidationDepkeuHandler.doShowSingle}">
						<p:column style="white-space:nowrap;">
							<h:outputText value="Account Name : " />
						</p:column>
						<p:column style="white-space:nowrap;">
							<p:inputText id="inputAccountName" autocomplete="off"
								value="#{dataValidationDepkeuHandler.accountName}"></p:inputText>
						</p:column>
						<p:column style="white-space:nowrap;">
							<p:commandButton value="Submit"
								actionListener="#{dataValidationDepkeuHandler.doInquiry}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
					<p:row rendered="#{dataValidationDepkeuHandler.doShowBulk}">
						<p:column style="white-space:nowrap;">
							<h:outputText value="Upload File : " />
						</p:column>
						<p:column style="white-space:nowrap;">
							<p:fileUpload value="#{dataValidationDepkeuHandler.fileUpload}"
								mode="simple" skinSimple="true" />
							<p:commandButton value="Submit" ajax="false"
								actionListener="#{dataValidationDepkeuHandler.doInquiry}" />
						</p:column>
					</p:row>
					<p:row rendered="#{dataValidationDepkeuHandler.doShowBulk}">
						<p:column style="white-space:nowrap;" colspan="2">
							<h:outputText value="Download Contoh Format File Upload" />
							<span />
							<p:commandButton value="Download" ajax="false"
								actionListener="#{dataValidationDepkeuHandler.downloadContoh}">
								<p:fileDownload
									value="#{dataValidationDepkeuHandler.fileContoh}" />
							</p:commandButton>
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="validation"
				value="#{dataValidationDepkeuHandler.accountValidationList}"
				lazy="true" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Data Validation" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink
									action="#{dataValidationDepkeuHandler.downloadXls}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink
									action="#{dataValidationDepkeuHandler.downloadPdf}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column width="10%">
					<f:facet name="header">
						<h:outputText value="No." />
					</f:facet>
					<h:outputText value="#{validation.recordNo}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account Number" />
					</f:facet>
					<h:outputText value="#{validation.accountNumber}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account Name" />
					</f:facet>
					<h:outputText value="#{validation.accountName}"></h:outputText>
				</p:column>
				<p:column headerText="Status">
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					<h:outputText value="#{validation.status}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>