<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Date : " />
						</p:column>
						<p:column>
							<p:calendar style="width:100%"
								value="#{depkeuReportHandler.docDateStart}" pattern="yyyy-MM-dd"
								navigator="true" id="docDateStart" showOn="button">
							</p:calendar>
						</p:column>
						<p:column>
							<h:outputLabel value=" - " />
						</p:column>
						<p:column>
							<p:calendar style="width:100%"
								value="#{depkeuReportHandler.docDateEnd}" pattern="yyyy-MM-dd"
								navigator="true" id="docDateEnd" showOn="button">
							</p:calendar>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputText value="Data Type : " />
						</p:column>
						<p:column>
							<p:selectOneMenu style="width:100%"
								value="#{depkeuReportHandler.reportType}">
								<f:selectItem
									itemLabel="------------Select One Item------------"
									itemValue="" noSelectionOption="true" />
								<f:selectItem itemLabel="Daftar SP2D Reject" itemValue="0" />
								<f:selectItem
									itemLabel="Daftar SP2D Reject yang telah diapprove oleh Kemenkeu"
									itemValue="1" />
								<!-- <f:selectItem itemLabel="Daftar SP2DR yang diupload ke CMS oleh unit monitoring interkoneksi SPAN - BO II P" itemValue="2" />
							<f:selectItem itemLabel="Daftar SP2DR yang telah di-approve oleh user Kemenkeu" itemValue="3" />
							<f:selectItem itemLabel="Daftar SP2DR yang telah divalidasi oleh BO II P dan telah di-approve user Kemenkeu" itemValue="4" /> -->
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton value="Submit"
								actionListener="#{depkeuReportHandler.doInquiryReport}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="report"
				value="#{depkeuReportHandler.depkeuReportList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="reportTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Depkeu Report" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink action="#{depkeuReportHandler.downloadXls}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink action="#{depkeuReportHandler.downloadPdf}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Document Date" />
					</f:facet>
					<h:outputText value="#{report.docDate}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Document Number" />
					</f:facet>
					<h:outputText value="#{report.docNumber}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Beneficiary Name" />
					</f:facet>
					<h:outputText value="#{report.benName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Beneficiary Account" />
					</f:facet>
					<h:outputText value="#{report.benAccount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Amount" />
					</f:facet>
					<h:outputText value="#{report.amount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Approval Status" />
					</f:facet>
					<h:outputText value="#{report.status}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>