<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Start Date : " />
						</p:column>
						<p:column>
							<p:calendar value="#{downloadRekeningKoranHandler.startDocDate}"
								pattern="yyyy-MM-dd" navigator="true" id="startDocDate"
								showOn="button" style="width:100%">
							</p:calendar>
						</p:column>
						<p:column>
							<h:outputLabel value="End Date : " />
						</p:column>
						<p:column>
							<p:calendar value="#{downloadRekeningKoranHandler.endDocDate}"
								pattern="yyyy-MM-dd" navigator="true" id="endDocDate"
								showOn="button" style="width:100%">
							</p:calendar>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputText value="Account Type : "></h:outputText>
						</p:column>
						<p:column>
							<p:selectOneMenu style="width:100%"
								value="#{downloadRekeningKoranHandler.accountType}">
								<f:selectItem itemLabel="----Select One Item----" itemValue=""
									noSelectionOption="true" />
								<f:selectItem itemLabel="GAJI" itemValue="0" />
								<f:selectItem itemLabel="RR GAJI" itemValue="1" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton styleClass="btn" value="Show Data"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide();"
								actionListener="#{downloadRekeningKoranHandler.doInquiry}"
								update=":searchForm :summaryForm" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="rek"
				value="#{downloadRekeningKoranHandler.rekKoranList}"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Download Rekening Koran" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink
									action="#{downloadRekeningKoranHandler.downloadXls}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink
									action="#{downloadRekeningKoranHandler.downloadPdf}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Transaction Date">
					<h:outputText value="#{rek.transactionDate}" />
				</p:column>

				<p:column headerText="Bank Transaction Code">
					<h:outputText value="#{rek.bankTransactionCode}" />
				</p:column>

				<p:column headerText="Debit">
					<h:outputText value="#{rek.debit}" />
				</p:column>

				<p:column headerText="Credit">
					<h:outputText value="#{rek.credit}" />
				</p:column>

				<p:column headerText="Bank Reference Number">
					<h:outputText value="#{rek.bankReferenceNumber}" />
				</p:column>

				<p:column headerText="Amount">
					<h:outputText value="#{rek.totalAmount}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>