<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="content">
		<!-- <f:event type="preRenderView"
			listener="#{downloadFileHandler.generatePage()}" />-->
		<h:form>

			<p:dataTable var="filex" value="#{downloadFileHandler.files}"
				rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
								<p:button outcome="downloadFile.jsf" value="Bank Statement"
									disabled="#{downloadFileHandler.folder eq 'BS'}">
									<f:param name="dl" value="0"></f:param>
									<f:param name="dir" value="DL_BS_DIR"></f:param>
									<f:param name="like" value="DL_BS_LIKE"></f:param>
									<f:param name="ext" value="DL_BS_EXT"></f:param>
								</p:button> <p:button outcome="downloadFile.jsf" value="SORBOR"
									disabled="#{downloadFileHandler.folder eq 'SBR'}">
									<f:param name="dl" value="0"></f:param>
									<f:param name="dir" value="DL_SORBOR_DIR"></f:param>
									<f:param name="like" value="DL_SORBOR_LIKE"></f:param>
									<f:param name="ext" value="DL_SORBOR_EXT"></f:param>
								</p:button> <p:button outcome="downloadFile.jsf" value="ACK"
									disabled="#{downloadFileHandler.folder eq 'INB'}">
									<f:param name="dl" value="0"></f:param>
									<f:param name="dir" value="DL_INBOUND_DIR"></f:param>
									<f:param name="like" value="DL_INBOUND_LIKE"></f:param>
									<f:param name="ext" value="DL_INBOUND_EXT"></f:param>
								</p:button>
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="List File" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="File Name" sortBy="#{filex.name}">
					<h:outputText value="#{filex.name}"></h:outputText>
				</p:column>
				<p:column headerText="Modified Date" sortBy="#{filex.modifiedDate}">
					<h:outputText value="#{filex.modifiedDate}"></h:outputText>
				</p:column>
				<p:column headerText="Action">
					<p:button icon="ui-icon-arrowthick-1-s" value="Download"
						outcome="download.jsf">
						<f:param name="filename" value="#{filex.name}" />
						<f:param name="dl" value="1"></f:param>
						<f:param name="dir" value="#{downloadFileHandler.dir}"></f:param>
						<f:param name="like" value="#{downloadFileHandler.specialName}"></f:param>
						<f:param name="ext"
							value="#{downloadFileHandler.specialExtension}"></f:param>
					</p:button>

					<!-- <h:outputLink value="download.jsf">
						<f:param name="filename" value="#{filex.name}" />
						<f:param name="dl" value="1"></f:param>
						<f:param name="dir" value="#{downloadFileHandler.dir}"></f:param>
						<f:param name="like" value="#{downloadFileHandler.specialName}"></f:param>
						<f:param name="ext"
							value="#{downloadFileHandler.specialExtension}"></f:param>
						<h:outputText value="Download" />
					</h:outputLink> -->
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>