
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="form1">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">INPUT NOMOR SAKTI</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Buku" />
					</p:column>
					<p:column style="width:450px; border:none;">
						<p:calendar value="#{inputNoSaktiHandler.startDate}"
							pattern="dd-MM-yyyy" navigator="true" id="startDate"
							showOn="button" required="true"
							requiredMessage="Anda harus mengisi start Date">
						</p:calendar>
					</p:column>
				</p:row>

				<!-- 					<p:row> -->
				<!-- 						<p:column ><h:outputLabel value="NTB" /></p:column> -->
				<!-- 						<p:column > -->
				<!-- 							<p:inputText  -->
				<!-- 							id="kodeBilling"  autocomplete="off" -->
				<!-- 							label="kodeBilling" value="#{inputNoSaktiHandler.ntb}"> -->
				<!-- 							</p:inputText> -->
				<!-- 						</p:column> -->
				<!-- 					</p:row> -->
				<p:row>
					<p:column colspan="2">
						<p:commandButton id="submitButton" value="Filter"
							update=":form2:dataTrx :form1:totalSetoran :form1:totalTrx :form1:saveNosakti :form1:noSakti :form1:submitButton"
							actionListener="#{inputNoSaktiHandler.filterTransaction}"
							onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputText value="Jumlah Transaksi" />
					</p:column>
					<p:column>
						<h:outputText value="#{inputNoSaktiHandler.totalTrx}"
							id="totalTrx">
						</h:outputText>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputText value="Jumlah Setoran" />
					</p:column>
					<p:column>
						<h:outputText value="#{inputNoSaktiHandler.totalSetoran}"
							id="totalSetoran">
							<f:convertNumber pattern="###,###" />
						</h:outputText>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel for="referenceNo" value="Reference No" />
					</p:column>
					<p:column>
						<p:inputText id="referenceNo" autocomplete="off"
							value="#{inputNoSaktiHandler.referenceNo}" />

					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel for="noSakti" value="No.Sakti" />
					</p:column>
					<p:column>
						<p:inputText value="#{inputNoSaktiHandler.noSakti}" id="noSakti">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="2">
						<p:commandButton id="saveNosakti" value="Input No Sakti"
							actionListener="#{inputNoSaktiHandler.saveNoSakti}"
							update=":form2:dataTrx :form1:totalSetoran :form1:totalTrx"
							disabled="#{inputNoSaktiHandler.disableButton}" />
					</p:column>

				</p:row>
			</p:panelGrid>


		</h:form>

		<br></br>

		<h:form id="form2">

			<p:dataTable
				filteredValue="#{inputNoSaktiHandler.filteredTransaction}"
				pageLinks="5" emptyMessage="No Transaction Record Found"
				var="reportDetail" id="dataTrx" rowIndexVar="index"
				value="#{inputNoSaktiHandler.listReport}" paginator="true" rows="15"
				sortBy="#{reportDetail.kodeBilling}">


				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Data Transaksi" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="No" />
					</f:facet>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Tgl Pembayaran" />
					</f:facet>
					<h:outputText value="#{reportDetail.tglTerimaBayar}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Jam Pembayaran" />
					</f:facet>
					<h:outputText value="#{reportDetail.jamTerimaBayar}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Tanggal Buku"></h:outputText>
					</f:facet>
					<h:outputText value="#{reportDetail.tanggalBuku}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="ID Billing"></h:outputText>
					</f:facet>
					<h:outputText value="#{reportDetail.kodeBilling}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="NTB"></h:outputText>
					</f:facet>
					<h:outputText value="#{reportDetail.NTB}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="NTPN" width="110"></h:outputText>
					</f:facet>
					<h:outputText value="#{reportDetail.NTPN}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Nilai Pembayaran" />
					</f:facet>
					<h:outputText value="#{reportDetail.jumlahSetoran}">
						<f:convertNumber locale="en-US" type="currency" />
					</h:outputText>

				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Currency"></h:outputText>
					</f:facet>
					<h:outputText value="#{reportDetail.currency}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Nomor Sakti" />
					</f:facet>
					<h:outputText value="#{reportDetail.noSakti}" />
				</p:column>

			</p:dataTable>
		</h:form>
		<script type="text/javascript">  
function start() {  
    PF('statusDialog').show();  
}  
  
function stop() {  
    PF('statusDialog').hide();  
}  
        </script>
	</ui:define>
</ui:composition>