<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<!-- <p:row>
						<p:column style="white-space:nowrap;" width="100%">
							<p:commandButton icon="ui-icon-triangle-1-s" value="Add Document Number / SP2D Number" style="align:left"/>
						</p:column>
					</p:row> -->
					<p:row>
						<p:column style="white-space:nowrap;" width="100%">
							<h:outputText value="Document Number / SP2D Number* : " />
							<span />
							<p:inputText id="inputDocumentNumber" autocomplete="off"
								value="#{inquiryDocumentNumberHandler.documentNumber}"></p:inputText>
							<span />
							<p:commandButton value="Submit"
								actionListener="#{inquiryDocumentNumberHandler.doInquiry}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
					<!-- <p:row>
						<p:column>
							<h:outputText value="Notes :"/>
							<br/>
							<h:outputText value="Untuk Pencarian multiple Document Number / SP2D hanya dapat dilakukan pada rekening yang sama."/>
						</p:column>
					</p:row> -->
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="inquiry"
				value="#{inquiryDocumentNumberHandler.inquiryList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Inquiry Document Number" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Filename">
					<h:outputText value="#{inquiry.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Doc Number" width="10%">
					<h:outputText value="#{inquiry.documentNo}"></h:outputText>
				</p:column>
				<p:column headerText="Doc Date" width="10%">
					<h:outputText value="#{inquiry.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Credit Acc. No" width="10%">
					<h:outputText value="#{inquiry.documentDate}"></h:outputText>
				</p:column>
				<p:column headerText="Credit Acc. Name" width="10%">
					<h:outputText value="#{inquiry.creditAccountName}"></h:outputText>
				</p:column>
				<p:column headerText="Debit Acc. No" width="10%">
					<h:outputText value="#{inquiry.debitAccountNo}"></h:outputText>
				</p:column>
				<p:column headerText="Amount" width="10%">
					<h:outputText value="#{inquiry.amount}"></h:outputText>
				</p:column>
				<p:column headerText="Remittance No" width="10%">
					<h:outputText value="#{inquiry.remittanceNo}"></h:outputText>
				</p:column>
				<p:column headerText="Status" width="10%">
					<h:outputText value="#{inquiry.statusTrx}"></h:outputText>
				</p:column>
				<p:column headerText="SorBor No." width="10%">
					<h:outputText value="#{inquiry.sorBorNum}"></h:outputText>
				</p:column>
				<p:column headerText="Executor" width="10%">
					<h:outputText value="#{inquiry.executor}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>