<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1"></meta>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
	</f:facet>

	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/images/favico.ico" />

	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/resources/themes/start/theme.css" />

	<!-- 	 <link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/themes/ui-lightness/theme.css"/> -->

	<!--     <link type="text/css" rel="stylesheCet" href="#{request.contextPath}/resources/themes/primefaces-ui-darkness/theme.css"/> -->


	<title>SPAN - BJB</title>

	<h:outputStylesheet library="css" name="default.css" />

	<h:outputScript library="javascript" name="custom.js" target="head" />
	<h:outputScript library="javascript" name="dosalama.js" target="head" />
</h:head>

<h:body>
	<p:layout fullPage="true">

		<p:layoutUnit position="north" styleClass="header" size="100">

			<div class="titleMain">
				<p:graphicImage width="10%" value="/resources/images/logo.png" />
			</div>
			<!-- 			<div class="titleMainPersesi"> -->
			<!-- 				Bank Persepsi -->
			<!-- 			</div> -->
			<ui:define name="dialog">

			</ui:define>
			<h:form prependId="false">
				<p:toolbar styleClass="toolbar">
					<p:toolbarGroup align="left"
						style="margin-left: 5%; line-height:35px;">
						<p:separator />
						<h:outputText value="W e l c o m e !" />
						<p:separator />
						<h:outputText value="#{sessionBean.user.fullName}" />
						<p:separator />
					</p:toolbarGroup>
					<p:toolbarGroup align="right"
						style="margin-right: 5%; line-height:35px;">
						<p:separator />
						<p:clock pattern="dd MMM yyyy, HH:mm:ss" />
						<p:separator />
						<p:commandButton action="#{loginHandler.doChangePassword()}"
							style="background:#2d2d86;" value="Change Password"
							rendered="false" />
						<p:commandButton ajax="false" icon="ui-icon-power"
							action="#{loginHandler.doLogout}" style="background:#CB2C1A;"
							title="Logout" value="Logout" id="logoutButton" />
						<p:separator />
					</p:toolbarGroup>
				</p:toolbar>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="west" minSize="230" maxSize="400"
			resizable="true">
			<p:layout>
				<p:layoutUnit position="north" style="overflow:hidden;"
					styleClass="filter-menu">
					<p:toolbar>
						<p:toolbarGroup align="left">
							<p:inputText styleClass="search-menu" id="search"
								style="width:150px;" autocomplete="off" />
							<p:watermark value="Filter Menu" for="search" />
						</p:toolbarGroup>
					</p:toolbar>
				</p:layoutUnit>
				<p:layoutUnit position="center">
					<h:form id="layoutForm" prependId="false">
						<p:commandButton id="lgoutBtn" style="display: none;"
							action="#{loginHandler.doLogout}" />
						<div id="menus">
							<!-- <p:panelMenu model="#{sessionBean.menuModel}" /> -->
							<p:menu model="#{sessionBean.menuModel}" styleClass="menu-item" />
						</div>
					</h:form>
				</p:layoutUnit>
			</p:layout>
		</p:layoutUnit>

		<p:layoutUnit position="center" id="contentWeb">
			<ui:insert name="content"></ui:insert>
		</p:layoutUnit>

	</p:layout>

	<ui:insert name="dialog">
	</ui:insert>

	<p:dialog showHeader="false" modal="true" widgetVar="loadingDlg"
		id="dlgLoding" draggable="false" width="260px" resizable="false"
		closable="false">
		<p:graphicImage value="/resources/images/ajaxloadingbar.gif" />
	</p:dialog>

	<h:form id="formGrowl">
		<p:growl showDetail="false" />
	</h:form>

	<h:outputScript library="javascript" name="global.js" target="head" />
	<h:outputScript library="omnifaces" name="fixviewstate.js"
		target="head" />

	<script>
		$(document).ready(function() {
			var viewId = '#{view.viewId}';
			var views = viewId.split("/");
			var pageName = views[views.length - 1];
			views = pageName.split(".");
			pageName = '.' + views[0];
			var linkpage = $("div").find(pageName);
			linkpage.addClass('ui-state-active');
			
			var closestParentDiv = linkpage.parent().closest('div');
			closestParentDiv.attr('aria-hidden', 'false');
			closestParentDiv.css('display', 'block');
			
			var heading = closestParentDiv.siblings('h3');
			heading.addClass('ui-state-active');
			heading.children('span').removeClass('ui-icon-triangle-1-e');
			heading.children('span').addClass('ui-icon-triangle-1-s');
			isNumeric();
		});
		

		function isNumeric(){
			$(".numeric").keypress(function (e) {
			    if (e.which != 8 &amp;&amp; e.which != 0 &amp;&amp; (e.which &lt; 48 || e.which &gt; 57)) {
			       return false;
			   }
			});
		}
	</script>
</h:body>
</html>