<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=8"></meta>
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	</f:facet>

	<title>Login - SPAN</title>

	<link type="text/css" rel="stylesheet"
		href="#{request.contextPath}/resources/themes/start/theme.css" />


	<!--     <link rel="icon" type="image/ico" href="favicon.ico"/> -->
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/resources/images/favico.ico" />
	<link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
	<link href="css/skepia.css" rel="stylesheet" type="text/css" />
	<link rel='stylesheet' type='text/css'
		href='css/fullcalendar.print.css' media='print' />
	<script type='text/javascript'
		src='js/plugins/jquery/jquery-1.9.1.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/jquery/jquery-ui-1.10.1.custom.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/jquery/jquery-migrate-1.1.1.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/jquery/jquery.mousewheel.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/cookie/jquery.cookies.2.2.0.min.js'></script>
	<script type='text/javascript' src='js/plugins/bootstrap.min.js'></script>
	<script type='text/javascript' src='js/plugins/charts/excanvas.min.js'></script>
	<script type='text/javascript' src='js/plugins/charts/jquery.flot.js'></script>
	<script type='text/javascript'
		src='js/plugins/charts/jquery.flot.stack.js'></script>
	<script type='text/javascript'
		src='js/plugins/charts/jquery.flot.pie.js'></script>
	<script type='text/javascript'
		src='js/plugins/charts/jquery.flot.resize.js'></script>
	<script type='text/javascript'
		src='js/plugins/sparklines/jquery.sparkline.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/fullcalendar/fullcalendar.min.js'></script>
	<script type='text/javascript' src='js/plugins/select2/select2.min.js'></script>
	<script type='text/javascript' src='js/plugins/uniform/uniform.js'></script>
	<script type='text/javascript'
		src='js/plugins/maskedinput/jquery.maskedinput-1.3.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/validation/languages/jquery.validationEngine-en.js'
		charset='utf-8'></script>
	<script type='text/javascript'
		src='js/plugins/validation/jquery.validationEngine.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/animatedprogressbar/animated_progressbar.js'></script>
	<script type='text/javascript'
		src='js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/cleditor/jquery.cleditor.js'></script>
	<script type='text/javascript'
		src='js/plugins/dataTables/jquery.dataTables.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/fancybox/jquery.fancybox.pack.js'></script>
	<script type='text/javascript'
		src='js/plugins/pnotify/jquery.pnotify.min.js'></script>
	<script type='text/javascript'
		src='js/plugins/ibutton/jquery.ibutton.min.js'></script>
	<script type='text/javascript' src='js/cookies.js'></script>
	<script type='text/javascript' src='js/actions.js'></script>
	<script type='text/javascript' src='js/charts.js'></script>
	<script type='text/javascript' src='js/plugins.js'></script>
	<!--     <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
</h:head>
<h:body class='login'>

	<div class="wrapper skepia">
		<div class="login-container">
			<div class="loginBlock" id="login">
				<div class="logo">
					<img src="img/logo/bjb.png" />
				</div>
				<h1>PENGELOLAAN BO II KEMENKEU</h1>
				<div class="container" style="align: center;">
					<section class="main">
					<h:form class="form-2"
						prependId="false">

						<p:poll listener="#{loginHandler.keepUserSessionAlive()}"
							interval="#{session.maxInactiveInterval - 10}" />
						<div class="control-group">
							<div class="input-prepend">
								<span class="add-on"><span class="icon-user"></span></span>
								<p:inputText id="userName" autocomplete="off"
									requiredMessage="Username is required. " required="true"
									value="#{loginHandler.user.userName}" style="width:250px;"
									maxlength="50">
									<f:validateRegex pattern="[a-zA-Z0-9]+" />
								</p:inputText>
							</div>
						</div>
						<div class="control-group">
							<div class="input-prepend">
								<span class="add-on"><span class="icon-lock"></span></span>
								<!-- tanya max length ldap password -->
								<p:password autocomplete="off" style="width:250px;"
									requiredMessage="Password is required. "
									styleClass="ui-inputfield ui-widget ui-state-default ui-corner-all password1 showpassword"
									value="#{loginHandler.password}" maxlength="50" id="password"
									required="true" />

							</div>
						</div>

						<!-- By pass capca -->
						<div class="control-group captcha">
							<h:graphicImage id="capimg"
								value="#{facesContext.externalContext.requestContextPath}/../Captcha.jpg" />
						</div>
						<div class="control-group ">
							<div class="input-prepend">
								<span class="add-on"><span class="icon-question-sign"></span></span>
								<!-- tanya max length captcha -->
								<p:inputText id="chaptcha" value="#{loginHandler.validate}"
									style="width:250px;" requiredMessage="Captcha is required. "
									required="true" maxlength="10">
									<f:validator validatorId="captchaValidator" />
									<!-- <f:validateRegex pattern="[a-zA-Z0-9 ]+"/> -->
									<h:message id="chaptcha1" for="chaptcha" style="color:red" />
								</p:inputText>
								<br />
							</div>
							<h:messages id="msg" style="color:#CD0A0A" />
						</div>
						<div class="row-fluid">
							<p:commandButton value="Login" action="#{loginHandler.doLogin}"
								update="msg" ajax="false" align="right"
								style="align:right;background-color:#004091;color:white" />
						</div>
					</h:form> </section>
				</div>
			</div>
		</div>
		<div class="login-footer">
			<!-- <img class="logo-daya" src="img/logo/daya.png" /> -->
		</div>
	</div>

</h:body>
</html>