<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View Rtgs #{logRtgsHandler.rtgs.transactionId}"
			id="view" widgetVar="viewRtgs" modal="true" resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-rtgs, panelGrid-value-rtgs">
					<f:facet name="header">Transaction Rtgs Detail</f:facet>

					<h:outputText value="Transaction Id"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.transactionId}"></h:outputText>

					<h:outputText value="Transaction Date"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.transactionDate}"></h:outputText>

					<h:outputText value="Update Date"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.updateDate}"></h:outputText>

					<h:outputText value="Transaction Flag"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.transactionFlag}"></h:outputText>

					<h:outputText value="Reference Number"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.referenceNumber}"></h:outputText>

					<h:outputText value="Account Currency"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.accountCurrency}"></h:outputText>

					<h:outputText value="Source Account Number"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.sourceAccountNumber}"></h:outputText>

					<h:outputText value="Destination Account Number"></h:outputText>
					<h:outputText
						value="#{logRtgsHandler.rtgs.destinationAccountNumber}"></h:outputText>

					<h:outputText value="Destination Account Name"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.destinationAccountName}"></h:outputText>

					<h:outputText value="Transaction Amount"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.transactionAmount}"></h:outputText>

					<h:outputText value="Payment Type"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.paymentType}"></h:outputText>

					<h:outputText value="Bank Code"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.bankCode}"></h:outputText>

					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.userId}"></h:outputText>

					<h:outputText value="Response"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.response}"></h:outputText>

					<h:outputText value="Response Desc"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.responseDesc}"></h:outputText>

					<h:outputText value="State"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.state}"></h:outputText>

					<h:outputText value="BPSX Name"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.bpsxName}"></h:outputText>

					<h:outputText value="BPOX Name"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.bpoxName}"></h:outputText>

					<h:outputText value="BPPX Name"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.bppxName}"></h:outputText>

					<h:outputText value="No Sakti"></h:outputText>
					<h:outputText value="#{logRtgsHandler.rtgs.noSakti}"></h:outputText>

				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Execute Rtgs"
			modal="true" resizable="false">
			<h:form id="executeRtgsForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to execute rtgs ?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{logRtgsHandler.getRefNo}"
							oncomplete="loadingDlg.hide();dlgConfirm.hide()"
							update=":logRtgsForm" onclick="loadingDlg.show()" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmAgain" id="confirmAgain"
			header="Execute Rtgs" modal="true" resizable="false">
			<h:form id="executeRtgsForm2">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="This date is already execute. Do you want to continue ?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{logRtgsHandler.executeRtgs}"
							oncomplete="loadingDlg.hide();dlgConfirmAgain.hide()"
							update=":logRtgsForm" onclick="loadingDlg.show()" />
						<p:commandButton value="No" onclick="dlgConfirmAgain.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="inputForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton styleClass="btn" value="Execute" id="execute"
								oncomplete="dlgConfirm.show()" />
						</p:column>
						<p:column style="width:180px; border:none;">Execute Rtgs</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Buku" />
					</p:column>
					<p:column>
						<p:calendar id="fDate"
							value="#{logRtgsHandler.rtgsTransactionDate}" required="true"
							pattern="yyyy-MM-dd" showOn="button" />
						<h:message id="m1" for="fDate" style="color:red" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{logRtgsHandler.doShowSearch}">
				<p:ajax event="click" listener="#{logRtgsHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!logRtgsHandler.doShowSearch}">
				<p:ajax event="click" listener="#{logRtgsHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{logRtgsHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()"
								actionListener="#{logRtgsHandler.doSearch}"
								update=":searchForm :logRtgsForm" />
						</p:column>
						<p:column style="width:180px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Transaction Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{logRtgsHandler.transactionDate}"
							showOn="button" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="BPPX Name" />
					</p:column>
					<p:column>
						<p:inputText autocomplete="off" value="#{logRtgsHandler.bppxName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="State" />
					</p:column>
					<p:column>
						<p:inputText autocomplete="off" value="#{logRtgsHandler.state}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Reference Number" />
					</p:column>
					<p:column>
						<p:inputText autocomplete="off"
							value="#{logRtgsHandler.referenceNumber}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Response" />
					</p:column>
					<p:column>
						<p:inputText autocomplete="off" value="#{logRtgsHandler.response}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Response Desc" />
					</p:column>
					<p:column>
						<p:inputText autocomplete="off"
							value="#{logRtgsHandler.responseDesc}">
						</p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="logRtgsForm">
			<p:dataTable var="rtgs" value="#{logRtgsHandler.rtgsList}"
				lazy="true" style="width: 1335px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="logRtgsTable">

				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Log Rtgs" /></td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="Transaction Date" style="width: 200px;">
					<h:outputText value="#{rtgs.transactionDate}"></h:outputText>
				</p:column>

				<p:column headerText="BPPX Name" style="width: 300px;">
					<h:outputText value="#{rtgs.bppxName}"></h:outputText>
				</p:column>

				<p:column headerText="State" style="width: 300px;">
					<h:outputText value="#{rtgs.state}"></h:outputText>
				</p:column>

				<p:column headerText="Reference Number" style="width: 200px;">
					<h:outputText value="#{rtgs.referenceNumber}"></h:outputText>
				</p:column>

				<p:column headerText="Response" style="width: 200px;">
					<h:outputText value="#{rtgs.response}"></h:outputText>
				</p:column>

				<p:column headerText="Response Desc" style="width: 300px;">
					<h:outputText value="#{rtgs.responseDesc}"></h:outputText>
				</p:column>
				<p:column headerText="Action" width="100">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-person"
						actionListener="#{logRtgsHandler.viewDetailedRtgs(rtgs)}"
						update=":viewForm">
					</p:commandLink>
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>