<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirmVoidChecked" id="confirmDlgVoidChecked"
			header="Void Checked" modal="true" resizable="false">
			<h:form id="unvoidAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to Void Checked records?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							actionListener="#{monitoringVoidDepkeuHandler.voidChecked()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmVoidChecked.hide()"
							update=":summaryForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmUnvoidChecked"
			id="confirmDlgUnvoidChecked" header="Unvoid Checked" modal="true"
			resizable="false">
			<h:form id="unvoidCheckedForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to Unvoid checked records?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							actionListener="#{monitoringVoidDepkeuHandler.unvoidChecked()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmUnvoidChecked.hide()"
							update=":summaryForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Void Document Number" id="viewVoidDocumentNumber"
			widgetVar="viewVoidDocumentNumberDlg" modal="true" resizable="true">
			<h:form id="viewFormVoidDocumentNumber" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="Document Number" />
							</p:column>
							<p:column>
								<p:inputText id="documentNumber"
									value="#{monitoringVoidDepkeuHandler.documentNumber}">
								</p:inputText>
							</p:column>
							<p:column>
								<p:commandButton id="searchDocumentNumber" value="Search"
									onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()"
									action="#{monitoringVoidDepkeuHandler.searchDocumentNumber()}"
									update=":viewFormVoidDocumentNumber" />
							</p:column>
						</p:row>
					</f:facet>
					<p:row>
						<p:column>
							<h:outputLabel value="Doc Number " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.documentNumber}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Filename " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.fileName}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Debit Acc. No. " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.debitAccNo}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Debit Acc. Type " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.debitAccType}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Doc Date " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.documentDate}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Amount " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.spanHostDataDetail.amount}" />
						</p:column>
					</p:row>
					<p:row
						rendered="#{monitoringVoidDepkeuHandler.doShowSearchMessage}">
						<p:column colspan="3">
							<h:outputLabel
								value="#{monitoringVoidDepkeuHandler.searchMessage}"
								style="color:#CD0A0A; text-align:center" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="3"
							style="border:none; padding:0px; text-align:center;">
							<p:commandButton styleClass="btn" value="Void DocNumber"
								onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide(); viewVoidDocumentNumberDlg.hide();"
								rendered="#{monitoringVoidDepkeuHandler.doShowVoidDocumentNumber}"
								action="#{monitoringVoidDepkeuHandler.doVoidDocumentNumber()}"
								update=":summaryForm" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Void Document Number List"
			id="viewVoidDocumentNumberList"
			widgetVar="viewVoidDocumentNumberListDlg" modal="true"
			resizable="true">
			<h:form id="viewFormVoidDocumentNumberList" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="Filename" />
							</p:column>
							<p:column>
								<p:column>
									<h:outputLabel
										value="#{monitoringVoidDepkeuHandler.filenameDetail}" />
								</p:column>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="SP2D No" />
							</p:column>
							<p:column>
								<p:column>
									<h:outputLabel
										value="#{monitoringVoidDepkeuHandler.sp2dDetail}" />
								</p:column>
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
				<p:dataTable var="monitoringVoid"
					value="#{monitoringVoidDepkeuHandler.voidDocumentNumberList}"
					lazy="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailTable">
					<p:column headerText="Doc Number">
						<h:outputText value="#{monitoringVoid.documentNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Acc. No.">
						<h:outputText value="#{monitoringVoid.creditAccNo}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Acc. Type">
						<h:outputText value="#{monitoringVoid.creditAccName}"></h:outputText>
					</p:column>
					<p:column headerText="Amount">
						<h:outputText value="#{monitoringVoid.amountString}"></h:outputText>
					</p:column>
					<p:column headerText="Unvoid" rendered="false">
						<p:commandButton styleClass="btn" value="Unvoid"
							action="#{monitoringVoidDepkeuHandler.doUnvoidDocumentNumber(monitoringVoid)}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide(); viewVoidDocumentNumberListDlg.hide();"
							update=":summaryForm" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>
		<p:dialog header="Void Document Number List"
			id="viewVoidDocumentNumberHList"
			widgetVar="viewVoidDocumentNumberHListDlg" modal="true"
			resizable="true">

			<h:form id="viewFormVoidDocumentNumberHList" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="Filename" />
							</p:column>
							<p:column>
								<p:column>
									<h:outputLabel
										value="#{monitoringVoidDepkeuHandler.filenameDetail}" />
								</p:column>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="SP2D No" />
							</p:column>
							<p:column>
								<p:column>
									<h:outputLabel
										value="#{monitoringVoidDepkeuHandler.sp2dDetail}" />
								</p:column>
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>

				<p:dataTable var="monitoringVoid"
					value="#{monitoringVoidDepkeuHandler.voidDocumentNumberList}"
					lazy="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailHTable">
					<p:column headerText="Doc Number">
						<h:outputText value="#{monitoringVoid.documentNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Acc. No.">
						<h:outputText value="#{monitoringVoid.creditAccNo}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Acc. Type">
						<h:outputText value="#{monitoringVoid.creditAccName}"></h:outputText>
					</p:column>
					<p:column headerText="Amount">
						<h:outputText value="#{monitoringVoid.amountString}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Void SP2D List" id="viewVoidSp2dList"
			widgetVar="viewVoidSp2dDlg" modal="true" resizable="true">
			<h:form id="viewFormVoidSp2d" prependId="false">
				<p:dataTable var="voidSp2d"
					value="#{monitoringVoidDepkeuHandler.monitoringVoidSp2dList}"
					lazy="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailTableSp2d">
					<f:facet name="header">
						<table>
							<tr>
								<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
										value="Monitoring Void SP2D" /></td>
							</tr>
						</table>
					</f:facet>

					<p:column filterBy="#{voidSp2d.filename}"
						filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Filename"></h:outputText>
						</f:facet>
						<h:outputText value="#{voidSp2d.filename}" />
					</p:column>
					<p:column filterBy="#{voidSp2d.sp2dNo}" filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="SP2D Number"></h:outputText>
						</f:facet>
						<h:outputText value="#{voidSp2d.sp2dNo}" />
					</p:column>
					<p:column headerText="Datetime Void">
						<h:outputText value="#{voidSp2d.datetimeVoid}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Void SP2D Backdate" id="viewVoidSp2dBackdateList"
			widgetVar="viewVoidSp2dBackdateDlg" modal="true" resizable="true">
			<h:form id="searchFormBackdate">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="SP2D No. : " />
							</p:column>
							<p:column>
								<p:inputText id="sp2dNumber"
									value="#{monitoringVoidDepkeuHandler.sp2dback}"></p:inputText>
							</p:column>
							<p:column>
								<p:commandButton value="Filter"
									actionListener="#{monitoringVoidDepkeuHandler.loadBackdate}"
									update=":viewFormVoidSp2dBackdate" onclick="loadingDlg.show()"
									oncomplete="loadingDlg.hide()" />
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>

			<h:form id="viewFormVoidSp2dBackdate" prependId="false">
				<p:dataTable var="voidSp2d"
					filteredValue="#{monitoringVoidDepkeuHandler.filspanDataValidationBackdateList}"
					value="#{monitoringVoidDepkeuHandler.spanDataValidationBackdateList}"
					lazy="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailTableSp2dBackdate">
					<f:facet name="header">
						<table>
							<tr>
								<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
										value="Monitoring Void SP2D Backdate" /></td>
							</tr>
						</table>
					</f:facet>

					<p:column filterBy="#{voidSp2d.fileName}"
						filterMatchMode="contains">
						<f:facet name="header">
							<h:outputText value="Filename"></h:outputText>
						</f:facet>
						<h:outputText value="#{voidSp2d.fileName}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Document Date"></h:outputText>
						</f:facet>
						<h:outputText value="#{voidSp2d.documentDate}" />
					</p:column>
					<p:column headerText="Create Date">
						<h:outputText value="#{voidSp2d.createDate}">
							<f:convertDateTime pattern="yyyy-MM-dd" timeZone="Asia/Jakarta"></f:convertDateTime>
						</h:outputText>
					</p:column>
					<p:column headerText="Detail">
						<p:commandButton styleClass="btn" value="Show"
							onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							update=":viewFormDocumentNumber :formSummaryDetail"
							action="#{monitoringVoidDepkeuHandler.doShowDetail(voidSp2d, '1')}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Void History" id="viewVoidSp2dHistoryList"
			widgetVar="viewVoidSp2dHistoryDlg" modal="true" resizable="true">
			<h:form id="viewFormVoidSp2dHistory" prependId="false">
				<p:dataTable var="monitoringVoid"
					value="#{monitoringVoidDepkeuHandler.voidHistoryList}"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="10,15,20" id="detailTableSp2dHistory"
					filteredValue="#{monitoringVoidDepkeuHandler.filspanDataValidationBackdateList}">
					<f:facet name="header">
						<table>
							<tr>
								<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
										value="Monitoring Void SP2D History" /></td>
							</tr>
						</table>
					</f:facet>
					<p:column headerText="Filename"
						filterBy="#{monitoringVoid.fileName}" filterMatchMode="contains">
						<h:outputText value="#{monitoringVoid.fileName}"></h:outputText>
					</p:column>
					<p:column headerText="SP2D Number"
						filterBy="#{monitoringVoid.sp2dNumber}" filterMatchMode="contains">
						<h:outputText value="#{monitoringVoid.sp2dNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Debit Account No">
						<h:outputText value="#{monitoringVoid.debitAccountNo}"></h:outputText>
					</p:column>
					<p:column headerText="Debit Account Type">
						<h:outputText value="#{monitoringVoid.debitAccountType}"></h:outputText>
					</p:column>
					<p:column headerText="Document Date"
						filterBy="#{monitoringVoid.documentDate}"
						filterMatchMode="contains">
						<h:outputText value="#{monitoringVoid.documentDate}"></h:outputText>
					</p:column>
					<p:column headerText="Total Amount Void">
						<h:outputText value="#{monitoringVoid.totalAmount}"></h:outputText>
					</p:column>
					<p:column headerText="Total Record Void">
						<h:outputText value="#{monitoringVoid.totalRecord}"></h:outputText>
					</p:column>
					<p:column headerText="Proc Status" rendered="false">
						<h:outputText value="#{monitoringVoid.procStatus}"></h:outputText>
					</p:column>
					<p:column headerText="Detail">
						<p:commandButton styleClass="btn" value="Show"
							rendered="#{monitoringVoid.voidStatus}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide(); viewVoidDocumentNumberHListDlg.show();"
							update=":viewFormVoidDocumentNumberHList"
							action="#{monitoringVoidDepkeuHandler.loadVoidDocumentHistNumberList(monitoringVoid)}" />
						<h:outputText value="No Void"
							rendered="#{!monitoringVoid.voidStatus}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="Document Number List" id="viewDocumentNumber"
			widgetVar="viewDocumentNumberDlg" modal="true" resizable="true"
			closable="true">
			<h:form id="viewFormDocumentNumber" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="FileName" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailFileName}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccount" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailDebitAccount}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Record" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailTotalRecord}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccountType" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailDebitAccountType}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Amount" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailTotalAmount}" />
							</p:column>
							<p:column>
								<h:outputLabel value="Document Date" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{monitoringVoidDepkeuHandler.detailDocumentDate}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Type" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{monitoringVoidDepkeuHandler.detailType}" />
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>
			<h:form id="formSummaryDetail">
				<p:dataTable var="detail"
					value="#{monitoringVoidDepkeuHandler.detailList}" lazy="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailDialogTable">
					<f:facet name="header">
						<table>
							<tr>
								<td
									style="width: 450px; border: none; padding: 0px; text-align: left;">
								</td>
								<td style="border: none; padding: 0px; text-align: left;">
									<p:outputLabel value="Summary Details" />
								</td>
							</tr>
						</table>
					</f:facet>
					<p:column headerText="Doc. Number" style="width: 200px;">
						<h:outputText value="#{detail.docNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account">
						<h:outputText value="#{detail.creditAcctNo}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account Name">
						<h:outputText value="#{detail.creditAcctName}"></h:outputText>
					</p:column>
					<p:column headerText="Beneficial Bank Name">
						<h:outputText value="#{detail.benefBankName}"></h:outputText>
					</p:column>
					<p:column headerText="Error Code" rendered="false">
						<h:outputText value="#{detail.errorCode}"></h:outputText>
					</p:column>
					<p:column headerText="Error Message" rendered="false">
						<h:outputText value="#{detail.errorMessage}"></h:outputText>
					</p:column>
					<p:column headerText="Amount" rendered="false">
						<h:outputText value="#{detail.debitAmount}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Account" />
						</p:column>
						<p:column style="white-space:nowrap;" width="100%">
							<p:commandButton icon="ui-icon-bullet" value="GAJI"
								disabled="true" style="width:45%"
								rendered="#{monitoringVoidDepkeuHandler.doShowGAJI}" />
							<p:commandButton icon="ui-icon-radio-on" value="GAJI"
								style="width:45%"
								rendered="#{!monitoringVoidDepkeuHandler.doShowGAJI}"
								actionListener="#{monitoringVoidDepkeuHandler.doClickGaji}"
								update=":searchForm :summaryForm" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="RR GAJI"
								disabled="true" style="width:45%"
								rendered="#{monitoringVoidDepkeuHandler.doShowGAJIR}" />
							<p:commandButton icon="ui-icon-radio-on" value="RR GAJI"
								style="width:45%"
								rendered="#{!monitoringVoidDepkeuHandler.doShowGAJIR}"
								actionListener="#{monitoringVoidDepkeuHandler.doClickGajiR}"
								update=":searchForm :summaryForm" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Filename : " />
						</p:column>
						<p:column>
							<p:inputText id="fileName"
								value="#{monitoringVoidDepkeuHandler.fileName}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="SP2D No. : " />
						</p:column>
						<p:column>
							<p:inputText id="sp2dNumber"
								value="#{monitoringVoidDepkeuHandler.sp2dNumber}"></p:inputText>
						</p:column>
						<p:column>
							<p:commandButton value="Filter"
								actionListener="#{monitoringVoidDepkeuHandler.loadData}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="monitoringVoid"
				value="#{monitoringVoidDepkeuHandler.monitoringVoidList}"
				lazy="true" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 45%; border: none; padding: 0px; text-align: left;">
								<p:commandButton styleClass="btn" value="Void DocNumber"
									oncomplete="viewVoidDocumentNumberDlg.show();"
									action="#{monitoringVoidDepkeuHandler.initDialogVoidDocumentNumber()}"
									update=":viewFormVoidDocumentNumber" /> <p:commandButton
									styleClass="btn" value="Void SP2D List"
									oncomplete="viewVoidSp2dDlg.show();"
									action="#{monitoringVoidDepkeuHandler.initDialogVoidSp2d()}"
									update=":viewFormVoidSp2d" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"></td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Monitoring Void" /></td>
							<td
								style="width: 30%; border: none; padding: 0px; text-align: right;">
								<p:commandButton styleClass="btn" value="SP2D Backdate Hist"
									oncomplete="viewVoidSp2dBackdateDlg.show();"
									action="#{monitoringVoidDepkeuHandler.initDialogVoidSp2dBackdate()}"
									update=":viewFormVoidSp2dBackdate" /> <p:commandButton
									styleClass="btn" value="Void History"
									oncomplete="viewVoidSp2dHistoryDlg.show();"
									action="#{monitoringVoidDepkeuHandler.initDialogVoidHistory()}"
									update=":viewFormVoidSp2dHistory" />
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Check" width="3%">
					<h:inputHidden value="#{monitoringVoid.selected}" />
					<p:selectBooleanCheckbox value="#{monitoringVoid.selected}">
						<f:ajax event="change"
							listener="#{monitoringVoidDepkeuHandler.processChecked(monitoringVoid)}" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Filename">
					<h:outputText value="#{monitoringVoid.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="SP2D Number">
					<h:outputText value="#{monitoringVoid.sp2dNumber}"></h:outputText>
				</p:column>
				<p:column headerText="Debit Account No">
					<h:outputText value="#{monitoringVoid.debitAccountNo}"></h:outputText>
				</p:column>
				<p:column headerText="Debit Account Type">
					<h:outputText value="#{monitoringVoid.debitAccountType}"></h:outputText>
				</p:column>
				<p:column headerText="Document Date">
					<h:outputText value="#{monitoringVoid.documentDate}"></h:outputText>
				</p:column>
				<p:column headerText="Total Amount">
					<h:outputText value="#{monitoringVoid.totalAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Total Record">
					<h:outputText value="#{monitoringVoid.totalRecord}"></h:outputText>
				</p:column>
				<p:column headerText="Detail">
					<p:commandButton styleClass="btn" value="Show"
						rendered="#{monitoringVoid.voidStatus}"
						onclick="loadingDlg.show()"
						oncomplete="loadingDlg.hide(); viewVoidDocumentNumberListDlg.show();"
						update=":viewFormVoidDocumentNumberList"
						action="#{monitoringVoidDepkeuHandler.loadVoidDocumentNumberList(monitoringVoid)}" />
					<h:outputText value="No Void"
						rendered="#{!monitoringVoid.voidStatus}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		<h:form id="formFooter">
			<table>
				<tr>
					<td><p:commandButton styleClass="btn" value="Void Checked"
							oncomplete="dlgConfirmVoidChecked.show();" update=":summaryForm" />
					</td>
					<td><p:commandButton styleClass="btn" value="Unvoid Checked"
							oncomplete="dlgConfirmUnvoidChecked.show();"
							update=":summaryForm" rendered="false" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>