<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="uploadForm" enctype="multipart/form-data">
			<p:commandLink value="(x) Close Upload Sp2d" icon="ui-icon-search"
				rendered="#{monitoringManualUploadSp2dHandler.doUploadShow}">
				<p:ajax event="click"
					listener="#{monitoringManualUploadSp2dHandler.hideUpload}"
					update=":uploadForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) Open Upload Form" icon="ui-icon-search"
				rendered="#{!monitoringManualUploadSp2dHandler.doUploadShow}">
				<p:ajax event="click"
					listener="#{monitoringManualUploadSp2dHandler.showUpload}"
					update=":uploadForm">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid
				rendered="#{monitoringManualUploadSp2dHandler.doUploadShow}">
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Upload SP2D : " />
						</p:column>
						<p:column>
							<p:fileUpload value="#{monitoringManualUploadSp2dHandler.file}"
								mode="simple" skinSimple="true" />
							<p:commandButton value="Submit" ajax="false"
								actionListener="#{monitoringManualUploadSp2dHandler.upload}"
								update=":summaryForm" />
							<h:outputText
								rendered="#{monitoringManualUploadSp2dHandler.showUploadMessage}"
								value="#{monitoringManualUploadSp2dHandler.errorUploadMessage}"
								style="color:#CD0A0A"></h:outputText>
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>

		<h:form id="searchForm">
			<p:commandLink value="(x) Close Search" icon="ui-icon-search"
				rendered="#{monitoringManualUploadSp2dHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{monitoringManualUploadSp2dHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) Open Search" icon="ui-icon-search"
				rendered="#{!monitoringManualUploadSp2dHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{monitoringManualUploadSp2dHandler.showSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid
				rendered="#{monitoringManualUploadSp2dHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{monitoringManualUploadSp2dHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{monitoringManualUploadSp2dHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:450px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Upload Date" />
					</p:column>
					<p:column>
						<p:calendar
							value="#{monitoringManualUploadSp2dHandler.startUploadDate}"
							pattern="yyyy-MM-dd" navigator="true" id="startUploadDate"
							showOn="button">
						</p:calendar>
						<span />
						<h:outputLabel value="-" />
						<span />
						<p:calendar
							value="#{monitoringManualUploadSp2dHandler.endUploadDate}"
							pattern="yyyy-MM-dd" navigator="true" id="endUploadDate"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>

		<h:form id="summaryForm">
			<table width="100%">
				<tr>
					<td
						style="border: none; padding: 0px; text-align: right; width: 10%;">
						<h:commandLink
							action="#{monitoringManualUploadSp2dHandler.downloadXls}">
							<p:graphicImage value="/resources/images/excel.png" width="24" />
						</h:commandLink> <h:commandLink
							action="#{monitoringManualUploadSp2dHandler.downloadPdf}">
							<p:graphicImage value="/resources/images/pdf.png" width="24" />
						</h:commandLink>
					</td>
				</tr>
			</table>

			<p:dataTable id="dataTable" var="data"
				value="#{monitoringManualUploadSp2dHandler.detailList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">

				<f:facet name="header">
					<h:outputText value="Monitoring Manual Upload SP2D" />
				</f:facet>

				<p:columnGroup type="header">
					<p:row>
						<p:column rowspan="2" width="5%" headerText="No" />
						<p:column rowspan="2" headerText="Tanggal" />
						<p:column colspan="4" headerText="SP2D yang Diupload" />
						<p:column colspan="4" headerText="SP2D telah Dieksekusi" />
						<p:column colspan="4" headerText="SP2D belum Dieksekusi" />
					</p:row>

					<p:row>
						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />

						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />

						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />
					</p:row>
				</p:columnGroup>

				<p:column>
					<h:outputText value="#{data.no}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.tanggal}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalTransaksi}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalTransaksi}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalTransaksi}" />
				</p:column>
			</p:dataTable>

			<p:dataTable id="dataTableHidden" var="data"
				value="#{monitoringManualUploadSp2dHandler.detailListHidden}"
				rendered="false">

				<f:facet name="header">
					<h:outputText value="Monitoring Manual Upload SP2D" />
				</f:facet>

				<p:columnGroup type="header">
					<p:row>
						<p:column rowspan="2" width="5%" headerText="No" />
						<p:column rowspan="2" headerText="Tanggal" />
						<p:column colspan="4" headerText="SP2D yang Diupload" />
						<p:column colspan="4" headerText="SP2D telah Dieksekusi" />
						<p:column colspan="4" headerText="SP2D belum Dieksekusi" />
					</p:row>

					<p:row>
						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />

						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />

						<p:column headerText="Total File" />
						<p:column headerText="Total Nilai" />
						<p:column headerText="Total SP2D" />
						<p:column headerText="Total Transaksi" />
					</p:row>
				</p:columnGroup>

				<p:column>
					<h:outputText value="#{data.no}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.tanggal}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.uTotalTransaksi}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.eTotalTransaksi}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalFile}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalNilai}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalSP2D}" />
				</p:column>
				<p:column>
					<h:outputText value="#{data.iTotalTransaksi}" />
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>