<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{monitoringPenihilanHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{monitoringPenihilanHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!monitoringPenihilanHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{monitoringPenihilanHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{monitoringPenihilanHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{monitoringPenihilanHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{monitoringPenihilanHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Peniihilan" />
					</p:column>
					<p:column>
						<p:calendar value="#{monitoringPenihilanHandler.tanggalPenihilan}"
							pattern="yyyy-MM-dd" navigator="true" id="tanggalPenihilan"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Reference No." />
					</p:column>
					<p:column>
						<p:inputText id="referenceNo" autocomplete="off"
							value="#{monitoringPenihilanHandler.referenceNo}"></p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="data"
				value="#{monitoringPenihilanHandler.detailList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="dataTable">

				<p:column width="10%">
					<f:facet name="header">
						<h:outputText value="Tanggal Penihilan" />
					</f:facet>
					<h:outputText value="#{data.tanggalPenihilan}"></h:outputText>
				</p:column>
				<p:column width="10%">
					<f:facet name="header">
						<h:outputText value="Tanggal SP2D" />
					</f:facet>
					<h:outputText value="#{data.tanggalSp2d}"></h:outputText>
				</p:column>
				<p:column width="15%">
					<f:facet name="header">
						<h:outputText value="Credit Account" />
					</f:facet>
					<h:outputText value="#{data.creditAcc}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Amount" />
					</f:facet>
					<h:outputText value="#{data.amount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Narasi" />
					</f:facet>
					<h:outputText value="#{data.narasi}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Ref. No." />
					</f:facet>
					<h:outputText value="#{data.referenceNo}"></h:outputText>
				</p:column>
				<p:column width="10%">
					<f:facet name="header">
						<h:outputText value="Penihilan Ke" />
					</f:facet>
					<h:outputText value="#{data.sequencePenihilan}"></h:outputText>
				</p:column>

			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>