<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirmExecuteChecked"
			id="ConfirmExecuteChecked" header="Execute Checked" modal="true"
			resizable="false">
			<h:form id="executeCheckedForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to Approve selected records?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{monitoringFileRejectHandler.doClickApproveChecked}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmExecuteChecked.hide()"
							update=":monitoringFileRejectForm :formHeader" />
						<p:commandButton value="No"
							onclick="dlgConfirmExecuteChecked.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm" enctype="multipart/form-data">
			<table width="100%">
				<tr>
					<td><p:panelGrid>
							<f:facet name="header">
								<p:row>
									<p:column>
										<h:outputLabel value="Account" />
									</p:column>
									<p:column style="white-space:nowrap;" width="100%">
										<p:commandButton icon="ui-icon-bullet" value="GAJI"
											disabled="true" style="width:45%"
											rendered="#{monitoringFileRejectHandler.doShowGAJI}" />
										<p:commandButton icon="ui-icon-radio-on" value="GAJI"
											style="width:45%"
											rendered="#{!monitoringFileRejectHandler.doShowGAJI}"
											actionListener="#{monitoringFileRejectHandler.doClickGaji}"
											update=":searchForm :monitoringFileRejectForm :formHeader"
											onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
										<span></span>
										<p:commandButton icon="ui-icon-bullet" value="RR GAJI"
											disabled="true" style="width:45%"
											rendered="#{monitoringFileRejectHandler.doShowGAJIR}" />
										<p:commandButton icon="ui-icon-radio-on" value="RR GAJI"
											style="width:45%"
											rendered="#{!monitoringFileRejectHandler.doShowGAJIR}"
											actionListener="#{monitoringFileRejectHandler.doClickGajiR}"
											update=":searchForm :monitoringFileRejectForm :formHeader"
											onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
									</p:column>
								</p:row>
							</f:facet>
						</p:panelGrid></td>
					<td align="right"><p:panelGrid rendered="false">
							<f:facet name="header">
								<p:row>
									<p:column>
										<h:outputLabel value="Upload SP2D : " />
									</p:column>
									<p:column>
										<p:fileUpload value="#{monitoringFileRejectHandler.file}"
											mode="simple" skinSimple="true" />
										<p:commandButton value="Submit" ajax="false"
											actionListener="#{monitoringFileRejectHandler.upload}" />
									</p:column>
								</p:row>
							</f:facet>
						</p:panelGrid></td>
				</tr>
			</table>
		</h:form>
		<h:form id="formHeader">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputText value="Available Balance" />
						</p:column>
						<p:column>
							<p:inputText id="availableBalance"
								value="#{monitoringFileRejectHandler.availableBalance}"
								readonly="true"></p:inputText>
						</p:column>
						<p:column>
							<h:outputText value="Total Records" />
						</p:column>
						<p:column>
							<p:inputText id="totalRecords"
								value="#{monitoringFileRejectHandler.totalRecords}"
								readonly="true" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputText value="Account Number" />
						</p:column>
						<p:column>
							<p:inputText id="accountNumber"
								value="#{monitoringFileRejectHandler.accountNumber}"
								readonly="true"></p:inputText>
						</p:column>
						<p:column>
							<h:outputText value="Total Amount" />
						</p:column>
						<p:column>
							<p:inputText id="totalAmount"
								value="#{monitoringFileRejectHandler.totalAmount}"
								readonly="true" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="monitoringFileRejectForm">
			<p:dataTable var="detail"
				value="#{monitoringFileRejectHandler.validationList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Monitoring File Reject" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Checked"
					style="text-align:center;width: 20px;">
					<h:inputHidden value="#{detail.selected}" />
					<p:selectBooleanCheckbox value="#{detail.selected}">
						<f:ajax event="valueChange"
							listener="#{monitoringFileRejectHandler.processChecked(detail)}"
							render=":formHeader" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Doc. Date">
					<h:outputText value="#{detail.documentDate}"></h:outputText>
				</p:column>
				<p:column headerText="Doc. Number">
					<h:outputText value="#{detail.docNumber}"></h:outputText>
				</p:column>
				<p:column headerText="Beneficiary Name">
					<h:outputText value="#{detail.benAccount}"></h:outputText>
				</p:column>
				<p:column headerText="Beneficiary Account">
					<h:outputText value="#{detail.benName}"></h:outputText>
				</p:column>
				<p:column headerText="Amount">
					<h:outputText value="#{detail.amount}"></h:outputText>
				</p:column>
				<p:column headerText="Approval Status">
					<h:outputText value="N"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		<br />
		<h:form id="formFooter">
			<p:panelGrid style="border:none">
				<p:row>
					<p:column>
						<p:commandButton styleClass="btn" value="Approve Checked"
							onclick="dlgConfirmExecuteChecked.show();" />
					</p:column>
					<p:column>
						<h:outputText value="*Maximum 100 record per approve." />
					</p:column>
					<p:column>
						<p:commandButton styleClass="btn" value="Check All"
							actionListener="#{monitoringFileRejectHandler.doClickApproveAll}"
							update=":monitoringFileRejectForm" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide();" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>