<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">


	<ui:define name="content">
		<h:form id="paymentAdviceForm" target="_blank">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Input Kode Billing</p:column>
						<p:column style="width:350px; border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<p:inputText id="kodeBilling" autocomplete="off"
							label="kodeBilling" value="#{paymentAdviceHandler.kodeBilling}"
							required="true">
							<f:validator validatorId="kodeBillingValidator" />
						</p:inputText>

						<h:outputText value=" " />
						<h:message for="kodeBilling" styleClass="validation-message" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<p:inputText id="ntb" autocomplete="off" label="ntb"
							value="#{paymentAdviceHandler.ntb}" required="true">

							<f:validator validatorId="numberValidator" />
						</p:inputText>
						<h:outputLabel value=" " />

						<h:outputText value=" " />
						<h:message for="ntb" styleClass="validation-message" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Buku" />
					</p:column>
					<p:column>
						<p:inputMask id="settlementDate" autocomplete="off"
							label="settlementDate"
							value="#{paymentAdviceHandler.settlementDate}" mask="99/99"
							required="true">
							<f:validator validatorId="settlementDateValidator" />
						</p:inputMask>
						<h:outputLabel value=" " />
							MM/DD
							
						<h:outputText value=" " />
						<h:message for="settlementDate" styleClass="validation-message" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<br />
			<p:commandButton id="advice" value="Advice"
				actionListener="#{paymentAdviceHandler.doPaymentAdvice}"
				update=":paymentAdviceForm" onclick="loadingDlg.show()"
				oncomplete="loadingDlg.hide()" />
			<br />
			<br />
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Payment Response</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Response Code" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.responseCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Response Message" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.responseMessage}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid rendered="#{paymentAdviceHandler.doDJP}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJP</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NPWP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.NPWP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Alamat Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.alamatWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Akun" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.akun}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Jenis Setoran" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.kodeJenisSetoran}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Masa Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.masaPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="No. Surat Ketetapan" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.nomorSK}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NOP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJP.NOP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid rendered="#{paymentAdviceHandler.doDJA}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJA</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJA.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kementrian / Lembaga" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJA.k_x002F_L}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Eselon 1" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJA.unitEselonI}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Satuan Kerja" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJA.kodeSatker}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid rendered="#{paymentAdviceHandler.doDJBC}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJBC</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJBC.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="ID Wajib Bayar" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJBC.IDWajibBayar}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Jenis Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJBC.jenisDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nomor Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJBC.nomorDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.billType.DJBC.tanggalDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentAdviceHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<br />
			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white" value="Cetak BPN"
				rendered="#{paymentAdviceHandler.doRNQ and paymentAdviceHandler.reInquirySuccess and paymentAdviceHandler.ntpnStatus}"
				action="#{paymentAdviceHandler.execute}" />
			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white"
				value="Cetak BPN Sementara"
				rendered="#{paymentAdviceHandler.doRNQ and paymentAdviceHandler.reInquirySuccess and !paymentAdviceHandler.ntpnStatus}"
				action="#{paymentAdviceHandler.executeBPNSementara}" />
		</h:form>


	</ui:define>
</ui:composition>