<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="Pemilihan Rekening" id="viewRekening"
			widgetVar="viewRekeningDlg" modal="true" resizable="true">
			<h:form id="viewFormRekening" prependId="false">
				<p:panelGrid>
					<p:row>
						<p:column>
							<h:outputLabel value="Jenis Rekening" />
						</p:column>
						<p:column>
							<p:selectOneMenu id="jenisRekening" required="true"
								autocomplete="off" label="jenisRekening"
								value="#{paymentHandler.jenisRekeningCustomer}">
								<p:ajax event="change"
									listener="#{paymentHandler.checkJenisRekening}"
									update=":viewFormRekening"></p:ajax>
								<f:selectItem itemLabel="Bank BTPN" itemValue="Bank BTPN" />
								<f:selectItem itemLabel="Non Bank BTPN"
									itemValue="Non Bank BTPN" />
							</p:selectOneMenu>
						</p:column>
					</p:row>
					<p:row rendered="#{!paymentHandler.rekeningNonBtpn}">
						<p:column>
							<h:outputLabel value="Nomor Rekening" />
						</p:column>
						<p:column>
							<p:inputText id="nomorRekening"
								value="#{paymentHandler.noRekeningBtpn}"
								required="#{!empty param['submit']}">
								<f:validator validatorId="numberValidator"
									disabled="#{empty param['submit']}" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="nomorRekening" styleClass="validation-message" />
						</p:column>
					</p:row>
				</p:panelGrid>
				<br />
				<p:commandButton id="submit" value="Submit"
					onclick="loadingDlg.show()"
					oncomplete="loadingDlg.hide();if(!args.validationFailed) viewRekeningDlg.hide();"
					update=":viewFormRekening :viewFormPaymentResponse"
					actionListener="#{paymentHandler.submitRekening}" />
			</h:form>
		</p:dialog>
		<p:dialog header="Otorisasi Supervisor" id="viewOtorisasiSupervisor"
			widgetVar="viewOtorisasiSupervisorDlg" modal="true" resizable="true">
			<h:form id="viewFormOtorisasi" prependId="false">
				<p:panelGrid>
					<p:row>
						<p:column>
							<h:outputLabel value="Username" />
						</p:column>
						<p:column>
							<p:inputText id="username"
								value="#{paymentHandler.otorisasiUsername}"
								requiredMessage="Username is mandatory"
								required="#{!empty param['submitOtorisasi']}">
							</p:inputText>
							<h:outputText value=" " />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Password" />
						</p:column>
						<p:column>
							<h:inputSecret autocomplete="off"
								styleClass="ui-inputfield ui-widget ui-state-default ui-corner-all password1 showpassword"
								id="password" required="#{!empty param['submitOtorisasi']}"
								requiredMessage="Password is mandatory"
								value="#{paymentHandler.otorisasiPassword}" />
							<h:outputText value=" " />
						</p:column>
					</p:row>
				</p:panelGrid>
				<h:messages id="msg" style="color:#CD0A0A" />
				<br />
				<p:commandButton id="submitOtorisasi" value="Submit"
					onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()"
					update="msg :viewFormPaymentResponse"
					actionListener="#{paymentHandler.otorisasiSupervisor}" />
			</h:form>
		</p:dialog>
		<p:dialog header="Payment Response" id="viewPaymentResponseSuccess"
			widgetVar="viewResponseSuccessDlg" modal="true" resizable="false">
			<h:form id="viewFormPaymentResponse" prependId="false">
				<h:outputLabel value="Transaction Success" />
				<br />
				<br />
				<h:outputLabel value="NTPN : " />
				<h:outputLabel value="#{paymentHandler.paymentResponse.ntpn}" />
				<br />
				<br />
				<p:commandButton value="Cetak BPN"
					oncomplete="viewResponseSuccessDlg.hide()"
					actionListener="#{paymentHandler.cetakBPN}" update=":inquiryForm" />
			</h:form>
		</p:dialog>
		<p:dialog header="Payment Response" id="viewPaymentResponseReject"
			widgetVar="viewResponseRejectDlg" modal="true" resizable="false">
			<h:form id="viewFormPaymentResponseReject" prependId="false">
				<h:outputLabel value="Transaction Reject" />
				<br />
				<br />
				<p:commandButton value="Show Details"
					oncomplete="viewResponseRejectDlg.hide()"
					actionListener="#{paymentHandler.paymentReject}"
					update=":inquiryForm" />
			</h:form>
		</p:dialog>
		<p:dialog header="Payment Response" id="viewPaymentResponseFailed"
			widgetVar="viewResponseFailedDlg" modal="true" resizable="false">
			<h:form id="viewFormPaymentResponseFailed">
				<h:outputLabel value="Transaction Failed" />
				<br />
				<br />
				<p:commandButton value="Re-inquiry"
					oncomplete="viewResponseFailedDlg.hide()"
					actionListener="#{paymentHandler.reinquiry}"
					update=":viewFormReinquiryResponseSuccess" />
			</h:form>
		</p:dialog>
		<p:dialog header="Reinquiry Response"
			id="viewReqinuiryResponseSuccess"
			widgetVar="viewRenquiryResponseSuccessDlg" modal="true"
			resizable="true">
			<h:form id="viewFormReinquiryResponseSuccess">
				<h:outputLabel value="Re-inquiry Success" />
				<br />
				<br />

				<h:outputLabel value="NTPN : " />
				<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntpn}" />
				<br />
				<br />
				<p:commandButton value="Cetak BPN"
					oncomplete="viewRenquiryResponseSuccessDlg.hide()"
					actionListener="#{paymentHandler.reInquiryCetakBPN}"
					update=":inquiryForm" />
			</h:form>
		</p:dialog>
		<p:dialog header="Reinquiry Response" id="viewReqinuiryResponseReject"
			widgetVar="viewReqinquiryResponseRejectDlg" modal="true"
			resizable="true">
			<h:form id="viewFormReinquiryResponseReject">
				<h:outputLabel value="Re-inquiry Reject" />
				<br />
				<br />
				<p:commandButton value="Show Details"
					oncomplete="viewReqinquiryResponseRejectDlg.hide()"
					actionListener="#{paymentHandler.reinquiryReject}"
					update=":inquiryForm" />
			</h:form>
		</p:dialog>
		<p:dialog header="Reinquiry Response" id="viewReqinuiryResponseFailed"
			widgetVar="viewReqinquiryResponseFailedDlg" modal="true"
			resizable="true">
			<h:form id="viewFormReinquiryResponseFailed">
				<h:outputLabel value="Re-inquiry Failed" />
				<br />
				<br />
				<p:commandButton value="Cetak BPN Sementara"
					oncomplete="viewReqinquiryResponseFailedDlg.hide()"
					actionListener="#{paymentHandler.cetakBPNSementara}"
					update=":inquiryForm" />
			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="inquiryForm" target="_blank">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Input Kode Billing</p:column>
						<p:column style="width:350px; border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<p:inputText id="kodeBilling" autocomplete="off"
							label="kodeBilling" value="#{paymentHandler.kodeBilling}"
							required="true">
							<f:validator validatorId="kodeBillingValidator" />
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="kodeBilling" styleClass="validation-message" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<br />
			<p:commandButton value="Inquiry"
				actionListener="#{paymentHandler.doInquiry}" update=":inquiryForm"
				onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
			<br />
			<br />
			<p:panelGrid rendered="#{paymentHandler.doINQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Inquiry Response</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column style="width:200px;">
						<h:outputLabel value="Response Code" />
					</p:column>
					<p:column style="width:350px;">
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.responseCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:200px;">
						<h:outputLabel value="Response Message" />
					</p:column>
					<p:column style="width:350px;">
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.responseMessage}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJP  and paymentHandler.doINQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJP</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NPWP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.NPWP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Alamat Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.alamatWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Akun" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.akun}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Jenis Setoran" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.kodeJenisSetoran}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Masa Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.masaPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="No. Surat Ketetapan" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.nomorSK}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NOP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJP.NOP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nominal Bayar" />
					</p:column>
					<p:column>
						<h:outputText value="#{paymentHandler.inquiryResponse.amountNum}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Mata Uang" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.currencyAmount}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.inquiryResponse.ntb}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJA and paymentHandler.doINQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJA</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJA.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kementrian / Lembaga" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJA.k_x002F_L}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Eselon 1" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJA.unitEselonI}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Satuan Kerja" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJA.kodeSatker}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nominal Bayar" />
					</p:column>
					<p:column>
						<h:outputText value="#{paymentHandler.inquiryResponse.amountNum}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Mata Uang" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.currencyAmount}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.inquiryResponse.ntb}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJBC and paymentHandler.doINQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJBC</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="ID Wajib Bayar" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.IDWajibBayar}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Jenis Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.jenisDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nomor Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.nomorDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.tanggalDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode KPBC" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.billType.DJBC.kodeKPPBC}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nominal Bayar" />
					</p:column>
					<p:column>
						<h:outputText value="#{paymentHandler.inquiryResponse.amountNum}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Mata Uang" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.inquiryResponse.currencyAmount}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.inquiryResponse.ntb}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid rendered="#{paymentHandler.doPYM}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Payment Response</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Response Code" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.responseCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Response Message" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.responseMessage}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJP and paymentHandler.doPYM}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJP</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NPWP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.NPWP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Alamat Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.alamatWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Akun" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.akun}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Jenis Setoran" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.kodeJenisSetoran}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Masa Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.masaPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="No. Surat Ketetapan" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.nomorSK}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NOP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJP.NOP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJA  and paymentHandler.doPYM}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJA</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJA.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kementrian / Lembaga" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJA.k_x002F_L}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Eselon 1" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJA.unitEselonI}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Satuan Kerja" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJA.kodeSatker}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJBC  and paymentHandler.doPYM}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJBC</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJBC.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="ID Wajib Bayar" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJBC.IDWajibBayar}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Jenis Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJBC.jenisDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nomor Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJBC.nomorDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.paymentResponse.billType.DJBC.tanggalDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.paymentResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid rendered="#{paymentHandler.doRNQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Reinquiry Response</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column style="width:200px;">
						<h:outputLabel value="Response Code" />
					</p:column>
					<p:column style="width:350px;">
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.responseCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:200px;">
						<h:outputLabel value="Response Message" />
					</p:column>
					<p:column style="width:350px;">
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.responseMessage}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJP and paymentHandler.doRNQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJP</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NPWP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.NPWP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Alamat Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.alamatWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Akun" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.akun}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Jenis Setoran" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.kodeJenisSetoran}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Masa Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.masaPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="No. Surat Ketetapan" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.nomorSK}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NOP" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJP.NOP}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJA  and paymentHandler.doRNQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJA</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJA.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kementrian / Lembaga" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJA.k_x002F_L}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Eselon 1" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJA.unitEselonI}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Satuan Kerja" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJA.kodeSatker}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:panelGrid
				rendered="#{paymentHandler.doDJBC  and paymentHandler.doRNQ}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:200px; border:none; align:left">Response Billing DJBC</p:column>
						<p:column style="width:350px;border:none"></p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.paymentCode}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nama Wajib Pajak" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJBC.namaWajibPajak}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="ID Wajib Bayar" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJBC.IDWajibBayar}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Jenis Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJBC.jenisDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Nomor Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJBC.nomorDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Dokumen" />
					</p:column>
					<p:column>
						<h:outputLabel
							value="#{paymentHandler.reInquiryResponse.billType.DJBC.tanggalDokumen}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntb}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<h:outputLabel value="#{paymentHandler.reInquiryResponse.ntpn}" />
					</p:column>
				</p:row>
			</p:panelGrid>
			<br />
			<p:commandButton value="Bayar" update=":inquiryForm"
				rendered="#{paymentHandler.inquirySuccess and paymentHandler.doINQ and !paymentHandler.cetakBPNSementara and paymentHandler.enableBayar}"
				onclick="viewRekeningDlg.show()" />

			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white"
				value="Cetak Konfirmasi Pembayaran" update=":inquiryForm"
				rendered="#{paymentHandler.inquirySuccess and paymentHandler.doINQ and !paymentHandler.cetakBPNSementara}"
				actionListener="#{paymentHandler.doCetakKonfirmasiPembayaran}">
				<p:ajax event="click" listener="#{paymentHandler.doEnableBayar}"
					update=":inquiryForm">
				</p:ajax>
			</p:commandButton>


			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white" value="Cetak BPN"
				update=":inquiryForm"
				rendered="#{paymentHandler.paymentSuccess and paymentHandler.doPYM}"
				actionListener="#{paymentHandler.doCetakBPN}" />

			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white" value="Cetak BPN"
				update=":inquiryForm"
				rendered="#{paymentHandler.reInquirySuccess and paymentHandler.doRNQ}"
				actionListener="#{paymentHandler.doCetakBPN}" />

			<p:commandButton ajax="false"
				style="background:#f7c300 ;  color:white"
				value="Cetak BPN Sementara"
				actionListener="#{paymentHandler.doCetakBPNSementara}"
				rendered="#{paymentHandler.doRNQ and paymentHandler.cetakBPNSementara}"
				update=":inquiryForm" />

		</h:form>


	</ui:define>
</ui:composition>