<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">
		<p:dialog header="Insert or Edit Priority" id="edit"
			widgetVar="insertOrEditPriority" modal="true" resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
				<h:panelGrid id="insertOrEditGrid" columns="2"
					style="vertical-align:top;" columnClasses="priority-detail">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-priority">
						<f:facet name="header">Priority's Detail</f:facet>

						<h:outputText for="sp2dno" value="SP2D Number"></h:outputText>
						<p:column>
							<p:inputText id="sp2dno" value="#{priorityHandler.sp.sp2dno}"
								required="true" disabled="#{priorityHandler.create eq false}">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="sp2dno" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Reason"></h:outputText>
						<p:column>
							<p:inputTextarea id="reason" value="#{priorityHandler.sp.reason}"
								required="true" maxlength="100">
							</p:inputTextarea>
							<h:outputText value=" " />
							<h:message for="reason" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Priority Level" rendered="false"></h:outputText>
						<p:column rendered="false">
							<p:spinner id="level" value="#{priorityHandler.sp.level}"
								required="true" min="1">
							</p:spinner>
							<h:outputText value=" " />
							<h:message for="level" styleClass="validation-message" />
						</p:column>
					</p:panelGrid>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton id="save" value="Save" icon="ui-icon-disk"
						onclick="loadingDlg.show()" oncomplete="loadingDlg.hide(); "
						actionListener="#{priorityHandler.doSave}"
						update=":insertOrEditForm :priorityForm" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditUser.hide()" />
				</div>

			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="priorityForm">
			<p:dataTable var="priority" value="#{priorityHandler.dataList}"
				lazy="true" style="width: 1035px;" paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="priorityTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton icon="ui-icon-plusthick"
									oncomplete="insertOrEditPriority.show()" styleClass="btn"
									value="Create Priority" action="#{priorityHandler.newPriority}"
									update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Priority List" /></td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="SP2D Number">
					<h:outputText value="#{priority.sp2dno}"></h:outputText>
				</p:column>
				<p:column headerText="Reason" width="50%">
					<h:outputText value="#{priority.reason}"></h:outputText>
				</p:column>
				<p:column headerText="Priority Level" rendered="false">
					<h:outputText value="#{priority.level}"></h:outputText>
				</p:column>
				<p:column headerText="Action">
					<p:commandLink value="Edit"
						actionListener="#{priorityHandler.editSP(priority)}"
						update=":insertOrEditForm"></p:commandLink>
					<h:outputLabel value="  "></h:outputLabel>
					<p:commandLink value="Delete"
						actionListener="#{priorityHandler.deleteSP(priority)}"></p:commandLink>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
