<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{reportRekonHandler.doShowSearch}">
				<p:ajax event="click" listener="#{reportRekonHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!reportRekonHandler.doShowSearch}">
				<p:ajax event="click" listener="#{reportRekonHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{reportRekonHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:175px; border:none;">
							<p:commandButton id="search" value="Search Recons"
								icon="ui-icon-search"
								actionListener="#{reportRekonHandler.doSearch}"
								update=":reconForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="CA Name" />
					</p:column>
					<p:column>
						<p:inputText id="caName" autocomplete="off" label="caName"
							value="#{reportRekonHandler.caName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Settlement Date" />
					</p:column>
					<p:column>
						<p:inputMask id="settlementDate" autocomplete="off"
							label="settlementDate"
							value="#{reportRekonHandler.settlementDate}">
						</p:inputMask>YYYYMMDD
						</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Recon Time" />
					</p:column>
					<p:column>
						<p:inputMask id="reconTime" autocomplete="off" label="reconTime"
							value="#{reportRekonHandler.reconTime}">
						</p:inputMask>YYYYMMDD
						</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Billing Code" />
					</p:column>
					<p:column>
						<p:inputText id="billingCode" autocomplete="off"
							label="billingCode" value="#{reportRekonHandler.billingCode}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<p:inputText id="ntb" autocomplete="off" label="ntb"
							value="#{reportRekonHandler.ntb}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<p:inputText id="ntpn" autocomplete="off" label="ntpn"
							value="#{reportRekonHandler.ntpn}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="No Sakti" />
					</p:column>
					<p:column>
						<p:inputText id="noSakti" autocomplete="off" label="noSakti"
							value="#{reportRekonHandler.noSakti}">
						</p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>

		<h:form id="reconForm">
			<p:dataTable var="recon" value="#{reportRekonHandler.reconList}"
				lazy="true" style="width: 1235px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="reconTable">

				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Recon Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="CA ID" style="width: 190px;">
					<h:outputText value="#{recon.caId}"></h:outputText>
				</p:column>
				<p:column headerText="CA Name" style="width: 250px;">
					<h:outputText value="#{recon.caName}"></h:outputText>
				</p:column>
				<p:column headerText="Settlement Date" style="width: 250px;">
					<h:outputText value="#{recon.settlementDate}"></h:outputText>
				</p:column>
				<p:column headerText="Rekon Time" style="width: 250px;">
					<h:outputText value="#{recon.reconTime}"></h:outputText>
				</p:column>
				<p:column headerText="Currency" style="width: 120px;">
					<h:outputText value="#{recon.currency}"></h:outputText>
				</p:column>
				<p:column headerText="Billing Code" style="width: 120px;">
					<h:outputText value="#{recon.billingCode}"></h:outputText>
				</p:column>
				<p:column headerText="NTB" style="width: 120px;">
					<h:outputText value="#{recon.ntb}"></h:outputText>
				</p:column>
				<p:column headerText="NTPN" style="width: 120px;">
					<h:outputText value="#{recon.ntpn}"></h:outputText>
				</p:column>
				<p:column headerText="Amount" style="width: 120px;">
					<h:outputText value="#{recon.amount}"></h:outputText>
				</p:column>
				<p:column headerText="No Sakti" style="width: 120px;">
					<h:outputText value="#{recon.noSakti}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>