
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="content">

		<h:form id="form1">
			<p:panelGrid>
				<f:facet name="header">

					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">Laporan Harian Penerimaan</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel for="tglbuku" value="Tanggal Buku" />
					</p:column>
					<p:column>
						<p:calendar value="#{reportLHPHandler.tglbuku}"
							pattern="dd-MM-yyyy" navigator="true" id="tglbuku"
							showOn="button" required="true"
							requiredMessage="Anda harus mengisi Tanggal Buku">
						</p:calendar>
					</p:column>
				</p:row>

				<p:row>

					<p:column colspan="2">
						<p:commandButton id="donlodLHP" value="Download LHP"
							actionListener="#{reportLHPHandler.generateFileLHP}" ajax="false" />
					</p:column>
					<p:messages id="messages" autoUpdate="true" closable="true" />
				</p:row>

			</p:panelGrid>
		</h:form>




	</ui:define>
</ui:composition>