
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="content">
		<h:form id="form1">
			<p:panelGrid>
				<f:facet name="header">

					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">Report Bank Statement</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel for="tglInput" value="Tanggal Buku" />
					</p:column>
					<p:column>
						<p:calendar value="#{reportRekKoranHandler.tglInput}"
							pattern="dd-MM-yyyy" navigator="true" id="tglInput"
							showOn="button" required="true"
							requiredMessage="Anda harus mengisi Tanggal Buku">
						</p:calendar>
					</p:column>
				</p:row>

				<p:row>

					<p:column colspan="2">
						<p:commandButton id="donlodRekKoran" value="Download"
							actionListener="#{reportRekKoranHandler.downloadFile}"
							ajax="false" />
					</p:column>
				</p:row>

			</p:panelGrid>
		</h:form>

	</ui:define>
</ui:composition>