<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">


	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">Laporan Transaksi Setoran Pajak</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2" style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Buku" />
					</p:column>
					<p:column style="width:450px; border:none;">
						<p:calendar value="#{reportTransaksiHandler.startDateBuku}"
							pattern="dd-MM-yyyy" navigator="true" id="startDateBuku"
							showOn="button">
						</p:calendar>
						<h:outputLabel for="endDate" value="S/D" />
						<p:calendar value="#{reportTransaksiHandler.endDateBuku}"
							pattern="dd-MM-yyyy" navigator="true" id="endDateBuku"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Tanggal Transaksi" />
					</p:column>
					<p:column style="width:450px; border:none;">
						<p:calendar value="#{reportTransaksiHandler.startDate}"
							pattern="dd-MM-yyyy" navigator="true" id="startDate"
							showOn="button">
						</p:calendar>
						<h:outputLabel for="endDate" value="S/D" />
						<p:calendar value="#{reportTransaksiHandler.endDate}"
							pattern="dd-MM-yyyy" navigator="true" id="endDate"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTPN" />
					</p:column>
					<p:column>
						<p:inputText id="ntpn" autocomplete="off" label="ntpn"
							value="#{reportTransaksiHandler.ntpn}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="NTB" />
					</p:column>
					<p:column>
						<p:inputText id="ntb" autocomplete="off" label="ntb"
							value="#{reportTransaksiHandler.ntb}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Kode Billing" />
					</p:column>
					<p:column>
						<p:inputText id="kodeBilling" autocomplete="off"
							label="kodeBilling" value="#{reportTransaksiHandler.kodeBilling}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="status"
							value="#{reportTransaksiHandler.status}">
							<f:selectItem itemLabel="All" itemValue="All" />
							<f:selectItem itemLabel="NTPN" itemValue="NTPN" />
							<f:selectItem itemLabel="Tanpa NTPN" itemValue="Tanpa NTPN" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Type Pembayaran" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="typePembayaran"
							value="#{reportTransaksiHandler.typePembayaran}">
							<f:selectItem itemLabel="All" itemValue="All" />
							<f:selectItem itemLabel="BTPN" itemValue="GIRAL" />
							<f:selectItem itemLabel="Non BTPN" itemValue="TUNAI" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Status Reversal" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="reversalStatus"
							value="#{reportTransaksiHandler.reversalStatus}">
							<f:selectItem itemLabel="All" itemValue="All" />
							<f:selectItem itemLabel="Yes" itemValue="Yes" />
							<f:selectItem itemLabel="No" itemValue="No" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="UID OPR" />
					</p:column>
					<p:column>
						<p:inputText id="uidOpr" autocomplete="off" label="uidOpr"
							value="#{reportTransaksiHandler.uidOpr}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row rendered="#{reportTransaksiHandler.doCabang}">
					<p:column>
						<h:outputLabel value="Kode Cabang" />
					</p:column>
					<p:column>
						<p:inputText id="kodeCabang" autocomplete="off" label="kodeCabang"
							value="#{reportTransaksiHandler.kodeCabang}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row rendered="#{reportTransaksiHandler.doCabang}">
					<p:column>
						<h:outputLabel value="Nama Cabang" />
					</p:column>
					<p:column>
						<p:selectOneMenu value="#{reportTransaksiHandler.namaCabang}"
							required="true" label="Cabang" id="namaCabang-option"
							filter="true">

							<f:selectItem itemLabel="Select One" itemValue="%%" />
							<f:selectItems value="#{reportTransaksiHandler.listSelectCabang}" />
						</p:selectOneMenu>


					</p:column>

				</p:row>


			</p:panelGrid>
			<br />
			<p:commandButton value="Search" icon="ui-icon-search"
				actionListener="#{reportTransaksiHandler.filterTransaction}"
				update=":trxForm:dataTrx :totalSetoran" onclick="loadingDlg.show()"
				oncomplete="loadingDlg.hide()" />
		</h:form>

		<br />
		<p:panelGrid>
			<p:row>
				<p:column>
					<h:outputLabel value="Total Nominal Bayar" />
				</p:column>
				<p:column>
					<h:outputText id="totalSetoran"
						value="#{reportTransaksiHandler.totalSetoran}">
						<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
					</h:outputText>
				</p:column>
			</p:row>
		</p:panelGrid>
		<h:form id="trxForm">
			<p:dataTable var="reportDetail" lazy="true" style="width: 1835px;"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="dataTrx" rowIndexVar="index"
				value="#{reportTransaksiHandler.listReport}">

				<f:facet name="header">
					<table>
						<tr>

							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Data Transaksi" /></td>
						</tr>
						<h:commandLink>
							<p:graphicImage value="/resources/images/excel.png" width="24" />
							<p:dataExporter type="xls" target="dataTrx"
								fileName="ReportTransaksi" />
						</h:commandLink>

						<h:commandLink>
							<p:graphicImage value="/resources/images/pdf.png" width="24" />
							<p:dataExporter type="pdf" target="dataTrx"
								fileName="ReportTransaksi"
								preProcessor="#{reportTransaksiHandler.preProcessPDF}" />
						</h:commandLink>


						<h:commandLink>
							<p:graphicImage value="/resources/images/csv.png" width="24" />
							<p:dataExporter type="csv" target="dataTrx"
								fileName="ReportTransaksi" />
						</h:commandLink>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="No" />
					</f:facet>
					<h:outputText value="#{index + 1}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Tanggal Transaksi" />
					</f:facet>
					<h:outputText value="#{reportDetail.tglTerimaBayar}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Tanggal Buku" />
					</f:facet>
					<h:outputText value="#{reportDetail.tanggalBuku}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Kode Cabang" />
					</f:facet>
					<h:outputText value="#{reportDetail.kodeCabang}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nama Cabang" />
					</f:facet>
					<h:outputText value="#{reportDetail.namaCabang}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Kode Billing" />
					</f:facet>
					<h:outputText value="#{reportDetail.kodeBilling}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="NPWP" />
					</f:facet>
					<h:outputText value="#{reportDetail.NPWP}"></h:outputText>
				</p:column>
				<p:column style="width: 300px;">
					<f:facet name="header">
						<h:outputText value="Nama Wajib Pajak" />
					</f:facet>
					<h:outputText value="#{reportDetail.namaWP}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Biller" />
					</f:facet>
					<h:outputText value="#{reportDetail.biller}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nominal Tagih" />
					</f:facet>
					<h:outputText value="#{reportDetail.jumlahTagih}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="NTB" />
					</f:facet>
					<h:outputText value="#{reportDetail.NTB}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="NTPN" />
					</f:facet>
					<h:outputText value="#{reportDetail.NTPN}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nominal Bayar" />
					</f:facet>
					<h:outputText value="#{reportDetail.jumlahBayar}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					<h:outputText value="#{reportDetail.status}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Reversal" />
					</f:facet>
					<h:outputText value="#{reportDetail.reversal}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Type Pembayaran" />
					</f:facet>
					<h:outputText value="#{reportDetail.sourceAcct}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="UID OPR" />
					</f:facet>
					<h:outputText value="#{reportDetail.uidOpr}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="UID SPV" />
					</f:facet>
					<h:outputText value="#{reportDetail.uidSpv}"></h:outputText>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>