<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirmResendAll" id="confirmDlgResendAll"
			header="Resend All" modal="true" resizable="false">
			<h:form id="resendAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to resend all records?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{resendFileDepkeuHandler.resendAll()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmResendAll.hide()"
							update=":summaryForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmResendChecked"
			id="confirmDlgResendChecked" header="Resend Checked" modal="true"
			resizable="false">
			<h:form id="resendCheckedForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to resend checked records?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{resendFileDepkeuHandler.resendChecked()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmResendChecked.hide()"
							update=":summaryForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="formHeader">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="File" />
						</p:column>
						<p:column style="white-space:nowrap;" colspan="3">
							<p:commandButton icon="ui-icon-bullet" value="ACK"
								disabled="true" style="width:33%"
								rendered="#{resendFileDepkeuHandler.doShowACK}" />
							<p:commandButton icon="ui-icon-radio-on" value="ACK"
								style="width:33%"
								rendered="#{!resendFileDepkeuHandler.doShowACK}"
								actionListener="#{resendFileDepkeuHandler.doClickACK}"
								update=":searchForm :summaryForm :formHeader"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
							<span />
							<p:commandButton icon="ui-icon-bullet" value="BS" disabled="true"
								style="width:33%" rendered="#{resendFileDepkeuHandler.doShowBS}" />
							<p:commandButton icon="ui-icon-radio-on" value="BS"
								style="width:33%"
								rendered="#{!resendFileDepkeuHandler.doShowBS}"
								actionListener="#{resendFileDepkeuHandler.doClickBS}"
								update=":searchForm :summaryForm :formHeader"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
							<span />
							<p:commandButton icon="ui-icon-bullet" value="SORBOR"
								disabled="true" style="width:34%"
								rendered="#{resendFileDepkeuHandler.doShowSORBOR}" />
							<p:commandButton icon="ui-icon-radio-on" value="SORBOR"
								style="width:34%"
								rendered="#{!resendFileDepkeuHandler.doShowSORBOR}"
								actionListener="#{resendFileDepkeuHandler.doClickSORBOR}"
								update=":searchForm :summaryForm :formHeader"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Date : " />
						</p:column>
						<p:column>
							<p:calendar value="#{resendFileDepkeuHandler.searchDate}"
								pattern="yyyy-MM-dd" navigator="true" id="searchDate"
								showOn="button" style="width:100%">
							</p:calendar>
						</p:column>
						<!-- <p:column rendered="#{resendFileDepkeuHandler.doShowACK}"><h:outputLabel value="Filename : " /></p:column>
						<p:column rendered="#{resendFileDepkeuHandler.doShowACK}">
							<p:inputText id="filenameACK" style="width:100%"></p:inputText>
						</p:column> -->
						<p:column rendered="#{resendFileDepkeuHandler.doShowBS}">
							<h:outputLabel value="Account : " />
						</p:column>
						<p:column rendered="#{resendFileDepkeuHandler.doShowBS}">
							<p:selectOneMenu>
								<f:selectItem itemLabel="All" itemValue=""
									noSelectionOption="true" />
								<f:selectItem itemLabel="GAJI" itemValue="GAJI" />
								<f:selectItem itemLabel="RR GAJI" itemValue="GAJIR" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<p:commandButton value="Submit"
								actionListener="#{resendFileDepkeuHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="reportACK"
				value="#{resendFileDepkeuHandler.reportList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTableACK"
				rendered="#{resendFileDepkeuHandler.doShowACK}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Resend File Depkeu" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Checked" width="10%">
					<h:inputHidden value="#{reportACK.selected}" />
					<p:selectBooleanCheckbox value="#{reportACK.selected}">
						<f:ajax event="change"
							listener="#{resendFileDepkeuHandler.processChecked(reportACK)}"
							render=":formHeader" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Filename">
					<h:outputText value="#{reportACK.ACK_fileName}"></h:outputText>
				</p:column>
				<p:column headerText="ACK Filename">
					<h:outputText value="#{reportACK.ACK_ACKFilename}"></h:outputText>
				</p:column>
				<p:column headerText="Total Record">
					<h:outputText value="#{reportACK.ACK_totalRecord}"></h:outputText>
				</p:column>
				<p:column headerText="Total Amount">
					<h:outputText value="#{reportACK.ACK_totalAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Date Sent">
					<h:outputText value="#{reportACK.ACK_dateSent}"></h:outputText>
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{reportACK.ACK_status}"></h:outputText>
				</p:column>
			</p:dataTable>
			<p:dataTable var="reportBS"
				value="#{resendFileDepkeuHandler.reportList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTableBS"
				rendered="#{resendFileDepkeuHandler.doShowBS}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Resend File Depkeu" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Checked" width="10%">
					<h:inputHidden value="#{reportBS.selected}" />
					<p:selectBooleanCheckbox value="#{reportBS.selected}">
						<f:ajax event="change"
							listener="#{resendFileDepkeuHandler.processChecked(reportBS)}"
							render=":formHeader" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Account">
					<h:outputText value="#{reportBS.BS_account}"></h:outputText>
				</p:column>
				<p:column headerText="BS Filename">
					<h:outputText value="#{reportBS.BS_fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{reportBS.BS_status}"></h:outputText>
				</p:column>
			</p:dataTable>
			<p:dataTable var="reportSORBOR"
				value="#{resendFileDepkeuHandler.reportList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTableSORBOR"
				rendered="#{resendFileDepkeuHandler.doShowSORBOR}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Resend File Depkeu" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Checked" width="10%">
					<h:inputHidden value="#{reportSORBOR.selected}" />
					<p:selectBooleanCheckbox value="#{reportSORBOR.selected}">
						<f:ajax event="change"
							listener="#{resendFileDepkeuHandler.processChecked(reportSORBOR)}"
							render=":formHeader" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="SORBOR Filename">
					<h:outputText value="#{reportSORBOR.SORBOR_fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Total Records">
					<h:outputText value="#{reportSORBOR.SORBOR_totalRecord}"></h:outputText>
				</p:column>
				<p:column headerText="Total Amount">
					<h:outputText value="#{reportSORBOR.SORBOR_totalAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Created Date / Sent Date">
					<h:outputText value="#{reportSORBOR.SORBOR_dateSent}"></h:outputText>
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="#{reportSORBOR.SORBOR_status}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		<br />
		<h:form id="formFooter">
			<table>
				<tr>
					<td><p:commandButton styleClass="btn" value="Resend All"
							oncomplete="dlgConfirmResendAll.show();" update=":summaryForm" />
					</td>
					<td><p:commandButton styleClass="btn" value="Resend Checked"
							oncomplete="dlgConfirmResendChecked.show();"
							update=":summaryForm" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>