<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirmForceRetur" id="confirmDlgForceRetur"
			header="Force Retur" modal="true" resizable="false">
			<h:form id="forceReturForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to Force Retur?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{resultToBeProcessHandler.ForceRetur()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmForceRetur.hide()"
							update=":resultToBeProcessForm" />
						<p:commandButton value="No" onclick="dlgConfirmForceRetur.hide()"
							action="#{resultToBeProcessHandler.clearPrepForceRetur()}" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirmExecuteChecked"
			id="ConfirmExecuteChecked" header="Execute Checked" modal="true"
			resizable="false">
			<h:form id="executeCheckedForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to Execute Checked?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{resultToBeProcessHandler.ExecuteChecked()}"
							onclick="loadingDlg.show()"
							oncomplete="loadingDlg.hide();dlgConfirmExecuteChecked.hide()"
							update=":resultToBeProcessForm" />
						<p:commandButton value="No"
							onclick="dlgConfirmExecuteChecked.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgDownloadFile" id="downloadFileDlg"
			header="Download File" modal="true" resizable="false">
			<h:form id="downloadFileForm">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputText value="Select Type of Process : " />
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{resultToBeProcessHandler.typeOfProcess}">
									<f:selectItem itemLabel="Retry" itemValue="2" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="2">
								<p:commandButton styleClass="btn" value="Execute"
									action="#{resultToBeProcessHandler.doDownloadFile}"
									update=":downloadFileForm" />
							</p:column>
						</p:row>
						<p:row rendered="#{resultToBeProcessHandler.doShowPDFXLS}">
							<p:column>
								<h:outputText value="Download : " />
							</p:column>
							<p:column style="text-align:center">
								<h:commandLink
									action="#{resultToBeProcessHandler.downloadError('xls')}"
									value="">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink>
								<span></span>
								<h:commandLink
									action="#{resultToBeProcessHandler.downloadError('pdf')}"
									value="">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Document Number List" id="viewDocumentNumber"
			widgetVar="viewDocumentNumberDlg" modal="true" resizable="true"
			closable="false">
			<h:form id="viewFormDocumentNumber" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="FileName" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailFileName}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccount" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailDebitAccount}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Record" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailTotalRecord}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccountType" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailDebitAccountType}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Amount" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailTotalAmount}" />
							</p:column>
							<p:column>
								<h:outputLabel value="Document Date" />
							</p:column>
							<p:column>
								<h:outputLabel
									value="#{resultToBeProcessHandler.detailDocumentDate}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Type" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{resultToBeProcessHandler.detailType}" />
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>
			<h:form id="formHeaderDetail">
				<p:panelGrid>
					<f:facet name="header">
						<p:row rendered="false">
							<p:column>
								<p:commandButton value="Inquiry Saldo"
									actionListener="#{resultToBeProcessHandler.InquirySaldo}"
									update=":formHeaderDetail" onclick="loadingDlg.show()"
									oncomplete="loadingDlg.hide()" />
							</p:column>
							<p:column>
								<p:inputText id="availableBalance"
									value="#{resultToBeProcessHandler.availableBalance}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column>
								<h:outputText value="Total Records" />
							</p:column>
							<p:column>
								<p:inputText id="totalRecords"
									value="#{resultToBeProcessHandler.totalRecords}"
									readonly="true" />
							</p:column>
						</p:row>
						<p:row rendered="false">
							<p:column>
								<h:outputText value="Account Number" />
							</p:column>
							<p:column>
								<p:inputText id="accountNumber"
									value="#{resultToBeProcessHandler.accountNumber}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column>
								<h:outputText value="Selected Amount" />
							</p:column>
							<p:column>
								<p:inputText id="selectedAmount"
									value="#{resultToBeProcessHandler.selectedAmount}"
									readonly="true" />
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>
			<h:form id="formSummaryDetail">
				<p:dataTable var="detail"
					value="#{resultToBeProcessHandler.detailList}" lazy="true"
					paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailTable">
					<f:facet name="header">
						<table>
							<tr>
								<td
									style="width: 450px; border: none; padding: 0px; text-align: left;">
								</td>
								<td style="border: none; padding: 0px; text-align: left;">
									<p:outputLabel value="Result To Be Process" />
								</td>
							</tr>
						</table>
					</f:facet>
					<p:column headerText="Checked"
						style="text-align:center;width: 20px;" rendered="false">
						<h:inputHidden value="#{detail.selected}" />
						<p:selectBooleanCheckbox value="#{detail.selected}">
							<f:ajax event="change"
								listener="#{resultToBeProcessHandler.processCheckedDetail(detail)}"
								render=":formHeaderDetail" />
						</p:selectBooleanCheckbox>
					</p:column>
					<p:column headerText="Doc. Number" style="width: 200px;">
						<h:outputText value="#{detail.docNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account">
						<h:outputText value="#{detail.creditAcctNo}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account Name">
						<h:outputText value="#{detail.creditAcctName}"></h:outputText>
					</p:column>
					<p:column headerText="Beneficial Bank Name">
						<h:outputText value="#{detail.benefBankName}"></h:outputText>
					</p:column>
					<p:column headerText="Error Code">
						<h:outputText value="#{detail.errorCode}"></h:outputText>
					</p:column>
					<p:column headerText="Error Message">
						<h:outputText value="#{detail.errorMessage}"></h:outputText>
					</p:column>
					<p:column headerText="Amount">
						<h:outputText value="#{detail.debitAmount}"></h:outputText>
					</p:column>
				</p:dataTable>
				<table>
					<tr>
						<td><p:commandButton styleClass="btn" value="Retur All"
								rendered="false" /></td>
						<td><p:commandButton styleClass="btn" value="Retur Checked"
								rendered="false" /></td>
						<td><p:commandButton styleClass="btn" value="Retry All"
								rendered="false" /></td>
						<td><p:commandButton styleClass="btn" value="Retry Checked"
								rendered="false" /></td>
						<td><p:commandButton styleClass="btn" value="Force Retur All"
								rendered="false" /></td>
						<td><p:commandButton styleClass="btn"
								value="Force Retur Checked" rendered="false" /></td>
						<td width="100%" align="right"><p:commandButton
								styleClass="btn" value="Cancel"
								actionListener="#{resultToBeProcessHandler.doCloseDetail()}"
								oncomplete="viewDocumentNumberDlg.hide();"
								update=":formHeader :formHeaderDetail :viewFormDocumentNumber :formSummaryDetail :resultToBeProcessForm" />
						</td>
					</tr>
				</table>
			</h:form>
		</p:dialog>
	</ui:define>
	<ui:define name="content">
		<h:form id="searchForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Account" />
						</p:column>
						<p:column style="white-space:nowrap;" width="100%">
							<p:commandButton icon="ui-icon-bullet" value="GAJI"
								disabled="true" style="width:45%"
								rendered="#{resultToBeProcessHandler.doShowGAJI}" />
							<p:commandButton icon="ui-icon-radio-on" value="GAJI"
								style="width:45%"
								rendered="#{!resultToBeProcessHandler.doShowGAJI}"
								actionListener="#{resultToBeProcessHandler.doClickGaji}"
								update=":searchForm :resultToBeProcessForm :formHeader" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="RR GAJI"
								disabled="true" style="width:45%"
								rendered="#{resultToBeProcessHandler.doShowGAJIR}" />
							<p:commandButton icon="ui-icon-radio-on" value="RR GAJI"
								style="width:45%"
								rendered="#{!resultToBeProcessHandler.doShowGAJIR}"
								actionListener="#{resultToBeProcessHandler.doClickGajiR}"
								update=":searchForm :resultToBeProcessForm :formHeader" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Tabs" />
						</p:column>
						<p:column>
							<p:commandButton icon="ui-icon-bullet" value="RETRY"
								disabled="true"
								rendered="#{resultToBeProcessHandler.doShowRetry}" />
							<p:commandButton icon="ui-icon-radio-on" value="RETRY"
								rendered="#{!resultToBeProcessHandler.doShowRetry}"
								actionListener="#{resultToBeProcessHandler.doClickRetry}"
								update=":searchForm :resultToBeProcessForm :formHeader :formHeaderDetail :formFooter" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="RETUR"
								disabled="true"
								rendered="#{resultToBeProcessHandler.doShowRetur}" />
							<p:commandButton icon="ui-icon-radio-on" value="RETUR"
								rendered="#{!resultToBeProcessHandler.doShowRetur}"
								actionListener="#{resultToBeProcessHandler.doClickRetur}"
								update=":searchForm :resultToBeProcessForm :formHeader :formHeaderDetail :formFooter" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="SEND ACK"
								disabled="true"
								rendered="#{resultToBeProcessHandler.doShowSendACK}" />
							<p:commandButton icon="ui-icon-radio-on" value="SEND ACK"
								rendered="#{!resultToBeProcessHandler.doShowSendACK}"
								actionListener="#{resultToBeProcessHandler.doClickSendACK}"
								update=":searchForm :resultToBeProcessForm :formHeader :formHeaderDetail :formFooter" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="formHeader">
			<p:panelGrid>
				<f:facet name="header">
					<p:row rendered="#{!resultToBeProcessHandler.doShowSendACK}">
						<p:column>
							<p:commandButton value="Inquiry Saldo"
								actionListener="#{resultToBeProcessHandler.InquirySaldo}"
								update=":formHeader" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column>
							<p:inputText id="availableBalance"
								value="#{resultToBeProcessHandler.availableBalance}"
								readonly="true"></p:inputText>
						</p:column>
						<p:column>
							<h:outputText value="Total Records" />
						</p:column>
						<p:column>
							<p:inputText id="totalRecords"
								value="#{resultToBeProcessHandler.totalRecords}" readonly="true" />
						</p:column>
					</p:row>
					<p:row>
						<p:column rendered="#{!resultToBeProcessHandler.doShowSendACK}">
							<h:outputText value="Account Number" />
						</p:column>
						<p:column rendered="#{!resultToBeProcessHandler.doShowSendACK}">
							<p:inputText id="accountNumber"
								value="#{resultToBeProcessHandler.accountNumber}"
								readonly="true"></p:inputText>
						</p:column>
						<p:column>
							<h:outputText value="Selected Amount" />
						</p:column>
						<p:column>
							<p:inputText id="selectedAmount"
								value="#{resultToBeProcessHandler.selectedAmount}"
								readonly="true" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="resultToBeProcessForm">
			<p:dataTable var="summary"
				value="#{resultToBeProcessHandler.summaryList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Result To Be Process" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Checked"
					style="text-align:center;width: 20px;">
					<h:inputHidden value="#{summary.selected}" />
					<p:selectBooleanCheckbox value="#{summary.selected}">
						<f:ajax event="change"
							listener="#{resultToBeProcessHandler.processChecked(summary)}"
							render=":formHeader :formFooter" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column headerText="Filename" style="width: 200px;">
					<h:outputText value="#{summary.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Total Amount">
					<h:outputText value="#{summary.totalAmount}"></h:outputText>
				</p:column>
				<p:column headerText="Number of Record">
					<h:outputText value="#{summary.totalRecord}"></h:outputText>
				</p:column>
				<p:column headerText="Detail" style="text-align:center">
					<p:commandButton styleClass="btn" value="Show"
						onclick="loadingDlg.show();"
						action="#{resultToBeProcessHandler.doShowDetail(summary)}"
						oncomplete="loadingDlg.hide();viewDocumentNumberDlg.show();"
						update=":viewFormDocumentNumber :formSummaryDetail :resultToBeProcessForm :formHeader" />
				</p:column>
				<p:column headerText="Force Retur" rendered="false"
					style="text-align:center">
					<p:commandButton styleClass="btn" value="Force Retur"
						onclick="dlgConfirmForceRetur.show();"
						action="#{resultToBeProcessHandler.prepareForceRetur(summary)}" />
				</p:column>
			</p:dataTable>
		</h:form>
		<br />
		<h:form id="formFooter">
			<table>
				<tr>
					<td><p:commandButton styleClass="btn" value="Download File"
							rendered="#{resultToBeProcessHandler.doShowDownloadFile}"
							onclick="dlgDownloadFile.show();" /> <p:commandButton
							styleClass="btn" value="Execute All" rendered="false" /> <p:commandButton
							styleClass="btn" value="Execute Checked"
							rendered="#{!resultToBeProcessHandler.doShowDownloadFile}"
							onclick="dlgConfirmExecuteChecked.show();" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>
</ui:composition>