<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View Role" id="view" widgetVar="viewRole"
			modal="true" resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Role Detail</f:facet>
					<h:outputText value="Role Id"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.roleId}"></h:outputText>

					<h:outputText value="Role Name"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.roleName}"></h:outputText>

					<h:outputText value="UIM Role ID"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.uimRoleId}"></h:outputText>

					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide"
						icon="ui-icon-search" rendered="#{roleWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{roleWebHandler.hideHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show"
						icon="ui-icon-search" rendered="#{!roleWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{roleWebHandler.showHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>

				</p:panelGrid>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role"
					rendered="#{roleWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.createDate}"></h:outputText>

					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.createWho}"></h:outputText>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.changeDate}"></h:outputText>

					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.changeWho}"></h:outputText>

					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.approvalDate}"></h:outputText>

					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.approvalBy}"></h:outputText>

					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{roleWebHandler.role.status}"></h:outputText>
				</p:panelGrid>
				<p:panel header="Menu" style=" margin-top:10px;">
					<div style="height: 400px; overflow-y: scroll;">
						<o:tree value="#{roleWebHandler.tree}" var="menu">

							<o:treeNode level="0">
								<o:treeNodeItem>
									<h3 style="margin-top: 0px; margin-left: 5px;">
										<h:selectBooleanCheckbox value="#{menu.selected}"
											disabled="true" />
										#{menu.menuName}
									</h3>
									<o:treeInsertChildren />
								</o:treeNodeItem>
							</o:treeNode>
							<o:treeNode>
								<ul style="list-style-type: none;">
									<o:treeNodeItem>
										<li style="margin: 0px;"><h:selectBooleanCheckbox
												value="#{menu.selected}" disabled="true" />
											#{menu.menuName} <o:treeInsertChildren /></li>
									</o:treeNodeItem>
								</ul>
							</o:treeNode>

						</o:tree>
					</div>
				</p:panel>
			</h:form>
		</p:dialog>
		<p:dialog header="View Role Edit" id="viewEdit"
			widgetVar="viewRoleEdit" modal="true" resizable="true">
			<h:form id="viewFormEdit">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Current Role Detail</f:facet>
						<h:outputText value="Role Id"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.roleId}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.roleName}"></h:outputText>

						<h:outputText value="UIM Role ID"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.uimRoleId}"></h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Pending Role Detail</f:facet>
						<h:outputText value="Role Id"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.roleId}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.roleName}"></h:outputText>

						<h:outputText value="UIM Role ID"></h:outputText>
						<h:outputText value="#{roleWebHandler.tempRole.uimRoleId}"></h:outputText>
					</p:panelGrid>
					<p:panel header="Current Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" />
												#{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
					<p:panel header="Pending Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tempTree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" />
												#{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Role" id="edit"
			widgetVar="insertOrEditRole" modal="true" resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-role">
					<f:facet name="header">Role Detail</f:facet>

					<h:outputText value="Role Id"></h:outputText>
					<p:column>
						<h:outputText id="roleId" value="#{roleWebHandler.role.roleId}">
						</h:outputText>
						<h:outputText value=" " />
						<h:message for="roleId" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Role Name"></h:outputText>
					<p:column>
						<p:inputText id="roleName" value="#{roleWebHandler.role.roleName}"
							required="true" maxlength="100">
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="roleName" styleClass="validation-message" />
					</p:column>

					<h:outputText value="UIM Role ID"></h:outputText>
					<p:column>
						<p:inputText id="uimRoleId"
							value="#{roleWebHandler.role.uimRoleId}" required="false"
							maxlength="100">
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="uimRoleId" styleClass="validation-message" />
					</p:column>

				</p:panelGrid>
				<p:panel header="Menu" style=" margin-top:10px;" id="panelTreeMenu">
					<div style="height: 400px; overflow-y: scroll;">
						<o:tree value="#{roleWebHandler.tree}" var="menu" id="treeMenu">

							<o:treeNode level="0">
								<o:treeNodeItem>
									<h3 style="margin-top: 0px; margin-left: 5px;">
										<p:selectBooleanCheckbox value="#{menu.selected}">
											<p:ajax listener="#{roleWebHandler.checkThebox(menu)}" />
										</p:selectBooleanCheckbox>
										#{menu.menuName}
									</h3>
									<o:treeInsertChildren />
								</o:treeNodeItem>
							</o:treeNode>
							<o:treeNode>
								<ul style="list-style-type: none;">
									<o:treeNodeItem>
										<li style="margin: 0px;"><p:selectBooleanCheckbox
												value="#{menu.selected}">
												<p:ajax listener="#{roleWebHandler.checkThebox(menu)}" />
											</p:selectBooleanCheckbox> #{menu.menuName} <o:treeInsertChildren /></li>
									</o:treeNodeItem>
								</ul>
							</o:treeNode>

						</o:tree>
					</div>
				</p:panel>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{roleWebHandler.doSave}" id="btnSave"
						onclick="loadingDlg.show()" update=":insertOrEditForm :roleForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditRole.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Role Pending" id="editPending"
			widgetVar="insertOrEditRolePending" modal="true" resizable="true">
			<h:form id="insertOrEditFormPending" prependId="false">

				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Current Role Detail</f:facet>
						<h:outputText value="Role Id"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.roleId}"></h:outputText>

						<h:outputText value="Role Name"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.roleName}"></h:outputText>

						<h:outputText value="UIM Role ID"></h:outputText>
						<h:outputText value="#{roleWebHandler.role.uimRoleId}"></h:outputText>
					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-role">
						<f:facet name="header">Pending Role Detail</f:facet>

						<h:outputText value="Role Id"></h:outputText>

						<p:column>
							<h:outputText id="roleIdTemp"
								value="#{roleWebHandler.role.roleId}">
							</h:outputText>
							<h:outputText value=" " />
							<h:message for="roleIdTemp" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Role Name"></h:outputText>
						<p:column>
							<p:inputText id="roleNameTemp"
								value="#{roleWebHandler.tempRole.roleName}" required="true"
								maxlength="100">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="roleNameTemp" styleClass="validation-message" />
						</p:column>

						<h:outputText value="UIM Role ID"></h:outputText>
						<p:column>
							<p:inputText id="uimRoleIdTemp"
								value="#{roleWebHandler.role.uimRoleId}" required="false"
								maxlength="100">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="uimRoleIdTemp" styleClass="validation-message" />
						</p:column>

					</p:panelGrid>
					<p:panel header="Current Menu" style=" margin-top:10px;">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tree}" var="menu">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<h:selectBooleanCheckbox value="#{menu.selected}"
												disabled="true" />
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><h:selectBooleanCheckbox
													value="#{menu.selected}" disabled="true" />
												#{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
					<p:panel header="Pending Menu" style=" margin-top:10px;"
						id="panelTreeMenuPending">
						<div style="height: 400px; overflow-y: scroll;">
							<o:tree value="#{roleWebHandler.tempTree}" var="menu"
								id="treeMenuPending">

								<o:treeNode level="0">
									<o:treeNodeItem>
										<h3 style="margin-top: 0px; margin-left: 5px;">
											<p:selectBooleanCheckbox value="#{menu.selected}">
												<p:ajax
													listener="#{roleWebHandler.checkTheboxPending(menu)}" />
											</p:selectBooleanCheckbox>
											#{menu.menuName}
										</h3>
										<o:treeInsertChildren />
									</o:treeNodeItem>
								</o:treeNode>
								<o:treeNode>
									<ul style="list-style-type: none;">
										<o:treeNodeItem>
											<li style="margin: 0px;"><p:selectBooleanCheckbox
													value="#{menu.selected}">
													<p:ajax
														listener="#{roleWebHandler.checkTheboxPending(menu)}" />
												</p:selectBooleanCheckbox> #{menu.menuName} <o:treeInsertChildren /></li>
										</o:treeNodeItem>
									</ul>
								</o:treeNode>

							</o:tree>
						</div>
					</p:panel>
				</h:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{roleWebHandler.doSave}" id="btnSavePending"
						onclick="loadingDlg.show()"
						update=" :insertOrEditForm :insertOrEditFormPending :roleForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditRole.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete User"
			modal="true" resizable="false">
			<h:form id="deleteForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete role #{roleWebHandler.role.roleId}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{roleWebHandler.deleteRole}"
							oncomplete="dlgConfirm.hide()" update=":roleForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{roleWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{roleWebHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!roleWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{roleWebHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{roleWebHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton value="Search Roles" icon="ui-icon-search"
								actionListener="#{roleWebHandler.doSearch}" update=":roleForm"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Role Id" />
					</p:column>
					<p:column>
						<p:inputText id="roleId" autocomplete="off" maxlength="50"
							label="roleId" value="#{roleWebHandler.roleId}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Role Name" />
					</p:column>
					<p:column>
						<p:inputText id="roleName" autocomplete="off" maxlength="100"
							label="roleName" value="#{roleWebHandler.roleName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:125px; border:none;">
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox value="#{roleWebHandler.pending}"
							label="Pending" itemLabel="Pending" />
						<br />
						<p:selectBooleanCheckbox value="#{roleWebHandler.approved}"
							label="Approved" itemLabel="Approved" />
						<br />
						<p:selectBooleanCheckbox value="#{roleWebHandler.rejected}"
							label="Rejected" itemLabel="Rejected" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="roleForm">
			<p:dataTable var="role" value="#{roleWebHandler.roleList}"
				lazy="true" style="width: 800px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="roleTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 365px; border: none; padding: 0px; text-align: left;">
								<p:commandButton oncomplete="insertOrEditRole.show()"
									icon="ui-icon-plusthick" value="Create Role"
									action="#{roleWebHandler.newRole}"
									update=":insertOrEditForm :insertOrEditFormPending" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Roles Data" /></td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="Role Id" style="width: 190px;">
					<h:outputText value="#{role.roleId}"></h:outputText>
				</p:column>
				<p:column headerText="Role Name">
					<h:outputText value="#{role.roleName}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 120px;">
					<h:outputText value="#{role.status}"></h:outputText>
				</p:column>
				<p:column headerText="UIM Role ID"
					style="width: 120px; text-align: center;">
					<h:outputText value="#{role.uimRoleId}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 125px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-zoomin" oncomplete="loadingDlg.hide();"
						update=":viewForm :viewFormEdit"
						actionListener="#{roleWebHandler.viewDetailedRole(role)}"
						onclick="loadingDlg.show()" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{roleWebHandler.viewDetailedRoleEdit(role)}"
						oncomplete="loadingDlg.hide();"
						update=":insertOrEditForm :insertOrEditFormPending"
						onclick="loadingDlg.show()" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Delete" icon="ui-icon-trash"
						action="#{roleWebHandler.viewDetailedDelete(role)}"
						update=":deleteForm " />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>