<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">



	<ui:define name="dialog">
		<p:dialog header="Update Remittance Number" id="edit"
			widgetVar="persistRemitanceNumber" modal="true" resizable="true">
			<h:form id="persistForm">
				<p:panelGrid columns="2"
					columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
					<f:facet name="header">Transaction's Detail</f:facet>

					<h:outputText value="Document Number"></h:outputText>
					<p:column>
						<h:outputText id="docNo" value="#{sknRtgsHandler.sknRtgs.docNo}"
							required="true">
						</h:outputText>
					</p:column>

					<h:outputText value="Account Name"></h:outputText>
					<p:column>
						<h:outputText id="creditAccName"
							value="#{sknRtgsHandler.sknRtgs.creditAccName}">
						</h:outputText>
					</p:column>

					<h:outputText value="Account No"></h:outputText>
					<p:column>
						<h:outputText id="creditAccNo"
							value="#{sknRtgsHandler.sknRtgs.creditAccNo}">
						</h:outputText>
					</p:column>

					<h:outputText value="Beneficiary Bank Name"></h:outputText>
					<p:column>
						<h:outputText id="beneficiaryBankName"
							value="#{sknRtgsHandler.sknRtgs.beneficiaryBankName}">
						</h:outputText>
					</p:column>

					<h:outputText value="Transaction Type"></h:outputText>
					<p:column>
						<h:outputText id="transactionType"
							value="#{sknRtgsHandler.sknRtgs.transactionType}">
						</h:outputText>
					</p:column>

					<h:outputText value="Transaction Amount"></h:outputText>
					<p:column>
						<h:outputText id="creditTrfAmount"
							value="#{sknRtgsHandler.sknRtgs.creditTrfAmount}">
						</h:outputText>
						<h:outputText value=" " />
						<h:message for="creditTrfAmount" styleClass="validation-message" />
					</p:column>


					<h:outputText value="Reference No*"></h:outputText>
					<p:column>
						<p:inputText id="remittanceNo"
							value="#{sknRtgsHandler.sknRtgs.remittanceNo}">
						</p:inputText>
					</p:column>

					<h:outputText value="SorBor No*"></h:outputText>
					<p:column>
						<p:inputText id="sorborNo"
							value="#{sknRtgsHandler.sknRtgs.sorborNo}">
						</p:inputText>
					</p:column>

				</p:panelGrid>
				<div style="text-align: center; padding: 5px;">
					<h:outputText value="*Sorbor And Remittance Number are required. "
						style="color:#CD0A0A"></h:outputText>
				</div>
				<div style="text-align: center; padding: 5px;">
					<h:outputText value="#{sknRtgsHandler.updateMessage}"
						style="color:#CD0A0A"
						rendered="#{sknRtgsHandler.doShowUpdateMessage}"></h:outputText>

				</div>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Update" icon="ui-icon-disk"
						action="#{sknRtgsHandler.doSave}" id="btnSave"
						onclick="loadingDlg.show()" update=":transactionForm :persistForm"
						oncomplete="loadingDlg.hide();" />

					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="persistRemitanceNumber.hide()" />
				</div>
			</h:form>
		</p:dialog>

		<p:dialog header="Retur Transaksi" id="viewUpdateRetur"
			widgetVar="viewUpdateReturDlg" modal="true" resizable="true">
			<h:form id="updateRetur" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="Reference Number" />
							</p:column>
							<p:column>
								<p:inputText id="RemittanceNumber"
									value="#{sknRtgsHandler.returRemittanceNo}">
								</p:inputText>
							</p:column>
							<p:column>
								<p:commandButton id="searchRemittanceNo" value="Search"
									onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()"
									action="#{sknRtgsHandler.searchRemittanceNo()}"
									update=":updateRetur" />
							</p:column>
						</p:row>
					</f:facet>
					<p:row>
						<p:column>
							<h:outputLabel value="Doc Number " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.docNo}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Account Name " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.creditAccName}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Account No " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.creditAccNo}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Beneficiary Bank Name " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel
								value="#{sknRtgsHandler.retur.beneficiaryBankName}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Transaction Type" />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.transactionType}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Transaction Amount " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.creditTrfAmount}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Reference Number " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.remittanceNo}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Sorbor Number " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.sorborNo}" />
						</p:column>
					</p:row>
					<p:row rendered="#{sknRtgsHandler.doShowReturBtn}">
						<p:column>
							<h:outputLabel value="Retur Reason " />
						</p:column>
						<p:column colspan="2">
							<p:selectOneMenu value="#{sknRtgsHandler.returReason}">
								<f:selectItem itemLabel="Salah Nama" itemValue="99"
									noSelectionOption="true" />
								<f:selectItem itemLabel="Salah No Rekening" itemValue="95" />
							</p:selectOneMenu>
						</p:column>
					</p:row>
					<p:row rendered="#{!sknRtgsHandler.doShowReturBtn}">
						<p:column>
							<h:outputLabel value="Retur Reason " />
						</p:column>
						<p:column colspan="2">
							<h:outputLabel value="#{sknRtgsHandler.retur.returReasonMsg}" />
						</p:column>
					</p:row>
					<p:row rendered="#{sknRtgsHandler.doShowSearchMessage}">
						<p:column colspan="3">
							<h:outputLabel value="#{sknRtgsHandler.searchMessage}"
								style="color:#CD0A0A; text-align:center" />
						</p:column>
					</p:row>
					<p:row rendered="#{sknRtgsHandler.doShowReturBtn}">
						<p:column colspan="3"
							style="border:none; padding:0px; text-align:center;">
							<p:commandButton value="Retur" icon="ui-icon-disk"
								action="#{sknRtgsHandler.doRetur}" id="btnRetur"
								onclick="loadingDlg.show()"
								update=":transactionForm :persistForm"
								oncomplete="loadingDlg.hide(); viewUpdateReturDlg.hide();" />
						</p:column>
					</p:row>
				</p:panelGrid>
				<div style="text-align: center; padding: 5px;">
					<h:outputText
						value="This record will 
								be flaged as Retur 
								Transaction."
						style="color:#CD0A0A"></h:outputText>
					<BR />
					<h:outputText
						value="System will 
								send Retur ACK to Perbend."
						style="color:#CD0A0A"></h:outputText>
				</div>
			</h:form>
		</p:dialog>

		<p:dialog header="List SKN/RTGS Bulk" id="editBulk"
			widgetVar="persistRemittanceNumberBulk" modal="true" resizable="true">
			<h:form id="transactionBulkForm">
				<p:dataTable var="sknRtgsBulk"
					value="#{sknRtgsHandler.sknRtgsBulkList}" lazy="true"
					style="width: 1335px;" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="sknRtgsBulkTable">

					<f:facet name="header">
						<table>
							<tr>
								<td
									style="width: 450px; border: none; padding: 0px; text-align: left;">
								</td>
								<td style="border: none; padding: 0px; text-align: left;">
									<p:outputLabel value="List SKN/RTGS Bulk" />
								</td>
							</tr>
						</table>
					</f:facet>
					<p:column headerText="Doc Number" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.docNo}"></h:outputText>
					</p:column>
					<p:column headerText="Account Name" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.creditAccName}"></h:outputText>
					</p:column>
					<p:column headerText="Account No" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.creditAccNo}"></h:outputText>
					</p:column>
					<p:column headerText="Beneficiary Bank Name" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.beneficiaryBankName}"></h:outputText>
					</p:column>
					<p:column headerText="Transaction Type" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.transactionType}"></h:outputText>
					</p:column>
					<p:column headerText="Transaction Amount" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.creditTrfAmount}"></h:outputText>
					</p:column>
					<p:column headerText="Reference No" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.remittanceNo}"></h:outputText>
					</p:column>
					<p:column headerText="Sorbor No" style="width: 190px;">
						<h:outputText value="#{sknRtgsBulk.sorborNo}"></h:outputText>
					</p:column>
				</p:dataTable>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Update All" icon="ui-icon-disk"
						actionListener="#{sknRtgsHandler.doBulkSave()}" disabled=""
						id="btnBulkSave" onclick="loadingDlg.show()"
						update=":transactionBulkForm :transactionForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="persistRemittanceNumberBulk.hide()" />
				</div>
			</h:form>
		</p:dialog>


	</ui:define>



	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{sknRtgsHandler.doShowSearch}">
				<p:ajax event="click" listener="#{sknRtgsHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!sknRtgsHandler.doShowSearch}">
				<p:ajax event="click" listener="#{sknRtgsHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{sknRtgsHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:175px; border:none;">
							<p:commandButton value="Search Transaction" icon="ui-icon-search"
								actionListener="#{sknRtgsHandler.doSearch}"
								update=":transactionForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Doc Number" />
					</p:column>
					<p:column>
						<p:inputText id="docNo" autocomplete="off" label="docNo"
							value="#{sknRtgsHandler.docNo}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Account Name" />
					</p:column>
					<p:column>
						<p:inputText id="creditAccName" autocomplete="off"
							label="creditAccName" value="#{sknRtgsHandler.creditAccName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Account No" />
					</p:column>
					<p:column>
						<p:inputText id="creditAccNo" autocomplete="off"
							label="creditAccNo" value="#{sknRtgsHandler.creditAccNo}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Beneficiary Bank Name" />
					</p:column>
					<p:column>
						<p:inputText id="beneficiaryBankName" autocomplete="off"
							label="beneficiaryBankName"
							value="#{sknRtgsHandler.beneficiaryBankName}">
						</p:inputText>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel value="Transaction Type" />
					</p:column>
					<p:column>
						<p:selectOneMenu value="#{sknRtgsHandler.transactionType}">
							<f:selectItem itemLabel="----Select All----" itemValue=""
								noSelectionOption="true" />
							<f:selectItem itemLabel="0 - Overbooking" itemValue="0" />
							<f:selectItem itemLabel="1 - RTGS" itemValue="1" />
							<f:selectItem itemLabel="2 - SKN" itemValue="2" />
						</p:selectOneMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel value="Transaction Amount" />
					</p:column>
					<p:column>
						<p:inputText id="creditTrfAmount" autocomplete="off"
							label="creditTrfAmount" value="#{sknRtgsHandler.creditTrfAmount}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row rendered="false">
					<p:column>
						<h:outputLabel value="Reference Number" />
					</p:column>
					<p:column>
						<p:inputText id="remittanceNo" autocomplete="off"
							label="remittanceNo" value="#{sknRtgsHandler.remittanceNo}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row rendered="false">
					<p:column>
						<h:outputLabel value="SorBor Number" />
					</p:column>
					<p:column>
						<p:inputText id="sorborNo" autocomplete="off" label="sorborNo"
							value="#{sknRtgsHandler.sorborNo}">
						</p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>



		<h:form id="bulkForm" enctype="multipart/form-data">
			<p:commandLink value="(x) Close Bulk Form" icon="ui-icon-search"
				rendered="#{sknRtgsHandler.doBulkShow}">
				<p:ajax event="click" listener="#{sknRtgsHandler.hideBulk}"
					update=":bulkForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) Open Bulk Form" icon="ui-icon-search"
				rendered="#{!sknRtgsHandler.doBulkShow}">
				<p:ajax event="click" listener="#{sknRtgsHandler.showBulk}"
					update=":bulkForm">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{sknRtgsHandler.doBulkShow}">
				<p:row>
					<p:column style="white-space:nowrap;">
						<h:outputText value="Upload File : " />
					</p:column>
					<p:column style="white-space:nowrap;">
						<p:fileUpload value="#{sknRtgsHandler.fileUpload}" mode="simple"
							skinSimple="true" />
						<p:commandButton value="Submit" ajax="false"
							actionListener="#{sknRtgsHandler.doExtract}" />
						<p:commandButton value="View Bulk" update=":transactionBulkForm"
							actionListener="#{sknRtgsHandler.doViewAndUpdate}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column style="white-space:nowrap;" colspan="2">
						<h:outputText value="Download Contoh Format File Upload" />
						<span />
						<p:commandButton value="Download" ajax="false"
							actionListener="#{sknRtgsHandler.downloadContoh}">
							<p:fileDownload value="#{sknRtgsHandler.fileContoh}" />
						</p:commandButton>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>




		<h:form id="transactionForm">
			<p:dataTable var="sknRtgs" value="#{sknRtgsHandler.sknRtgsList}"
				lazy="true" style="width: 1335px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="sknRtgsTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 200px; border: none; padding: 0px; text-align: left;">
								<p:commandButton styleClass="btn" value="Update Retur"
									oncomplete="viewUpdateReturDlg.show();"
									action="#{sknRtgsHandler.initDialogRetur()}"
									update=":updateRetur" />
							</td>
							<td
								style="width: 250px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="SknRtgs Form" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink action="#{sknRtgsHandler.downloadXls}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<p:outputLabel value="Document Number" />
					</f:facet>
					<p:outputLabel value="#{sknRtgs.docNo}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account Name" />
					</f:facet>
					<h:outputText value="#{sknRtgs.creditAccName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account No" />
					</f:facet>
					<h:outputText value="#{sknRtgs.creditAccNo}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Beneficiary Bank Name" />
					</f:facet>
					<h:outputText value="#{sknRtgs.beneficiaryBankName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Transaction Type" />
					</f:facet>
					<h:outputText value="#{sknRtgs.transactionType}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Transaction Amount" />
					</f:facet>
					<h:outputText value="#{sknRtgs.creditTrfAmount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Reference Number" />
					</f:facet>
					<h:outputText value="#{sknRtgs.remittanceNo}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Sorbor Number" />
					</f:facet>
					<h:outputText value="#{sknRtgs.sorborNo}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 100px;"
					exportable="false">
					<p:commandButton icon="ui-icon-radio-on" value="Update"
						style="width:120%"
						actionListener="#{sknRtgsHandler.viewDetailedSknRtgs(sknRtgs)}"
						update=":persistForm"
						onclick="loadingDlg.show(); persistRemitanceNumber.show();"
						oncomplete="loadingDlg.hide()" disabled="#{sknRtgs.doUpdatable}" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>