<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="Document Number List" id="viewDocumentNumber"
			widgetVar="viewDocumentNumberDlg" modal="true" resizable="true"
			closable="true">
			<h:form id="viewFormDocumentNumber" prependId="false">
				<p:panelGrid>
					<f:facet name="header">
						<p:row>
							<p:column>
								<h:outputLabel value="FileName" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailFileName}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccount" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailDebitAccount}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Record" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailTotalRecord}" />
							</p:column>
							<p:column>
								<h:outputLabel value="DebitAccountType" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailDebitAccountType}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Total Amount" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailTotalAmount}" />
							</p:column>
							<p:column>
								<h:outputLabel value="Document Date" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailDocumentDate}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputLabel value="Type" />
							</p:column>
							<p:column>
								<h:outputLabel value="#{summaryHandler.detailType}" />
							</p:column>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</h:form>
			<h:form id="formSummaryDetail">
				<p:dataTable var="detail" value="#{summaryHandler.detailList}"
					lazy="true" paginator="true" rows="10"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" id="detailDialogTable">
					<f:facet name="header">
						<table>
							<tr>
								<td
									style="width: 450px; border: none; padding: 0px; text-align: left;">
								</td>
								<td style="border: none; padding: 0px; text-align: left;">
									<p:outputLabel value="Summary Details" />
								</td>
							</tr>
						</table>
					</f:facet>
					<p:column headerText="Doc. Number" style="width: 200px;">
						<h:outputText value="#{detail.docNumber}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account">
						<h:outputText value="#{detail.creditAcctNo}"></h:outputText>
					</p:column>
					<p:column headerText="Credit Account Name">
						<h:outputText value="#{detail.creditAcctName}"></h:outputText>
					</p:column>
					<p:column headerText="Beneficial Bank Name">
						<h:outputText value="#{detail.benefBankName}"></h:outputText>
					</p:column>
					<p:column headerText="Error Code">
						<h:outputText value="#{detail.errorCode}"></h:outputText>
					</p:column>
					<p:column headerText="Error Message">
						<h:outputText value="#{detail.errorMessage}"></h:outputText>
					</p:column>
					<p:column headerText="Amount">
						<h:outputText value="#{detail.debitAmount}"></h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{summaryHandler.doShowSearch}">
				<p:ajax event="click" listener="#{summaryHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!summaryHandler.doShowSearch}">
				<p:ajax event="click" listener="#{summaryHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{summaryHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{summaryHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{summaryHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="SP2D Number" />
					</p:column>
					<p:column>
						<p:inputText value="#{summaryHandler.sp2dno}" id="sp2dno"
							maxlength="15">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Start Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{summaryHandler.docDateStart}"
							pattern="yyyy-MM-dd" navigator="true" id="startDate"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="End Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{summaryHandler.docDateEnd}"
							pattern="yyyy-MM-dd" navigator="true" id="endDate"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="formHeader">
			<p:commandLink value="(x) close Amount To Be Executed"
				icon="ui-icon-search" rendered="#{summaryHandler.doShowAmount}">
				<p:ajax event="click" listener="#{summaryHandler.hideAmount}"
					update=":formHeader">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) show Amount To Be Executed"
				icon="ui-icon-search" rendered="#{!summaryHandler.doShowAmount}">
				<p:ajax event="click" listener="#{summaryHandler.showAmount}"
					update=":formHeader">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{summaryHandler.doShowAmount}">
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputText value="Posting Date" />
						</p:column>
						<p:column>
							<p:calendar value="#{summaryHandler.postingDate}"
								pattern="yyyy-MM-dd" navigator="true" id="postingDate"
								showOn="button" mindate="sysdate">
							</p:calendar>
						</p:column>
						<p:column>
							<p:commandButton value="Inquiry" icon="ui-icon-search"
								action="#{summaryHandler.getAmountPosting()}"
								update=":formHeader" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:outputText value="GAJI" />
						</p:column>
						<p:column>
							<p:inputText id="postingGaji"
								value="#{summaryHandler.postingGaji}" readonly="true" />
						</p:column>
						<p:column>
							<h:outputText value="RR GAJI" />
						</p:column>
						<p:column>
							<p:inputText id="postingGajiR"
								value="#{summaryHandler.postingGajir}" readonly="true" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="validation" value="#{summaryHandler.summaryList}"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="detailTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Summary" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Filename">
					<h:outputText value="#{validation.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="Total Records" width="10%">
					<ui:fragment rendered="#{validation.totalRecord > 0}">
						<p:commandLink id="totalRecordsAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '0')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalRecord}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalRecord == 0}">
						<h:outputText value="#{validation.totalRecord}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="Waiting" width="10%">
					<ui:fragment rendered="#{validation.totalWaiting > 0}">
						<p:commandLink id="waitingAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '0')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalWaiting}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalWaiting == 0}">
						<h:outputText value="#{validation.totalWaiting}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="In Progress" width="10%">
					<ui:fragment rendered="#{validation.totalInProgress > 0}">
						<p:commandLink id="inProgressAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '0')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalInProgress}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalInProgress == 0}">
						<h:outputText value="#{validation.totalInProgress}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="Retry" width="10%">
					<ui:fragment rendered="#{validation.totalRetry > 0}">
						<p:commandLink id="retryAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '1')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalRetry}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalRetry == 0}">
						<h:outputText value="#{validation.totalRetry}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="Retur" width="10%">
					<ui:fragment rendered="#{validation.totalRetur > 0}">
						<p:commandLink id="returAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '2')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalRetur}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalRetur == 0}">
						<h:outputText value="#{validation.totalRetur}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="Success" width="10%">
					<ui:fragment rendered="#{validation.totalSuccess > 0}">
						<p:commandLink id="successAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '3')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalSuccess}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalSuccess == 0}">
						<h:outputText value="#{validation.totalSuccess}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="ACK Retur" width="10%">
					<ui:fragment rendered="#{validation.totalAckRetur > 0}">
						<p:commandLink id="ackReturAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '4')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalAckRetur}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalAckRetur == 0}">
						<h:outputText value="#{validation.totalAckRetur}" />
					</ui:fragment>
				</p:column>
				<p:column headerText="ACK Result" width="10%">
					<ui:fragment rendered="#{validation.totalAckSuccess > 0}">
						<p:commandLink id="ackSuccessAjax" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide(); viewDocumentNumberDlg.show();"
							action="#{summaryHandler.doShowDetail(validation, '5')}"
							update=":viewFormDocumentNumber :formSummaryDetail">
							<h:outputText value="#{validation.totalAckSuccess}" />
						</p:commandLink>
					</ui:fragment>
					<ui:fragment rendered="#{validation.totalAckSuccess == 0}">
						<h:outputText value="#{validation.totalAckSuccess}" />
					</ui:fragment>
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>