<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">


	<ui:define name="dialog">
		<p:dialog
			header="View Parameter #{systemParameterHandler.systemParameter.paramName}"
			id="viewParameter" widgetVar="viewParameter" modal="true"
			resizable="true">
			<h:form id="viewFormParameter">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
					<f:facet name="header">Parameter's Detail</f:facet>

					<h:outputText value="Parameter Id"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.paramId}"></h:outputText>

					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.paramName}"></h:outputText>

					<h:outputText value="Value"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.paramValue}"></h:outputText>

					<h:outputText value="Description"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.description}"></h:outputText>

					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide"
						icon="ui-icon-search"
						rendered="#{systemParameterHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{systemParameterHandler.hideHistory}"
							update=":viewFormParameter ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show"
						icon="ui-icon-search"
						rendered="#{!systemParameterHandler.doShowHistory}">
						<p:ajax event="click"
							listener="#{systemParameterHandler.showHistory}"
							update=":viewFormParameter ">
						</p:ajax>
					</p:commandLink>

				</p:panelGrid>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label-parameter, panelGrid-value-parameter"
					rendered="#{systemParameterHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.updateDate}"></h:outputText>

					<h:outputText value="Change By"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.changeWho}"></h:outputText>

					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.approvalDate}"></h:outputText>

					<h:outputText value="Approval By"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.approvalBy}"></h:outputText>

					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.status}"></h:outputText>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog
			header="View Parameter Edit #{systemParameterHandler.systemParameter.paramName}"
			id="viewParameterEdit" widgetVar="viewParameterEdit" modal="true"
			resizable="true">
			<h:form id="viewFormParameterEdit" disabled="true">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="parameter-current,parameter-pending">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Current Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.paramId}"></h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.paramValue}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.description}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label-parameter, panelGrid-value-parameter">
						<f:facet name="header">Pending Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameterTemp.paramId}"></h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameterTemp.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameterTemp.paramValue}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameterTemp.description}"></h:outputText>

					</p:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>


		<p:dialog header="Insert or Edit Parameter" id="edit"
			widgetVar="insertOrEditParameter" modal="true" resizable="true">
			<h:form id="insertOrEditForm">
				<p:panelGrid columns="2"
					columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
					<f:facet name="header">Parameter's Detail</f:facet>

					<h:outputText value="Parameter Id"></h:outputText>
					<p:column>
						<h:outputText id="paramId"
							value="#{systemParameterHandler.systemParameter.paramId}"
							required="true">
						</h:outputText>
						<h:outputText value=" " />
						<h:message for="paramId" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Parameter Name"></h:outputText>
					<h:outputText
						value="#{systemParameterHandler.systemParameter.paramName}"></h:outputText>

					<h:outputText value="Value"></h:outputText>
					<p:column>
						<p:inputText id="paramValue"
							value="#{systemParameterHandler.systemParameter.paramValue}"
							required="true">
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="paramValue" styleClass="validation-message" />
					</p:column>

					<h:outputText value="Description"></h:outputText>
					<p:column>
						<p:inputText id="description"
							value="#{systemParameterHandler.systemParameter.description}">
						</p:inputText>
						<h:outputText value=" " />
						<h:message for="description" styleClass="validation-message" />
					</p:column>

				</p:panelGrid>
				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{systemParameterHandler.doSave}" disabled=""
						id="btnSave" onclick="loadingDlg.show()"
						update=":insertOrEditForm :parameterForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditParameter.hide()" />
				</div>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit Parameter Pending" id="editPending"
			widgetVar="insertOrEditParameterPending" modal="true"
			resizable="true" height="100%">
			<h:form id="insertOrEditFormPending">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
						<f:facet name="header">Current Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.paramId}"></h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText disable="true"
							value="#{systemParameterHandler.systemParameter.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.paramValue}"></h:outputText>

						<h:outputText value="Description"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameter.description}"></h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses=".panelGrid-label-parameter, .panelGrid-value-parameter">
						<f:facet name="header">Pending Parameter's Detail</f:facet>

						<h:outputText value="Parameter Id"></h:outputText>
						<h:outputText id="paramId"
							value="#{systemParameterHandler.systemParameterTemp.paramId}"
							required="true">
						</h:outputText>

						<h:outputText value="Parameter Name"></h:outputText>
						<h:outputText
							value="#{systemParameterHandler.systemParameterTemp.paramName}"></h:outputText>

						<h:outputText value="Value"></h:outputText>
						<p:column>
							<p:inputText id="paramValue"
								value="#{systemParameterHandler.systemParameterTemp.paramValue}"
								required="true">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="paramValue" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Description"></h:outputText>
						<p:column>
							<p:inputText id="description"
								value="#{systemParameterHandler.systemParameterTemp.description}"
								required="true">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="description" styleClass="validation-message" />
						</p:column>
					</p:panelGrid>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton value="Save" icon="ui-icon-disk"
						actionListener="#{systemParameterHandler.doSave}" disabled=""
						id="btnSave" onclick="loadingDlg.show()"
						update=":insertOrEditFormPending :parameterForm"
						oncomplete="loadingDlg.hide();" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditParameterPending.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg"
			header="Delete Parameter" modal="true" resizable="false">
			<h:form id="deleteSystemParameterForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete parameter #{systemParameterHandler.systemParameter.paramId}?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{systemParameterHandler.deleteSystemParameter}"
							oncomplete="dlgConfirm.hide()" update=":parameterForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{systemParameterHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{systemParameterHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!systemParameterHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{systemParameterHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{systemParameterHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:175px; border:none;">
							<p:commandButton value="Search Parameters" icon="ui-icon-search"
								actionListener="#{systemParameterHandler.doSearch}"
								update=":parameterForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter Id" />
					</p:column>
					<p:column>
						<p:inputText id="parameterId" autocomplete="off"
							label="parameterId" value="#{systemParameterHandler.paramId}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter Name" />
					</p:column>
					<p:column>
						<p:inputText id="parameterName" autocomplete="off"
							label="parameterName" value="#{systemParameterHandler.paramName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Parameter Value" />
					</p:column>
					<p:column>
						<p:inputText id="parameterValue" autocomplete="off"
							label="parameterValue"
							value="#{systemParameterHandler.paramValue}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:125px; border:none;">
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox value="#{systemParameterHandler.pending}"
							label="Pending" itemLabel="Pending" />
						<br />
						<p:selectBooleanCheckbox
							value="#{systemParameterHandler.approved}" label="Approved"
							itemLabel="Approved" />
						<br />
						<p:selectBooleanCheckbox
							value="#{systemParameterHandler.rejected}" label="Rejected"
							itemLabel="Rejected" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>

		<h:form id="parameterForm">
			<p:dataTable var="parameter"
				value="#{systemParameterHandler.parameterList}" lazy="true"
				style="width: 1335px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="parameterTable">

				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Parameter Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="Parameter Id" style="width: 190px;">
					<h:outputText value="#{parameter.paramId}"></h:outputText>
				</p:column>
				<p:column headerText="Parameter Name" style="width: 250px;">
					<h:outputText value="#{parameter.paramName}"></h:outputText>
				</p:column>
				<p:column headerText="Value">
					<h:outputText value="#{parameter.paramValue}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 120px;">
					<h:outputText value="#{parameter.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 100px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-person"
						actionListener="#{systemParameterHandler.viewDetailedParameter(parameter)}"
						update=":viewFormParameter :viewFormParameterEdit" />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{systemParameterHandler.viewDetailedParameterEdit(parameter)}"
						update=":insertOrEditForm :insertOrEditFormPending" />
					<p:outputLabel style="visibility:hidden" value="mi" />
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>