<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="tabForm">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column>
							<h:outputLabel value="Report : " />
						</p:column>
						<p:column style="white-space:nowrap;">
							<p:commandButton icon="ui-icon-bullet" value="Penyaluran GAJI"
								disabled="true" style="width:33%"
								rendered="#{transactionReportHandler.doShowGaji}" />
							<p:commandButton icon="ui-icon-radio-on" value="Penyaluran GAJI"
								style="width:33%"
								rendered="#{!transactionReportHandler.doShowGaji}"
								actionListener="#{transactionReportHandler.doClickGaji}"
								update=":summaryForm :searchForm :tabForm"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="Transaksi Reject"
								disabled="true" style="width:33%"
								rendered="#{transactionReportHandler.doShowReject}" />
							<p:commandButton icon="ui-icon-radio-on" value="Transaksi Reject"
								style="width:33%"
								rendered="#{!transactionReportHandler.doShowReject}"
								actionListener="#{transactionReportHandler.doClickReject}"
								update=":summaryForm :searchForm :tabForm"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
							<span></span>
							<p:commandButton icon="ui-icon-bullet" value="Account Validation"
								disabled="true" style="width:33%"
								rendered="#{transactionReportHandler.doShowValidation}" />
							<p:commandButton icon="ui-icon-radio-on"
								value="Account Validation" style="width:33%"
								rendered="#{!transactionReportHandler.doShowValidation}"
								actionListener="#{transactionReportHandler.doClickValidation}"
								update=":summaryForm :searchForm :tabForm"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
						</p:column>
					</p:row>
				</f:facet>
			</p:panelGrid>
		</h:form>
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{transactionReportHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{transactionReportHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!transactionReportHandler.doShowSearch}">
				<p:ajax event="click"
					listener="#{transactionReportHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<!-- SEARCH PENYALURAN GAJI -->
			<p:panelGrid
				rendered="#{transactionReportHandler.doShowSearch &amp;&amp; transactionReportHandler.doShowGaji}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{transactionReportHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{transactionReportHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:450px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Transaction Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{transactionReportHandler.startDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="startDocDate"
							showOn="button">
						</p:calendar>
						<span />
						<h:outputLabel value="-" />
						<span />
						<p:calendar value="#{transactionReportHandler.endDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="endDocDate"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Account No." />
					</p:column>
					<p:column>
						<p:inputText id="inputDocumentNumber" autocomplete="off"
							value="#{transactionReportHandler.accountCodeNumber}"></p:inputText>
					</p:column>
				</p:row>

				<p:row>
					<p:column>
						<h:outputLabel value="Payment Method" />
					</p:column>
					<p:column>
						<p:selectOneMenu value="#{transactionReportHandler.paymentMethod}">
							<f:selectItem itemLabel="ALL" itemValue="" />
							<f:selectItem itemLabel="0 - Overbooking" itemValue="0" />
							<f:selectItem itemLabel="1 - RTGS" itemValue="1" />
							<f:selectItem itemLabel="2 - SKN" itemValue="2" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Transaction Status" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="car"
							value="#{transactionReportHandler.transactionStatus}">
							<f:selectItems value="#{transactionReportHandler.trxStatusList}" />
						</p:selectOneMenu>

					</p:column>
				</p:row>
			</p:panelGrid>

			<!-- SEARCH REJECT FILE -->
			<!-- SEARCH ACCOUNT VALIDATION -->
			<p:panelGrid
				rendered="#{transactionReportHandler.doShowSearch &amp;&amp; transactionReportHandler.doShowReject}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{transactionReportHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{transactionReportHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:450px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Doc Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{transactionReportHandler.startDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="startDocDateReject"
							showOn="button">
						</p:calendar>
						<span />
						<h:outputLabel value="-" />
						<span />
						<p:calendar value="#{transactionReportHandler.endDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="endDocDateReject"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="File Name" />
					</p:column>
					<p:column>
						<p:inputText id="fileNameRejected" autocomplete="off"
							value="#{transactionReportHandler.fileName}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Reject Date" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox
							value="#{transactionReportHandler.checkBox}">
							<p:ajax update="rejectDate" />
						</p:selectBooleanCheckbox>
						<p:calendar value="#{transactionReportHandler.rejectDate}"
							pattern="dd-MMM-yy" navigator="true" id="rejectDate"
							showOn="button"
							disabled="#{transactionReportHandler.disabledRejectedDate}">
						</p:calendar>
					</p:column>
				</p:row>
			</p:panelGrid>

			<!-- SEARCH ACCOUNT VALIDATION -->
			<p:panelGrid
				rendered="#{transactionReportHandler.doShowSearch &amp;&amp; transactionReportHandler.doShowValidation}">
				<f:facet name="header">
					<p:row>
						<p:column style=" border:none;">
							<p:commandButton value="Search" icon="ui-icon-search"
								actionListener="#{transactionReportHandler.doSearch}"
								update=":summaryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
							<p:commandButton value="Clear"
								actionListener="#{transactionReportHandler.clearSearch}"
								update=":searchForm" />
						</p:column>
						<p:column style="width:450px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="Doc Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{transactionReportHandler.startDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="startDocDateValidation"
							showOn="button">
						</p:calendar>
						<span />
						<h:outputLabel value="-" />
						<span />
						<p:calendar value="#{transactionReportHandler.endDocDate}"
							pattern="yyyy-MM-dd" navigator="true" id="endDocDateValidation"
							showOn="button">
						</p:calendar>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="SP2D No." />
					</p:column>
					<p:column>
						<p:inputText id="sp2DNoValidation" autocomplete="off"
							value="#{transactionReportHandler.sp2dNo}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Account No." />
					</p:column>
					<p:column>
						<p:inputText id="inputDocumentNumberValidation" autocomplete="off"
							value="#{transactionReportHandler.accountCodeNumber}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Account Name" />
					</p:column>
					<p:column>
						<p:inputText id="accountNameValidation" autocomplete="off"
							value="#{transactionReportHandler.accountName}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Validation Status" />
					</p:column>
					<p:column>
						<p:selectOneMenu
							value="#{transactionReportHandler.transactionStatus}">
							<f:selectItem itemLabel="ALL" itemValue="" />
							<f:selectItem itemLabel="Valid" itemValue="1" />
							<f:selectItem itemLabel="Tidak Valid" itemValue="2" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="summaryForm">
			<p:dataTable var="report"
				value="#{transactionReportHandler.detailList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="reportTable"
				rendered="#{transactionReportHandler.doShowGaji}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Laporan Penyaluran Gaji PNS Pusat" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink
									action="#{transactionReportHandler.generatePenyaluranGajiXLSReport}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink
									action="#{transactionReportHandler.generatePenyaluranGajiPDFReport}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="No." />
					</f:facet>
					<h:outputText value="#{report.no}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="SP2D No." />
					</f:facet>
					<h:outputText value="#{report.sp2dNo}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Doc. Date" />
					</f:facet>
					<h:outputText value="#{report.docDate}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Time Posting" />
					</f:facet>
					<h:outputText value="#{report.postingTime}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account Name" />
					</f:facet>
					<h:outputText value="#{report.accountName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account No." />
					</f:facet>
					<h:outputText value="#{report.accountNumber}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Amount" />
					</f:facet>
					<h:outputText value="#{report.amount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Branch Code" />
					</f:facet>
					<h:outputText value="#{report.branchCode}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Bank Name" />
					</f:facet>
					<h:outputText value="#{report.bankName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Transaction Status" />
					</f:facet>
					<h:outputText value="#{report.errorMessage}"></h:outputText>
				</p:column>
			</p:dataTable>

			<p:dataTable var="report"
				value="#{transactionReportHandler.detailList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="reportTableReject"
				rendered="#{transactionReportHandler.doShowReject}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Laporan Reject Penyaluran Gaji PNS Pusat" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">
								<h:commandLink
									action="#{transactionReportHandler.generatePenyaluranRejectGajiXLSReport}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink
									action="#{transactionReportHandler.generatePenyaluranRejectGajiPDFReport}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="No." />
					</f:facet>
					<h:outputText value="#{report.no}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="File Name" />
					</f:facet>
					<h:outputText value="#{report.fileName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Doc. Date" />
					</f:facet>
					<h:outputText value="#{report.docDate}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Total Record" />
					</f:facet>
					<h:outputText value="#{report.totalRecord}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Total Amount" />
					</f:facet>
					<h:outputText value="#{report.totalAmount}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Reject Date" />
					</f:facet>
					<h:outputText value="#{report.rejectDate}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Incoming Time" />
					</f:facet>
					<h:outputText value="#{report.incommingTime}"></h:outputText>
				</p:column>
			</p:dataTable>

			<p:dataTable var="report"
				value="#{transactionReportHandler.detailList}" lazy="true"
				paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="reportTableValidation"
				rendered="#{transactionReportHandler.doShowValidation}">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Laporan Hasil Validasi Nama dan Nomor Rekening" /></td>
							<td
								style="border: none; padding: 0px; text-align: right; width: 10%;">

								<h:commandLink
									action="#{transactionReportHandler.generateXLSAccountValidation}">
									<p:graphicImage value="/resources/images/excel.png" width="24" />
								</h:commandLink> <h:commandLink
									action="#{transactionReportHandler.generatePDFAccountValidation}">
									<p:graphicImage value="/resources/images/pdf.png" width="24" />
								</h:commandLink>
							</td>
						</tr>
					</table>
				</f:facet>
				<p:column>
					<f:facet name="header">
						<h:outputText value="No." />
					</f:facet>
					<h:outputText value="#{report.no}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="SP2D No." />
					</f:facet>
					<h:outputText value="#{report.sp2dNo}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Doc. Date" />
					</f:facet>
					<h:outputText value="#{report.docDate}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account Name" />
					</f:facet>
					<h:outputText value="#{report.accountName}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Account No." />
					</f:facet>
					<h:outputText value="#{report.accountNumber}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Branch Code" />
					</f:facet>
					<h:outputText value="#{report.branchCode}"></h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Validation Status" />
					</f:facet>
					<h:outputText value="#{report.status}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>