<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog widgetVar="dlgConfirmInsertAll" id="confirmDlgInsertAll"
			header="Insert All" modal="true" resizable="false">
			<h:form id="insertAllForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to insert all user uploaded?" />
					<h:panelGroup>
						<p:commandButton value="Yes"
							action="#{uploadUserWebHandler.insertAll()}"
							oncomplete="loadingDlg.hide();dlgConfirmInsertAll.hide()"
							update=":contentForm" onclick="loadingDlg.show();" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog header="View Error" id="view" widgetVar="viewRtgs"
			modal="true" position="center">

			<p:dataTable var="error" value="#{uploadUserWebHandler.listError}"
				lazy="true" style="width: 500px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="logRtgsTable">



				<p:column headerText="List Error Detail" style="width: 200px;">
					<h:outputText value="#{error}"></h:outputText>
				</p:column>



			</p:dataTable>
		</p:dialog>
	</ui:define>

	<ui:define name="content">
		<h:form id="uploadForm" enctype="multipart/form-data">
			<p:growl id="message" showDetail="true" />
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:300px; border:none;">Upload File</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<p:fileUpload value="#{uploadUserWebHandler.file}" mode="simple"
							skinSimple="true" />
						<p:commandButton value="Upload" ajax="false"
							actionListener="#{uploadUserWebHandler.uploadFile}"
							update=":formGrowl :contentForm" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide();" />

					</p:column>
				</p:row>

			</p:panelGrid>
		</h:form>



		<h:form id="contentForm">

			<p:dataTable var="user" value="#{uploadUserWebHandler.userList}"
				lazy="true" style="width: 1635px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="contentTable">
				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 450px; border: none; padding: 0px; text-align: left;">
								<p:commandButton icon="ui-icon-disk" value="Save User Uploaded"
									oncomplete="dlgConfirmInsertAll.show();" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="File Content" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="User Id">
					<h:outputText value="#{user.userID}"></h:outputText>
				</p:column>
				<p:column headerText="User Name">
					<h:outputText value="#{user.userName}"></h:outputText>
				</p:column>
				<p:column headerText="Full Name">
					<h:outputText value="#{user.fullName}"></h:outputText>
				</p:column>
				<p:column headerText="Email">
					<h:outputText value="#{user.email}"></h:outputText>
				</p:column>
				<p:column headerText="Division">
					<h:outputText value="#{user.division}"></h:outputText>
				</p:column>
				<p:column headerText="Department">
					<h:outputText value="#{user.department}"></h:outputText>
				</p:column>
				<p:column headerText="Phone">
					<h:outputText value="#{user.phone}"></h:outputText>
				</p:column>
				<p:column headerText="Mobile">
					<h:outputText value="#{user.mobileNumber}"></h:outputText>
				</p:column>
				<p:column headerText="Contact Number">
					<h:outputText value="#{user.contactNumber}"></h:outputText>
				</p:column>
				<p:column headerText="Branch">
					<h:outputText value="#{user.branch}"></h:outputText>
				</p:column>
				<p:column headerText="Teller ID">
					<h:outputText value="#{user.tellerId}"></h:outputText>
				</p:column>
				<p:column headerText="Debit Transaction Limit">
					<h:outputText value="#{user.debitLimitTransaction}"></h:outputText>
				</p:column>
				<p:column headerText="Role">
					<h:outputText value="#{user.roleNameTemp}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>

		<h:form id="listError">
			<p:panelGrid>

				<p:row rendered="#{uploadUserWebHandler.doViewError}">
					<p:column>
						<h:outputLabel value="Error Upload User" />
					</p:column>
				</p:row>
				<p:row rendered="#{uploadUserWebHandler.doViewError}">
					<p:column style="width:125px; border:none;">
						<p:commandButton styleClass="btn" value="Detail" id="detail"
							oncomplete="viewRtgs.show()" />
					</p:column>
				</p:row>

			</p:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>