<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/components/layout.xhtml">

	<ui:define name="content">
		<h:form id="uploadForm" enctype="multipart/form-data">
			<p:panelGrid>
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">Upload File</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<p:fileUpload value="#{uploadBPSWebHandler.file}" mode="simple"
							skinSimple="true" />
						<p:commandButton value="Upload" ajax="false"
							actionListener="#{uploadBPSWebHandler.uploadFile}"
							disabled="false" onclick="loadingDlg.show();"
							oncomplete="loadingDlg.hide();" update=":uploadBPSHistoryForm" />
					</p:column>
				</p:row>

			</p:panelGrid>
		</h:form>

		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{uploadBPSWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{uploadBPSWebHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!uploadBPSWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{uploadBPSWebHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{uploadBPSWebHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:175px; border:none;">
							<p:commandButton value="Search Files" icon="ui-icon-search"
								actionListener="#{uploadBPSWebHandler.doSearch}"
								update=":uploadBPSHistoryForm" onclick="loadingDlg.show()"
								oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="File Name" />
					</p:column>
					<p:column>
						<p:inputText id="fileName" autocomplete="off" label="fileName"
							value="#{uploadBPSWebHandler.fileName}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Upload Date" />
					</p:column>
					<p:column>
						<p:calendar value="#{uploadBPSWebHandler.uploadDate}"
							showOn="button" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Upload By" />
					</p:column>
					<p:column>
						<p:inputText id="uploadBy" autocomplete="off" label="uploadBy"
							value="#{uploadBPSWebHandler.uploadBy}">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:inputText id="status" autocomplete="off" label="status"
							value="#{uploadBPSWebHandler.status}">
						</p:inputText>
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>

		<h:form id="uploadBPSHistoryForm">
			<p:dataTable var="uploadBPSHistory"
				value="#{uploadBPSWebHandler.uploadBPSHistoryList}" lazy="true"
				style="width: 1035px;" paginator="true" rows="10"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="uploadBPSHistoryTable">

				<f:facet name="header">
					<table>
						<tr>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Upload History Data" /></td>
						</tr>
					</table>
				</f:facet>
				<p:column headerText="File Name" style="width: 190px;">
					<h:outputText value="#{uploadBPSHistory.fileName}"></h:outputText>
				</p:column>
				<p:column headerText="File Size (bytes)" style="width: 100px;">
					<h:outputText value="#{uploadBPSHistory.fileSize}"></h:outputText>
				</p:column>
				<p:column headerText="Upload Date" style="width: 100px;">
					<h:outputText value="#{uploadBPSHistory.uploadDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
				<p:column headerText="Upload By" style="width: 120px;">
					<h:outputText value="#{uploadBPSHistory.uploadBy}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 100px;">
					<h:outputText value="#{uploadBPSHistory.status}"></h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>

	</ui:define>

</ui:composition>