<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	template="/resources/components/layout.xhtml">

	<ui:define name="dialog">
		<p:dialog header="View User #{userWebHandler.user.userID}" id="view"
			widgetVar="viewUser" modal="true" resizable="true">
			<h:form id="viewForm">
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-user">
					<f:facet name="header">User's Detail</f:facet>
					<h:outputText value="User Id"></h:outputText>
					<h:outputText value="#{userWebHandler.user.userID}"></h:outputText>

					<h:outputText value="User Name"></h:outputText>
					<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>

					<h:outputText value="Full Name"></h:outputText>
					<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>

					<h:outputText value="Last Login"></h:outputText>
					<h:outputText value="#{userWebHandler.user.lastLogin}"></h:outputText>

					<h:outputText value="Email"></h:outputText>
					<h:outputText value="#{userWebHandler.user.email}"></h:outputText>

					<h:outputText value="Division"></h:outputText>
					<h:outputText value="#{userWebHandler.user.division}"></h:outputText>

					<h:outputText value="Departement"></h:outputText>
					<h:outputText value="#{userWebHandler.user.department}"></h:outputText>

					<h:outputText value="Phone"></h:outputText>
					<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>

					<h:outputText value="Mobile Number"></h:outputText>
					<h:outputText value="#{userWebHandler.user.mobileNumber}"></h:outputText>

					<h:outputText value="Contact Number"></h:outputText>
					<h:outputText value="#{userWebHandler.user.contactNumber}"></h:outputText>

					<h:outputText value="Branch" rendered="false"></h:outputText>
					<h:outputText
						value="#{userWebHandler.user.branchName} - #{userWebHandler.user.branch}"
						rendered="false"></h:outputText>

					<h:outputText rendered="#{userWebHandler.teller}" value="Teller Id"></h:outputText>
					<h:outputText rendered="#{userWebHandler.teller}"
						value="#{userWebHandler.user.tellerId}"></h:outputText>

					<h:outputText rendered="#{userWebHandler.teller}"
						value="Debit Transaction Limit"></h:outputText>
					<h:outputText rendered="#{userWebHandler.teller}"
						value="#{userWebHandler.user.debitLimitTransaction}">
						<f:convertNumber pattern="#,##0.00" />
					</h:outputText>

					<h:outputText value="History"></h:outputText>
					<p:commandLink style="text-decoration:underline" value="Hide"
						icon="ui-icon-search" rendered="#{userWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{userWebHandler.hideHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>
					<p:commandLink style="text-decoration:underline" value="Show"
						icon="ui-icon-search" rendered="#{!userWebHandler.doShowHistory}">
						<p:ajax event="click" listener="#{userWebHandler.showHistory}"
							update=":viewForm ">
						</p:ajax>
					</p:commandLink>
				</p:panelGrid>
				<p:panelGrid columns="2"
					columnClasses="panelGrid-label, panelGrid-value-user"
					rendered="#{userWebHandler.doShowHistory}">
					<f:facet name="header">History</f:facet>
					<h:outputText value="Create Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.createDate}"></h:outputText>

					<h:outputText value="Create By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.createWho}"></h:outputText>

					<h:outputText value="Change Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.changeDate}"></h:outputText>

					<h:outputText value="Change By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.changeWho}"></h:outputText>

					<h:outputText value="Approval Date"></h:outputText>
					<h:outputText value="#{userWebHandler.user.approvalDate}"></h:outputText>

					<h:outputText value="Approval By"></h:outputText>
					<h:outputText value="#{userWebHandler.user.approvalBy}"></h:outputText>

					<h:outputText value="Approval Status"></h:outputText>
					<h:outputText value="#{userWebHandler.user.status}"></h:outputText>
				</p:panelGrid>
				<p:dataList value="#{userWebHandler.rolesName}" var="role">
					<f:facet name="header"> User's Role </f:facet>
					<h:outputText value="#{role}"></h:outputText>
				</p:dataList>

			</h:form>
		</p:dialog>
		<p:dialog header="View User Edit #{userWebHandler.user.userID}"
			id="viewEdit" widgetVar="viewUserEdit" modal="true" resizable="true">
			<h:form id="viewFormEdit">
				<h:panelGrid columns="2" style="vertical-align:top;"
					columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">Current User's Detail</f:facet>
						<h:outputText value="User Id"></h:outputText>
						<h:outputText value="#{userWebHandler.user.userID}"></h:outputText>

						<h:outputText value="User Name"></h:outputText>
						<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>

						<h:outputText value="Full Name"></h:outputText>
						<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>

						<h:outputText value="Last Login"></h:outputText>
						<h:outputText value="#{userWebHandler.user.lastLogin}"></h:outputText>

						<h:outputText value="Email"></h:outputText>
						<h:outputText value="#{userWebHandler.user.email}"></h:outputText>

						<h:outputText value="Division"></h:outputText>
						<h:outputText value="#{userWebHandler.user.division}"></h:outputText>

						<h:outputText value="Departement"></h:outputText>
						<h:outputText value="#{userWebHandler.user.department}"></h:outputText>

						<h:outputText value="Phone"></h:outputText>
						<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>

						<h:outputText value="Mobile Number"></h:outputText>
						<h:outputText value="#{userWebHandler.user.mobileNumber}"></h:outputText>

						<h:outputText value="Contact Number"></h:outputText>
						<h:outputText value="#{userWebHandler.user.contactNumber}"></h:outputText>

						<h:outputText value="Branch" rendered="false"></h:outputText>
						<h:outputText
							value="#{userWebHandler.user.branchName} - #{userWebHandler.user.branch}"
							rendered="false"></h:outputText>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Teller Id"></h:outputText>
						<h:outputText rendered="#{userWebHandler.teller}"
							value="#{userWebHandler.user.tellerId}"></h:outputText>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Debit Transaction Limit"></h:outputText>
						<h:outputText rendered="#{userWebHandler.teller}"
							value="#{userWebHandler.user.debitLimitTransaction}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>

					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">Pending User's Detail</f:facet>
						<h:outputText value="User Id"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.userID}"></h:outputText>

						<h:outputText value="User Name"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.userName}"></h:outputText>

						<h:outputText value="Full Name"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.fullName}"></h:outputText>

						<h:outputText value="Last Login"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.lastLogin}"></h:outputText>

						<h:outputText value="Email"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.email}"></h:outputText>

						<h:outputText value="Division"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.division}"></h:outputText>

						<h:outputText value="Departement"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.department}"></h:outputText>

						<h:outputText value="Phone"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.phone}"></h:outputText>

						<h:outputText value="Mobile Number"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.mobileNumber}"></h:outputText>

						<h:outputText value="Contact Number"></h:outputText>
						<h:outputText value="#{userWebHandler.tempUser.contactNumber}"></h:outputText>

						<h:outputText value="Branch" rendered="false"></h:outputText>
						<h:outputText
							value="#{userWebHandler.tempUser.branchName} - #{userWebHandler.tempUser.branch}"
							rendered="false"></h:outputText>

						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="Teller Id"></h:outputText>
						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="#{userWebHandler.tempUser.tellerId}"></h:outputText>

						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="Debit Transaction Limit"></h:outputText>
						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="#{userWebHandler.tempUser.debitLimitTransaction}">
							<f:convertNumber pattern="#,##0.00" />
						</h:outputText>

					</p:panelGrid>
					<p:dataList value="#{userWebHandler.rolesName}" var="role">
						<f:facet name="header"> Current User's Role </f:facet>
						<h:outputText value="#{role}"></h:outputText>
					</p:dataList>
					<p:dataList value="#{userWebHandler.rolesNamePending}" var="role">
						<f:facet name="header"> Pending User's Role </f:facet>
						<h:outputText value="#{role}"></h:outputText>
					</p:dataList>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit User" id="edit"
			widgetVar="insertOrEditUser" modal="true" resizable="true">
			<h:form id="insertOrEditForm" prependId="false">
				<h:panelGrid id="insertOrEditGrid" columns="2"
					style="vertical-align:top;" columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">User's Detail</f:facet>

						<h:outputText for="userId" value="User Id"></h:outputText>
						<p:column>
							<h:outputText id="userId" value="#{userWebHandler.user.userID}"
								required="true">
							</h:outputText>
							<h:outputText value=" " />
							<h:message for="userId" styleClass="validation-message" />
						</p:column>

						<h:outputText value="User Name *"></h:outputText>
						<p:column>
							<p:inputText id="userName"
								value="#{userWebHandler.user.userName}"
								required="#{!empty param['save']}" maxlength="50">
								<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="userName" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Full Name *"></h:outputText>
						<p:column>
							<p:inputText id="fullName"
								value="#{userWebHandler.user.fullName}"
								required="#{!empty param['save']}" maxlength="50">
								<f:validateRegex pattern="[a-zA-Z0-9 ]+" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="fullName" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Email *"></h:outputText>
						<p:column>
							<p:inputText id="email" value="#{userWebHandler.user.email}"
								maxlength="100" required="#{!empty param['save']}">
								<f:validator validatorId="emailValidator"
									disabled="#{empty param['save']}" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="email" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Division"></h:outputText>
						<p:column>
							<p:inputText id="division"
								value="#{userWebHandler.user.division}" maxlength="50"></p:inputText>
							<h:outputText value=" " />
							<h:message for="division" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Departement"></h:outputText>
						<p:column>
							<p:inputText id="departement"
								value="#{userWebHandler.user.department}" maxlength="50"></p:inputText>
							<h:outputText value=" " />
							<h:message for="departement" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Phone"></h:outputText>
						<p:column>
							<p:inputText id="phone" value="#{userWebHandler.user.phone}"
								maxlength="50">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="phone" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Mobile Number"></h:outputText>
						<p:column>
							<p:inputText id="mobileNumber"
								value="#{userWebHandler.user.mobileNumber}" maxlength="16">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="mobileNumber" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Contact Number"></h:outputText>
						<p:column>
							<p:inputText id="contactNumber"
								value="#{userWebHandler.user.contactNumber}" maxlength="20">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="contactNumber" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Branch *" rendered="false"></h:outputText>
						<p:column rendered="false">
							<p:selectOneMenu id="branch"
								value="#{userWebHandler.user.branch}" filter="true"
								required="#{!empty param['save']}">
								<f:selectItem itemLabel="Select One" />
								<f:selectItems value="#{userWebHandler.branchSelectItem}" />
							</p:selectOneMenu>
							<h:outputText value=" " />
							<h:message for="branch" styleClass="validation-message" />
						</p:column>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Teller Id *"></h:outputText>
						<p:column rendered="#{userWebHandler.teller}">
							<p:inputText id="tellerId"
								value="#{userWebHandler.user.tellerId}"
								required="#{!empty param['save']}" maxlength="50"></p:inputText>
							<h:outputText value=" " />
							<h:message for="tellerId" styleClass="validation-message" />
						</p:column>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Debit Transaction Limit *"></h:outputText>
						<p:column rendered="#{userWebHandler.teller}">
							<pe:inputNumber id="debitTransationLimit"
								value="#{userWebHandler.user.debitLimitTransaction}"
								decimalSeparator="." thousandSeparator=","
								maxValue="999999999999999" required="#{!empty param['save']}">
							</pe:inputNumber>
							<h:outputText value=" " />
							<h:message for="debitTransationLimit"
								styleClass="validation-message" />
						</p:column>

					</p:panelGrid>

					<p:dataTable value="#{userWebHandler.user.roles}" var="role"
						style="width: 300px;" id="roleTable">
						<f:facet name="header">
							<p:commandButton value="Add" icon="ui-icon-plusthick"
								process="@(#insertOrEditGrid :not(.noupdate))"
								disabled="#{!userWebHandler.addUserRole}"
								action="#{userWebHandler.addRoleForm}"
								update=":insertOrEditForm:roleTable">
							</p:commandButton>
							User's Role 
					</f:facet>
						<p:column>
							<p:selectOneMenu value="#{role.role}" filter="true"
								required="#{!empty param['save']}"
								requiredMessage="Role wajib diisi" id="selectRole">
								<f:selectItem itemLabel="Select One" />
								<f:selectItems value="#{userWebHandler.roleSelectItem}" />
								<p:ajax event="change"
									update="roleTable :insertOrEditForm :formGrowl"
									process="@(#insertOrEditGrid :not(.noupdate))"
									listener="#{userWebHandler.checkRole()}" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<h:inputHidden value="#{userWebHandler.action}" />
							<p:commandButton value="Remove" icon="ui-icon-trash"
								process="@(#insertOrEditGrid :not(.noupdate))"
								action="#{userWebHandler.removeRoleForm(role)}"
								update="roleTable :insertOrEditForm " />
						</p:column>
					</p:dataTable>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton id="save" value="Save" icon="ui-icon-disk"
						onclick="loadingDlg.show()" oncomplete="loadingDlg.hide(); "
						actionListener="#{userWebHandler.doSave}"
						update=":insertOrEditForm :userForm"
						disabled="#{!userWebHandler.saveUser}" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditUser.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog header="Insert or Edit User Pending" id="editPending"
			widgetVar="insertOrEditUserPending" modal="true" resizable="true">
			<h:form id="insertOrEditFormPending" prependId="false">
				<h:panelGrid id="insertOrEditGridPending" columns="2"
					style="vertical-align:top;" columnClasses="user-detail,user-role">
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">Current User's Detail</f:facet>
						<h:outputText value="User Id"></h:outputText>
						<h:outputText value="#{userWebHandler.user.userID}"></h:outputText>

						<h:outputText value="User Name"></h:outputText>

						<p:column>
							<h:outputText value="#{userWebHandler.user.userName}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

						<h:outputText value="Full Name"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.fullName}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

						<h:outputText value="Email"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.email}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

						<h:outputText value="Division"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.division}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


						<h:outputText value="Departement"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.department}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


						<h:outputText value="Phone"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.phone}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


						<h:outputText value="Mobile Number"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.mobileNumber}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


						<h:outputText value="Contact Number"></h:outputText>
						<p:column>
							<h:outputText value="#{userWebHandler.user.contactNumber}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


						<h:outputText value="Branch" rendered="false"></h:outputText>
						<p:column rendered="false">
							<h:outputText
								value="#{userWebHandler.user.branchName} - #{userWebHandler.user.branch}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Teller Id"></h:outputText>
						<p:column rendered="#{userWebHandler.teller}">
							<h:outputText value="#{userWebHandler.user.tellerId}"></h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>

						<h:outputText rendered="#{userWebHandler.teller}"
							value="Debit Transaction Limit"></h:outputText>
						<p:column rendered="#{userWebHandler.teller}">
							<h:outputText
								value="#{userWebHandler.user.debitLimitTransaction}">
								<f:convertNumber pattern="#,##0.00" />
							</h:outputText>
							<p:inputText size="1" style="visibility:hidden">
							</p:inputText>
						</p:column>


					</p:panelGrid>
					<p:panelGrid columns="2"
						columnClasses="panelGrid-label, panelGrid-value-user">
						<f:facet name="header">Pending User's Detail</f:facet>
						<h:outputText for="userId" value="User Id"></h:outputText>

						<p:column>
							<h:outputText id="userIdPending"
								value="#{userWebHandler.tempUser.userID}" required="true">
							</h:outputText>
							<h:outputText value=" " />
							<h:message for="userIdPending" styleClass="validation-message" />
						</p:column>


						<h:outputText value="User Name"></h:outputText>
						<p:column>
							<p:inputText id="userNamePending"
								value="#{userWebHandler.tempUser.userName}"
								required="#{!empty param['savePending']}" maxlength="50">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="userNamePending" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Full Name"></h:outputText>
						<p:column>
							<p:inputText id="fullNamePending"
								value="#{userWebHandler.tempUser.fullName}"
								required="#{!empty param['savePending']}" maxlength="50">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="fullNamePending" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Email"></h:outputText>
						<p:column>
							<p:inputText id="emailPending"
								value="#{userWebHandler.tempUser.email}" maxlength="100">
								<f:validator validatorId="emailValidator"
									disabled="#{empty param['savePending']}" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="emailPending" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Division"></h:outputText>
						<p:column>
							<p:inputText id="divisionPending"
								value="#{userWebHandler.tempUser.division}" maxlength="50"></p:inputText>
							<h:outputText value=" " />
							<h:message for="divisionPending" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Departement"></h:outputText>
						<p:column>
							<p:inputText id="departementPending"
								value="#{userWebHandler.tempUser.department}" maxlength="50"></p:inputText>
							<h:outputText value=" " />
							<h:message for="departementPending"
								styleClass="validation-message" />
						</p:column>

						<h:outputText value="Phone"></h:outputText>
						<p:column>
							<p:inputText id="phonePending"
								value="#{userWebHandler.tempUser.phone}" maxlength="50">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="phonePending" styleClass="validation-message" />
						</p:column>

						<h:outputText value="Mobile Number"></h:outputText>
						<p:column>
							<p:inputText id="mobileNumberPending"
								value="#{userWebHandler.tempUser.mobileNumber}" maxlength="16">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="mobileNumberPending"
								styleClass="validation-message" />
						</p:column>

						<h:outputText value="Contact Number"></h:outputText>
						<p:column>
							<p:inputText id="contactNumberPending"
								value="#{userWebHandler.tempUser.contactNumber}" maxlength="20">
								<f:validator validatorId="numberValidator" />
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="contactNumberPending"
								styleClass="validation-message" />
						</p:column>

						<h:outputText value="Branch" rendered="false"></h:outputText>
						<p:column rendered="false">
							<p:selectOneMenu id="branchPending"
								value="#{userWebHandler.tempUser.branch}" filter="true"
								required="true">
								<f:selectItem itemLabel="Select One" />
								<f:selectItems value="#{userWebHandler.branchSelectItem}" />
							</p:selectOneMenu>
							<h:outputText value=" " />
							<h:message for="branchPending" styleClass="validation-message" />
						</p:column>

						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="Teller Id"></h:outputText>
						<p:column rendered="#{userWebHandler.tellerTemp}">
							<p:inputText id="tellerIdPending"
								value="#{userWebHandler.tempUser.tellerId}"
								required="#{!empty param['savePending']}" maxlength="50">
							</p:inputText>
							<h:outputText value=" " />
							<h:message for="tellerIdPending" styleClass="validation-message" />
						</p:column>

						<h:outputText rendered="#{userWebHandler.tellerTemp}"
							value="Debit Transaction Limit"></h:outputText>
						<p:column rendered="#{userWebHandler.tellerTemp}">
							<pe:inputNumber id="debitTransationLimitPending"
								value="#{userWebHandler.tempUser.debitLimitTransaction}"
								decimalSeparator="." thousandSeparator=","
								maxValue="999999999999999"
								required="#{!empty param['savePending']}">
							</pe:inputNumber>
							<h:outputText value=" " />
							<h:message for="debitTransationLimitPending"
								styleClass="validation-message" />
						</p:column>
					</p:panelGrid>
					<p:dataList value="#{userWebHandler.rolesName}" var="role">
						<f:facet name="header">
							<p:commandButton value="A" style="visibility:hidden" />
							Current User's Role </f:facet>
						<h:outputText value="#{role}"></h:outputText>
					</p:dataList>
					<p:dataTable value="#{userWebHandler.tempUser.roles}" var="role"
						id="roleTablePending">
						<f:facet name="header">
							<p:commandButton value="Add" icon="ui-icon-plusthick"
								process="@(#insertOrEditGridPending :not(.noupdate))"
								action="#{userWebHandler.addRoleFormTemp}"
								update=":insertOrEditFormPending:roleTablePending" /> 
							Pending User's Role 
					</f:facet>
						<p:column>
							<p:selectOneMenu value="#{role.role}" filter="true"
								required="#{!empty param['savePending']}"
								requiredMessage="Role wajib diisi" id="selectRole">
								<f:selectItem itemLabel="Select One" />
								<f:selectItems value="#{userWebHandler.roleSelectItem}" />
								<p:ajax event="change"
									update="roleTablePending :insertOrEditFormPending :formGrowl"
									process="@(#insertOrEditGridPending :not(.noupdate))"
									listener="#{userWebHandler.checkRolePending()}" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<h:inputHidden value="#{userWebHandler.action}" />
							<p:commandButton value="Remove" icon="ui-icon-trash"
								process="@(#insertOrEditGridPending :not(.noupdate))"
								action="#{userWebHandler.removeRoleFormTemp(role)}"
								update="roleTablePending :insertOrEditFormPending" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>

				<div class="ui-widget-header ui-corner-all"
					style="text-align: center; padding: 5px;">
					<p:commandButton id="savePending" value="Save" icon="ui-icon-disk"
						onclick="loadingDlg.show()" oncomplete="loadingDlg.hide(); "
						actionListener="#{userWebHandler.doSave}"
						update=":insertOrEditFormPending :userForm" />
					<p:commandButton value="Cancel" icon="ui-icon-cancel"
						onclick="insertOrEditUserPending.hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog widgetVar="dlgConfirm" id="confirmDlg" header="Delete User"
			modal="true" resizable="false">
			<h:form id="deleteUserForm">
				<h:panelGrid>
					<h:outputText styleClass="ui-confirm-dialog"
						value="Do you want to delete user #{userWebHandler.user.userID}?" />
					<h:panelGroup>
						<p:commandButton value="Yes" action="#{userWebHandler.deleteUser}"
							oncomplete="dlgConfirm.hide()" update=":userForm" />
						<p:commandButton value="No" onclick="dlgConfirm.hide()" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>

	<ui:define name="content">
		<h:form id="searchForm">
			<p:commandLink value="(x) close" icon="ui-icon-search"
				rendered="#{userWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{userWebHandler.hideSearch}"
					update=":searchForm">
				</p:ajax>
			</p:commandLink>
			<p:commandLink value="(+) search" icon="ui-icon-search"
				rendered="#{!userWebHandler.doShowSearch}">
				<p:ajax event="click" listener="#{userWebHandler.showSearch}"
					update=":searchForm ">
				</p:ajax>
			</p:commandLink>
			<p:panelGrid rendered="#{userWebHandler.doShowSearch}">
				<f:facet name="header">
					<p:row>
						<p:column style="width:125px; border:none;">
							<p:commandButton value="Search Users" icon="ui-icon-search"
								actionListener="#{userWebHandler.doSearch}" update=":userForm"
								onclick="loadingDlg.show()" oncomplete="loadingDlg.hide()" />
						</p:column>
						<p:column style="width:125px; border:none;">Search Category</p:column>
					</p:row>
				</f:facet>
				<p:row>
					<p:column>
						<h:outputLabel value="User Id" />
					</p:column>
					<p:column>
						<p:inputText id="userId" autocomplete="off" label="userId"
							value="#{userWebHandler.userId}" maxlength="100">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="User Name" />
					</p:column>
					<p:column>
						<p:inputText id="userName" autocomplete="off" label="userName"
							value="#{userWebHandler.userName}" maxlength="50">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Full Name" />
					</p:column>
					<p:column>
						<p:inputText id="fullName" autocomplete="off" label="fullName"
							value="#{userWebHandler.fullName}" maxlength="50">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<h:outputLabel value="Role Name" />
					</p:column>
					<p:column>
						<p:inputText id="role" autocomplete="off" label="role"
							value="#{userWebHandler.role}" maxlength="100">
						</p:inputText>
					</p:column>
				</p:row>
				<p:row>
					<p:column style="width:125px; border:none;">
						<h:outputLabel value="Status" />
					</p:column>
					<p:column>
						<p:selectBooleanCheckbox value="#{userWebHandler.pending}"
							label="Pending" itemLabel="Pending" />
						<br />
						<p:selectBooleanCheckbox value="#{userWebHandler.approved}"
							label="Approved" itemLabel="Approved" />
						<br />
						<p:selectBooleanCheckbox value="#{userWebHandler.rejected}"
							label="Rejected" itemLabel="Rejected" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</h:form>
		<h:form id="userForm">
			<p:dataTable var="user" value="#{userWebHandler.userList}"
				lazy="true" style="width: 1035px;" paginator="true" rows="15"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" id="userTable">

				<f:facet name="header">
					<table>
						<tr>
							<td
								style="width: 400px; border: none; padding: 0px; text-align: left;">
								<p:commandButton oncomplete="insertOrEditUser.show()"
									icon="ui-icon-plusthick" styleClass="btn" value="Create User"
									action="#{userWebHandler.newUser}" update=":insertOrEditForm" />
							</td>
							<td style="border: none; padding: 0px; text-align: left;"><p:outputLabel
									value="Users Data" /></td>
						</tr>
					</table>
				</f:facet>

				<p:column headerText="User Id" style="width: 190px;">
					<h:outputText value="#{user.userID}"></h:outputText>
				</p:column>
				<p:column headerText="User Name" style="width: 100px;">
					<h:outputText value="#{user.userName}"></h:outputText>
				</p:column>
				<p:column headerText="Full Name">
					<h:outputText value="#{user.fullName}"></h:outputText>
				</p:column>
				<p:column headerText="Branch" style="width: 70px;" rendered="false">
					<h:outputText value="#{user.branch}"></h:outputText>
				</p:column>
				<p:column headerText="Status" style="width: 120px;">
					<h:outputText value="#{user.status}"></h:outputText>
				</p:column>
				<p:column headerText="Action" style="width: 125px;">
					<p:outputLabel style="visibility:hidden" value="mii" />
					<p:commandLink
						style="color:#F85000; font-weight:bold ; text-decoration:underline"
						value="View" icon="ui-icon-person"
						actionListener="#{userWebHandler.viewDetailedUser(user)}"
						update=":viewForm :viewFormEdit">
					</p:commandLink>
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Edit" icon="ui-icon-pencil"
						actionListener="#{userWebHandler.viewDetailedUserEdit(user)}"
						update=":insertOrEditForm :insertOrEditFormPending :userForm " />
					<p:outputLabel style="visibility:hidden" value="mi" />
					<p:commandLink
						style="color:#F85000; font-style:italic ; text-decoration:underline"
						value="Delete" icon="ui-icon-close"
						actionListener="#{userWebHandler.viewDetailedDelete(user)}"
						update=" :deleteUserForm :userForm" />
					<p:outputLabel style="visibility:hidden" value="mii" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>