<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/resources/components/layout.xhtml">
	<ui:define name="dialog">
	</ui:define>

	<ui:define name="content">
		<p:spacer width="100" height="50" />
		<strong>Hi <h:outputText styleClass="welcome"
				value="#{sessionBean.user.fullName}" /></strong>
		<br />
		<p:spacer width="100" height="50" />
		<h:outputText styleClass="welcome-msg"
			value="Selamat datang di website Sistem Perbendaharaan dan Anggaran Negara untuk Bank BJB" />
	</ui:define>
</ui:composition>